
/* animate svg */

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
  }



  /* animate text svg */
  svg.svgwave {
    width: 100%;
    height: auto;
    overflow: visible;
}

svg.svgwave path {
    fill:transparent;
    stroke:red;
    stroke-width:1px;
}

svg.svgwave text {
    font-size:20px;
    fill: black;
}