@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100dvh;
  overflow-y: auto;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8705882353);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #121212;
  height: 64px;
  z-index: 2;
}

.menu {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 0.8705882353);
  text-decoration: none;
}

nav a,
nav .menu a {
  margin: 8px;
  font-size: 1.2rem;
  font-weight: 700;
}

.burgerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
}

.intro {
  overflow-x: hidden;
}
.intro h1 {
  font-size: 96px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  margin: 0;
  max-width: 500px;
}

.scatterIntro .letter {
  transition: all 0.1s ease-in-out 0.1s;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.texts .project .letter,
.menu .letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.menu .scatterMsg,
.texts .project .scatterMsg {
  z-index: 2;
}
.menu .scatterMsg:hover, .menu .scatterMsg:focus,
.texts .project .scatterMsg:hover,
.texts .project .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.menu .scatterMsg:hover:hover, .menu .scatterMsg:hover:focus, .menu .scatterMsg:focus:hover, .menu .scatterMsg:focus:focus,
.texts .project .scatterMsg:hover:hover,
.texts .project .scatterMsg:hover:focus,
.texts .project .scatterMsg:focus:hover,
.texts .project .scatterMsg:focus:focus {
  opacity: 1;
}
.menu .scatterMsg:hover:hover .letter::before, .menu .scatterMsg:hover:focus .letter::before, .menu .scatterMsg:focus:hover .letter::before, .menu .scatterMsg:focus:focus .letter::before,
.texts .project .scatterMsg:hover:hover .letter::before,
.texts .project .scatterMsg:hover:focus .letter::before,
.texts .project .scatterMsg:focus:hover .letter::before,
.texts .project .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1), .menu .scatterMsg:hover:focus .letter:nth-child(1), .menu .scatterMsg:focus:hover .letter:nth-child(1), .menu .scatterMsg:focus:focus .letter:nth-child(1),
.texts .project .scatterMsg:hover:hover .letter:nth-child(1),
.texts .project .scatterMsg:hover:focus .letter:nth-child(1),
.texts .project .scatterMsg:focus:hover .letter:nth-child(1),
.texts .project .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: 17;
  --y: 4;
  --r: 9;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1):hover, .menu .scatterMsg:hover:hover .letter:nth-child(1):focus, .menu .scatterMsg:hover:focus .letter:nth-child(1):hover, .menu .scatterMsg:hover:focus .letter:nth-child(1):focus, .menu .scatterMsg:focus:hover .letter:nth-child(1):hover, .menu .scatterMsg:focus:hover .letter:nth-child(1):focus, .menu .scatterMsg:focus:focus .letter:nth-child(1):hover, .menu .scatterMsg:focus:focus .letter:nth-child(1):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(1):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(1):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(1):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(1):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(1):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(1):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(1):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -8;
  --y: 9;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2), .menu .scatterMsg:hover:focus .letter:nth-child(2), .menu .scatterMsg:focus:hover .letter:nth-child(2), .menu .scatterMsg:focus:focus .letter:nth-child(2),
.texts .project .scatterMsg:hover:hover .letter:nth-child(2),
.texts .project .scatterMsg:hover:focus .letter:nth-child(2),
.texts .project .scatterMsg:focus:hover .letter:nth-child(2),
.texts .project .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 2;
  --y: -10;
  --r: 14;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2):hover, .menu .scatterMsg:hover:hover .letter:nth-child(2):focus, .menu .scatterMsg:hover:focus .letter:nth-child(2):hover, .menu .scatterMsg:hover:focus .letter:nth-child(2):focus, .menu .scatterMsg:focus:hover .letter:nth-child(2):hover, .menu .scatterMsg:focus:hover .letter:nth-child(2):focus, .menu .scatterMsg:focus:focus .letter:nth-child(2):hover, .menu .scatterMsg:focus:focus .letter:nth-child(2):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(2):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(2):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(2):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(2):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(2):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(2):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(2):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 3;
  --y: -3;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3), .menu .scatterMsg:hover:focus .letter:nth-child(3), .menu .scatterMsg:focus:hover .letter:nth-child(3), .menu .scatterMsg:focus:focus .letter:nth-child(3),
.texts .project .scatterMsg:hover:hover .letter:nth-child(3),
.texts .project .scatterMsg:hover:focus .letter:nth-child(3),
.texts .project .scatterMsg:focus:hover .letter:nth-child(3),
.texts .project .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: 12;
  --y: -12;
  --r: 20;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3):hover, .menu .scatterMsg:hover:hover .letter:nth-child(3):focus, .menu .scatterMsg:hover:focus .letter:nth-child(3):hover, .menu .scatterMsg:hover:focus .letter:nth-child(3):focus, .menu .scatterMsg:focus:hover .letter:nth-child(3):hover, .menu .scatterMsg:focus:hover .letter:nth-child(3):focus, .menu .scatterMsg:focus:focus .letter:nth-child(3):hover, .menu .scatterMsg:focus:focus .letter:nth-child(3):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(3):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(3):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(3):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(3):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(3):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(3):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(3):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -1;
  --y: 7;
  --r: 10;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4), .menu .scatterMsg:hover:focus .letter:nth-child(4), .menu .scatterMsg:focus:hover .letter:nth-child(4), .menu .scatterMsg:focus:focus .letter:nth-child(4),
.texts .project .scatterMsg:hover:hover .letter:nth-child(4),
.texts .project .scatterMsg:hover:focus .letter:nth-child(4),
.texts .project .scatterMsg:focus:hover .letter:nth-child(4),
.texts .project .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 11;
  --y: -4;
  --r: -11;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4):hover, .menu .scatterMsg:hover:hover .letter:nth-child(4):focus, .menu .scatterMsg:hover:focus .letter:nth-child(4):hover, .menu .scatterMsg:hover:focus .letter:nth-child(4):focus, .menu .scatterMsg:focus:hover .letter:nth-child(4):hover, .menu .scatterMsg:focus:hover .letter:nth-child(4):focus, .menu .scatterMsg:focus:focus .letter:nth-child(4):hover, .menu .scatterMsg:focus:focus .letter:nth-child(4):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(4):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(4):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(4):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(4):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(4):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(4):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(4):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 0;
  --y: 6;
  --r: 1;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5), .menu .scatterMsg:hover:focus .letter:nth-child(5), .menu .scatterMsg:focus:hover .letter:nth-child(5), .menu .scatterMsg:focus:focus .letter:nth-child(5),
.texts .project .scatterMsg:hover:hover .letter:nth-child(5),
.texts .project .scatterMsg:hover:focus .letter:nth-child(5),
.texts .project .scatterMsg:focus:hover .letter:nth-child(5),
.texts .project .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: 0;
  --y: -18;
  --r: -8;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5):hover, .menu .scatterMsg:hover:hover .letter:nth-child(5):focus, .menu .scatterMsg:hover:focus .letter:nth-child(5):hover, .menu .scatterMsg:hover:focus .letter:nth-child(5):focus, .menu .scatterMsg:focus:hover .letter:nth-child(5):hover, .menu .scatterMsg:focus:hover .letter:nth-child(5):focus, .menu .scatterMsg:focus:focus .letter:nth-child(5):hover, .menu .scatterMsg:focus:focus .letter:nth-child(5):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(5):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(5):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(5):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(5):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(5):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(5):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(5):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 10;
  --y: -1;
  --r: 9;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6), .menu .scatterMsg:hover:focus .letter:nth-child(6), .menu .scatterMsg:focus:hover .letter:nth-child(6), .menu .scatterMsg:focus:focus .letter:nth-child(6),
.texts .project .scatterMsg:hover:hover .letter:nth-child(6),
.texts .project .scatterMsg:hover:focus .letter:nth-child(6),
.texts .project .scatterMsg:focus:hover .letter:nth-child(6),
.texts .project .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 15;
  --y: -4;
  --r: -16;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6):hover, .menu .scatterMsg:hover:hover .letter:nth-child(6):focus, .menu .scatterMsg:hover:focus .letter:nth-child(6):hover, .menu .scatterMsg:hover:focus .letter:nth-child(6):focus, .menu .scatterMsg:focus:hover .letter:nth-child(6):hover, .menu .scatterMsg:focus:hover .letter:nth-child(6):focus, .menu .scatterMsg:focus:focus .letter:nth-child(6):hover, .menu .scatterMsg:focus:focus .letter:nth-child(6):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(6):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(6):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(6):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(6):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(6):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(6):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(6):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 2;
  --y: 2;
  --r: -7;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7), .menu .scatterMsg:hover:focus .letter:nth-child(7), .menu .scatterMsg:focus:hover .letter:nth-child(7), .menu .scatterMsg:focus:focus .letter:nth-child(7),
.texts .project .scatterMsg:hover:hover .letter:nth-child(7),
.texts .project .scatterMsg:hover:focus .letter:nth-child(7),
.texts .project .scatterMsg:focus:hover .letter:nth-child(7),
.texts .project .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 13;
  --y: 19;
  --r: -15;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7):hover, .menu .scatterMsg:hover:hover .letter:nth-child(7):focus, .menu .scatterMsg:hover:focus .letter:nth-child(7):hover, .menu .scatterMsg:hover:focus .letter:nth-child(7):focus, .menu .scatterMsg:focus:hover .letter:nth-child(7):hover, .menu .scatterMsg:focus:hover .letter:nth-child(7):focus, .menu .scatterMsg:focus:focus .letter:nth-child(7):hover, .menu .scatterMsg:focus:focus .letter:nth-child(7):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(7):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(7):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(7):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(7):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(7):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(7):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(7):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: -6;
  --r: -2;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8), .menu .scatterMsg:hover:focus .letter:nth-child(8), .menu .scatterMsg:focus:hover .letter:nth-child(8), .menu .scatterMsg:focus:focus .letter:nth-child(8),
.texts .project .scatterMsg:hover:hover .letter:nth-child(8),
.texts .project .scatterMsg:hover:focus .letter:nth-child(8),
.texts .project .scatterMsg:focus:hover .letter:nth-child(8),
.texts .project .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 1;
  --y: -7;
  --r: 6;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8):hover, .menu .scatterMsg:hover:hover .letter:nth-child(8):focus, .menu .scatterMsg:hover:focus .letter:nth-child(8):hover, .menu .scatterMsg:hover:focus .letter:nth-child(8):focus, .menu .scatterMsg:focus:hover .letter:nth-child(8):hover, .menu .scatterMsg:focus:hover .letter:nth-child(8):focus, .menu .scatterMsg:focus:focus .letter:nth-child(8):hover, .menu .scatterMsg:focus:focus .letter:nth-child(8):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(8):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(8):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(8):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(8):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(8):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(8):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(8):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 6;
  --y: -4;
  --r: 4;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9), .menu .scatterMsg:hover:focus .letter:nth-child(9), .menu .scatterMsg:focus:hover .letter:nth-child(9), .menu .scatterMsg:focus:focus .letter:nth-child(9),
.texts .project .scatterMsg:hover:hover .letter:nth-child(9),
.texts .project .scatterMsg:hover:focus .letter:nth-child(9),
.texts .project .scatterMsg:focus:hover .letter:nth-child(9),
.texts .project .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: -17;
  --y: -13;
  --r: -17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9):hover, .menu .scatterMsg:hover:hover .letter:nth-child(9):focus, .menu .scatterMsg:hover:focus .letter:nth-child(9):hover, .menu .scatterMsg:hover:focus .letter:nth-child(9):focus, .menu .scatterMsg:focus:hover .letter:nth-child(9):hover, .menu .scatterMsg:focus:hover .letter:nth-child(9):focus, .menu .scatterMsg:focus:focus .letter:nth-child(9):hover, .menu .scatterMsg:focus:focus .letter:nth-child(9):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(9):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(9):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(9):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(9):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(9):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(9):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(9):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 9;
  --y: 7;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10), .menu .scatterMsg:hover:focus .letter:nth-child(10), .menu .scatterMsg:focus:hover .letter:nth-child(10), .menu .scatterMsg:focus:focus .letter:nth-child(10),
.texts .project .scatterMsg:hover:hover .letter:nth-child(10),
.texts .project .scatterMsg:hover:focus .letter:nth-child(10),
.texts .project .scatterMsg:focus:hover .letter:nth-child(10),
.texts .project .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: -12;
  --y: 16;
  --r: -13;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10):hover, .menu .scatterMsg:hover:hover .letter:nth-child(10):focus, .menu .scatterMsg:hover:focus .letter:nth-child(10):hover, .menu .scatterMsg:hover:focus .letter:nth-child(10):focus, .menu .scatterMsg:focus:hover .letter:nth-child(10):hover, .menu .scatterMsg:focus:hover .letter:nth-child(10):focus, .menu .scatterMsg:focus:focus .letter:nth-child(10):hover, .menu .scatterMsg:focus:focus .letter:nth-child(10):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(10):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(10):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(10):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(10):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(10):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(10):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(10):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -6;
  --y: 4;
  --r: 3;
  --s: 1.25;
}

.projectsContainer {
  margin-top: 72px;
  width: 100%;
  max-width: 100%;
  height: 90dvh;
  overflow-y: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}

a.project:nth-child(odd) {
  padding: 48px 16px;
}

a.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 16px;
}

.projectTitle {
  display: flex;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
}

.number {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}

.year {
  margin: 8px;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.projectImg {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img.verticalImg {
  width: auto;
  height: 100%;
}

.projectImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brightImg {
  opacity: 0.7;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
  margin-right: 24px;
}
.scatterMsg:hover, .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.scatterMsg:hover:hover, .scatterMsg:hover:focus, .scatterMsg:focus:hover, .scatterMsg:focus:focus {
  opacity: 1;
}
.scatterMsg:hover:hover .letter::before, .scatterMsg:hover:focus .letter::before, .scatterMsg:focus:hover .letter::before, .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.scatterMsg:hover:hover .letter:nth-child(1), .scatterMsg:hover:focus .letter:nth-child(1), .scatterMsg:focus:hover .letter:nth-child(1), .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: 19;
  --y: -1134;
  --r: 8;
}
.scatterMsg:hover:hover .letter:nth-child(1):hover, .scatterMsg:hover:focus .letter:nth-child(1):hover, .scatterMsg:focus:hover .letter:nth-child(1):hover, .scatterMsg:focus:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -68;
  --y: -78;
  --r: 8;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(2), .scatterMsg:hover:focus .letter:nth-child(2), .scatterMsg:focus:hover .letter:nth-child(2), .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 86;
  --y: -369;
  --r: 123;
}
.scatterMsg:hover:hover .letter:nth-child(2):hover, .scatterMsg:hover:focus .letter:nth-child(2):hover, .scatterMsg:focus:hover .letter:nth-child(2):hover, .scatterMsg:focus:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -677;
  --y: -184;
  --r: -210;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(3), .scatterMsg:hover:focus .letter:nth-child(3), .scatterMsg:focus:hover .letter:nth-child(3), .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: 55;
  --y: -1346;
  --r: 153;
}
.scatterMsg:hover:hover .letter:nth-child(3):hover, .scatterMsg:hover:focus .letter:nth-child(3):hover, .scatterMsg:focus:hover .letter:nth-child(3):hover, .scatterMsg:focus:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -123;
  --y: -663;
  --r: 2;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(4), .scatterMsg:hover:focus .letter:nth-child(4), .scatterMsg:focus:hover .letter:nth-child(4), .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 39;
  --y: -591;
  --r: 341;
}
.scatterMsg:hover:hover .letter:nth-child(4):hover, .scatterMsg:hover:focus .letter:nth-child(4):hover, .scatterMsg:focus:hover .letter:nth-child(4):hover, .scatterMsg:focus:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -516;
  --y: 59;
  --r: -331;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(5), .scatterMsg:hover:focus .letter:nth-child(5), .scatterMsg:focus:hover .letter:nth-child(5), .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: 78;
  --y: -1354;
  --r: 204;
}
.scatterMsg:hover:hover .letter:nth-child(5):hover, .scatterMsg:hover:focus .letter:nth-child(5):hover, .scatterMsg:focus:hover .letter:nth-child(5):hover, .scatterMsg:focus:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -570;
  --y: -184;
  --r: -542;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(6), .scatterMsg:hover:focus .letter:nth-child(6), .scatterMsg:focus:hover .letter:nth-child(6), .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 79;
  --y: -1120;
  --r: 317;
}
.scatterMsg:hover:hover .letter:nth-child(6):hover, .scatterMsg:hover:focus .letter:nth-child(6):hover, .scatterMsg:focus:hover .letter:nth-child(6):hover, .scatterMsg:focus:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -172;
  --y: -345;
  --r: -533;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(7), .scatterMsg:hover:focus .letter:nth-child(7), .scatterMsg:focus:hover .letter:nth-child(7), .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 5;
  --y: -581;
  --r: 336;
}
.scatterMsg:hover:hover .letter:nth-child(7):hover, .scatterMsg:hover:focus .letter:nth-child(7):hover, .scatterMsg:focus:hover .letter:nth-child(7):hover, .scatterMsg:focus:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -326;
  --y: -354;
  --r: -332;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(8), .scatterMsg:hover:focus .letter:nth-child(8), .scatterMsg:focus:hover .letter:nth-child(8), .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 45;
  --y: -281;
  --r: 321;
}
.scatterMsg:hover:hover .letter:nth-child(8):hover, .scatterMsg:hover:focus .letter:nth-child(8):hover, .scatterMsg:focus:hover .letter:nth-child(8):hover, .scatterMsg:focus:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -197;
  --y: -313;
  --r: 63;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(9), .scatterMsg:hover:focus .letter:nth-child(9), .scatterMsg:focus:hover .letter:nth-child(9), .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: 36;
  --y: -1270;
  --r: 102;
}
.scatterMsg:hover:hover .letter:nth-child(9):hover, .scatterMsg:hover:focus .letter:nth-child(9):hover, .scatterMsg:focus:hover .letter:nth-child(9):hover, .scatterMsg:focus:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -400;
  --y: -259;
  --r: 86;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(10), .scatterMsg:hover:focus .letter:nth-child(10), .scatterMsg:focus:hover .letter:nth-child(10), .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: 23;
  --y: -1063;
  --r: 142;
}
.scatterMsg:hover:hover .letter:nth-child(10):hover, .scatterMsg:hover:focus .letter:nth-child(10):hover, .scatterMsg:focus:hover .letter:nth-child(10):hover, .scatterMsg:focus:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -565;
  --y: -592;
  --r: 69;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(11), .scatterMsg:hover:focus .letter:nth-child(11), .scatterMsg:focus:hover .letter:nth-child(11), .scatterMsg:focus:focus .letter:nth-child(11) {
  --x: 83;
  --y: -39;
  --r: 164;
}
.scatterMsg:hover:hover .letter:nth-child(11):hover, .scatterMsg:hover:focus .letter:nth-child(11):hover, .scatterMsg:focus:hover .letter:nth-child(11):hover, .scatterMsg:focus:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -332;
  --y: -129;
  --r: -117;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(12), .scatterMsg:hover:focus .letter:nth-child(12), .scatterMsg:focus:hover .letter:nth-child(12), .scatterMsg:focus:focus .letter:nth-child(12) {
  --x: 29;
  --y: -905;
  --r: 202;
}
.scatterMsg:hover:hover .letter:nth-child(12):hover, .scatterMsg:hover:focus .letter:nth-child(12):hover, .scatterMsg:focus:hover .letter:nth-child(12):hover, .scatterMsg:focus:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -548;
  --y: -37;
  --r: -235;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(13), .scatterMsg:hover:focus .letter:nth-child(13), .scatterMsg:focus:hover .letter:nth-child(13), .scatterMsg:focus:focus .letter:nth-child(13) {
  --x: 48;
  --y: 55;
  --r: 349;
}
.scatterMsg:hover:hover .letter:nth-child(13):hover, .scatterMsg:hover:focus .letter:nth-child(13):hover, .scatterMsg:focus:hover .letter:nth-child(13):hover, .scatterMsg:focus:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 15;
  --y: -641;
  --r: -40;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(14), .scatterMsg:hover:focus .letter:nth-child(14), .scatterMsg:focus:hover .letter:nth-child(14), .scatterMsg:focus:focus .letter:nth-child(14) {
  --x: 39;
  --y: 41;
  --r: 126;
}
.scatterMsg:hover:hover .letter:nth-child(14):hover, .scatterMsg:hover:focus .letter:nth-child(14):hover, .scatterMsg:focus:hover .letter:nth-child(14):hover, .scatterMsg:focus:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -60;
  --y: -132;
  --r: 8;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(15), .scatterMsg:hover:focus .letter:nth-child(15), .scatterMsg:focus:hover .letter:nth-child(15), .scatterMsg:focus:focus .letter:nth-child(15) {
  --x: 62;
  --y: -431;
  --r: 237;
}
.scatterMsg:hover:hover .letter:nth-child(15):hover, .scatterMsg:hover:focus .letter:nth-child(15):hover, .scatterMsg:focus:hover .letter:nth-child(15):hover, .scatterMsg:focus:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -279;
  --y: -385;
  --r: -467;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(16), .scatterMsg:hover:focus .letter:nth-child(16), .scatterMsg:focus:hover .letter:nth-child(16), .scatterMsg:focus:focus .letter:nth-child(16) {
  --x: 67;
  --y: -633;
  --r: 1;
}
.scatterMsg:hover:hover .letter:nth-child(16):hover, .scatterMsg:hover:focus .letter:nth-child(16):hover, .scatterMsg:focus:hover .letter:nth-child(16):hover, .scatterMsg:focus:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -77;
  --y: -484;
  --r: -539;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(17), .scatterMsg:hover:focus .letter:nth-child(17), .scatterMsg:focus:hover .letter:nth-child(17), .scatterMsg:focus:focus .letter:nth-child(17) {
  --x: -24;
  --y: -951;
  --r: 349;
}
.scatterMsg:hover:hover .letter:nth-child(17):hover, .scatterMsg:hover:focus .letter:nth-child(17):hover, .scatterMsg:focus:hover .letter:nth-child(17):hover, .scatterMsg:focus:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -465;
  --y: -689;
  --r: 83;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(18), .scatterMsg:hover:focus .letter:nth-child(18), .scatterMsg:focus:hover .letter:nth-child(18), .scatterMsg:focus:focus .letter:nth-child(18) {
  --x: 37;
  --y: -1111;
  --r: 49;
}
.scatterMsg:hover:hover .letter:nth-child(18):hover, .scatterMsg:hover:focus .letter:nth-child(18):hover, .scatterMsg:focus:hover .letter:nth-child(18):hover, .scatterMsg:focus:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -89;
  --y: -541;
  --r: -527;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(19), .scatterMsg:hover:focus .letter:nth-child(19), .scatterMsg:focus:hover .letter:nth-child(19), .scatterMsg:focus:focus .letter:nth-child(19) {
  --x: 76;
  --y: -1046;
  --r: 168;
}
.scatterMsg:hover:hover .letter:nth-child(19):hover, .scatterMsg:hover:focus .letter:nth-child(19):hover, .scatterMsg:focus:hover .letter:nth-child(19):hover, .scatterMsg:focus:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -56;
  --y: -414;
  --r: -315;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(20), .scatterMsg:hover:focus .letter:nth-child(20), .scatterMsg:focus:hover .letter:nth-child(20), .scatterMsg:focus:focus .letter:nth-child(20) {
  --x: 85;
  --y: -184;
  --r: 19;
}
.scatterMsg:hover:hover .letter:nth-child(20):hover, .scatterMsg:hover:focus .letter:nth-child(20):hover, .scatterMsg:focus:hover .letter:nth-child(20):hover, .scatterMsg:focus:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 38;
  --y: -267;
  --r: -258;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(21), .scatterMsg:hover:focus .letter:nth-child(21), .scatterMsg:focus:hover .letter:nth-child(21), .scatterMsg:focus:focus .letter:nth-child(21) {
  --x: 38;
  --y: -543;
  --r: 40;
}
.scatterMsg:hover:hover .letter:nth-child(21):hover, .scatterMsg:hover:focus .letter:nth-child(21):hover, .scatterMsg:focus:hover .letter:nth-child(21):hover, .scatterMsg:focus:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -665;
  --y: 99;
  --r: -144;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(22), .scatterMsg:hover:focus .letter:nth-child(22), .scatterMsg:focus:hover .letter:nth-child(22), .scatterMsg:focus:focus .letter:nth-child(22) {
  --x: -17;
  --y: 72;
  --r: 100;
}
.scatterMsg:hover:hover .letter:nth-child(22):hover, .scatterMsg:hover:focus .letter:nth-child(22):hover, .scatterMsg:focus:hover .letter:nth-child(22):hover, .scatterMsg:focus:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -245;
  --y: 12;
  --r: -3;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(23), .scatterMsg:hover:focus .letter:nth-child(23), .scatterMsg:focus:hover .letter:nth-child(23), .scatterMsg:focus:focus .letter:nth-child(23) {
  --x: 20;
  --y: -77;
  --r: 20;
}
.scatterMsg:hover:hover .letter:nth-child(23):hover, .scatterMsg:hover:focus .letter:nth-child(23):hover, .scatterMsg:focus:hover .letter:nth-child(23):hover, .scatterMsg:focus:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -355;
  --y: -578;
  --r: -196;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(24), .scatterMsg:hover:focus .letter:nth-child(24), .scatterMsg:focus:hover .letter:nth-child(24), .scatterMsg:focus:focus .letter:nth-child(24) {
  --x: -29;
  --y: -1309;
  --r: 295;
}
.scatterMsg:hover:hover .letter:nth-child(24):hover, .scatterMsg:hover:focus .letter:nth-child(24):hover, .scatterMsg:focus:hover .letter:nth-child(24):hover, .scatterMsg:focus:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -275;
  --y: 79;
  --r: -248;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(25), .scatterMsg:hover:focus .letter:nth-child(25), .scatterMsg:focus:hover .letter:nth-child(25), .scatterMsg:focus:focus .letter:nth-child(25) {
  --x: -22;
  --y: -1149;
  --r: 231;
}
.scatterMsg:hover:hover .letter:nth-child(25):hover, .scatterMsg:hover:focus .letter:nth-child(25):hover, .scatterMsg:focus:hover .letter:nth-child(25):hover, .scatterMsg:focus:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -47;
  --y: -682;
  --r: -159;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(26), .scatterMsg:hover:focus .letter:nth-child(26), .scatterMsg:focus:hover .letter:nth-child(26), .scatterMsg:focus:focus .letter:nth-child(26) {
  --x: 15;
  --y: -686;
  --r: 36;
}
.scatterMsg:hover:hover .letter:nth-child(26):hover, .scatterMsg:hover:focus .letter:nth-child(26):hover, .scatterMsg:focus:hover .letter:nth-child(26):hover, .scatterMsg:focus:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -505;
  --y: -90;
  --r: -101;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(27), .scatterMsg:hover:focus .letter:nth-child(27), .scatterMsg:focus:hover .letter:nth-child(27), .scatterMsg:focus:focus .letter:nth-child(27) {
  --x: 16;
  --y: -483;
  --r: 30;
}
.scatterMsg:hover:hover .letter:nth-child(27):hover, .scatterMsg:hover:focus .letter:nth-child(27):hover, .scatterMsg:focus:hover .letter:nth-child(27):hover, .scatterMsg:focus:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -45;
  --y: -546;
  --r: -589;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(28), .scatterMsg:hover:focus .letter:nth-child(28), .scatterMsg:focus:hover .letter:nth-child(28), .scatterMsg:focus:focus .letter:nth-child(28) {
  --x: -13;
  --y: -170;
  --r: 249;
}
.scatterMsg:hover:hover .letter:nth-child(28):hover, .scatterMsg:hover:focus .letter:nth-child(28):hover, .scatterMsg:focus:hover .letter:nth-child(28):hover, .scatterMsg:focus:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 71;
  --y: -100;
  --r: 91;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(29), .scatterMsg:hover:focus .letter:nth-child(29), .scatterMsg:focus:hover .letter:nth-child(29), .scatterMsg:focus:focus .letter:nth-child(29) {
  --x: 75;
  --y: -1078;
  --r: 32;
}
.scatterMsg:hover:hover .letter:nth-child(29):hover, .scatterMsg:hover:focus .letter:nth-child(29):hover, .scatterMsg:focus:hover .letter:nth-child(29):hover, .scatterMsg:focus:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -126;
  --y: -21;
  --r: -112;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(30), .scatterMsg:hover:focus .letter:nth-child(30), .scatterMsg:focus:hover .letter:nth-child(30), .scatterMsg:focus:focus .letter:nth-child(30) {
  --x: 59;
  --y: -801;
  --r: 112;
}
.scatterMsg:hover:hover .letter:nth-child(30):hover, .scatterMsg:hover:focus .letter:nth-child(30):hover, .scatterMsg:focus:hover .letter:nth-child(30):hover, .scatterMsg:focus:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -320;
  --y: -229;
  --r: -456;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(31), .scatterMsg:hover:focus .letter:nth-child(31), .scatterMsg:focus:hover .letter:nth-child(31), .scatterMsg:focus:focus .letter:nth-child(31) {
  --x: -10;
  --y: -835;
  --r: 210;
}
.scatterMsg:hover:hover .letter:nth-child(31):hover, .scatterMsg:hover:focus .letter:nth-child(31):hover, .scatterMsg:focus:hover .letter:nth-child(31):hover, .scatterMsg:focus:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 89;
  --y: -37;
  --r: -161;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(32), .scatterMsg:hover:focus .letter:nth-child(32), .scatterMsg:focus:hover .letter:nth-child(32), .scatterMsg:focus:focus .letter:nth-child(32) {
  --x: -31;
  --y: -1340;
  --r: 108;
}
.scatterMsg:hover:hover .letter:nth-child(32):hover, .scatterMsg:hover:focus .letter:nth-child(32):hover, .scatterMsg:focus:hover .letter:nth-child(32):hover, .scatterMsg:focus:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -192;
  --y: -533;
  --r: -140;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(33), .scatterMsg:hover:focus .letter:nth-child(33), .scatterMsg:focus:hover .letter:nth-child(33), .scatterMsg:focus:focus .letter:nth-child(33) {
  --x: 68;
  --y: -789;
  --r: 338;
}
.scatterMsg:hover:hover .letter:nth-child(33):hover, .scatterMsg:hover:focus .letter:nth-child(33):hover, .scatterMsg:focus:hover .letter:nth-child(33):hover, .scatterMsg:focus:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -558;
  --y: -223;
  --r: -161;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(34), .scatterMsg:hover:focus .letter:nth-child(34), .scatterMsg:focus:hover .letter:nth-child(34), .scatterMsg:focus:focus .letter:nth-child(34) {
  --x: -31;
  --y: -688;
  --r: 129;
}
.scatterMsg:hover:hover .letter:nth-child(34):hover, .scatterMsg:hover:focus .letter:nth-child(34):hover, .scatterMsg:focus:hover .letter:nth-child(34):hover, .scatterMsg:focus:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -682;
  --y: -259;
  --r: -259;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(35), .scatterMsg:hover:focus .letter:nth-child(35), .scatterMsg:focus:hover .letter:nth-child(35), .scatterMsg:focus:focus .letter:nth-child(35) {
  --x: 17;
  --y: 70;
  --r: 193;
}
.scatterMsg:hover:hover .letter:nth-child(35):hover, .scatterMsg:hover:focus .letter:nth-child(35):hover, .scatterMsg:focus:hover .letter:nth-child(35):hover, .scatterMsg:focus:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -1;
  --y: -554;
  --r: -243;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(36), .scatterMsg:hover:focus .letter:nth-child(36), .scatterMsg:focus:hover .letter:nth-child(36), .scatterMsg:focus:focus .letter:nth-child(36) {
  --x: 81;
  --y: -604;
  --r: 246;
}
.scatterMsg:hover:hover .letter:nth-child(36):hover, .scatterMsg:hover:focus .letter:nth-child(36):hover, .scatterMsg:focus:hover .letter:nth-child(36):hover, .scatterMsg:focus:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -32;
  --y: -592;
  --r: -479;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(37), .scatterMsg:hover:focus .letter:nth-child(37), .scatterMsg:focus:hover .letter:nth-child(37), .scatterMsg:focus:focus .letter:nth-child(37) {
  --x: 48;
  --y: -1307;
  --r: 257;
}
.scatterMsg:hover:hover .letter:nth-child(37):hover, .scatterMsg:hover:focus .letter:nth-child(37):hover, .scatterMsg:focus:hover .letter:nth-child(37):hover, .scatterMsg:focus:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -49;
  --y: 96;
  --r: -460;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(38), .scatterMsg:hover:focus .letter:nth-child(38), .scatterMsg:focus:hover .letter:nth-child(38), .scatterMsg:focus:focus .letter:nth-child(38) {
  --x: 56;
  --y: 81;
  --r: 149;
}
.scatterMsg:hover:hover .letter:nth-child(38):hover, .scatterMsg:hover:focus .letter:nth-child(38):hover, .scatterMsg:focus:hover .letter:nth-child(38):hover, .scatterMsg:focus:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -217;
  --y: -272;
  --r: -42;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(39), .scatterMsg:hover:focus .letter:nth-child(39), .scatterMsg:focus:hover .letter:nth-child(39), .scatterMsg:focus:focus .letter:nth-child(39) {
  --x: -19;
  --y: -983;
  --r: 165;
}
.scatterMsg:hover:hover .letter:nth-child(39):hover, .scatterMsg:hover:focus .letter:nth-child(39):hover, .scatterMsg:focus:hover .letter:nth-child(39):hover, .scatterMsg:focus:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -214;
  --y: 97;
  --r: -21;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(40), .scatterMsg:hover:focus .letter:nth-child(40), .scatterMsg:focus:hover .letter:nth-child(40), .scatterMsg:focus:focus .letter:nth-child(40) {
  --x: 49;
  --y: -1068;
  --r: 134;
}
.scatterMsg:hover:hover .letter:nth-child(40):hover, .scatterMsg:hover:focus .letter:nth-child(40):hover, .scatterMsg:focus:hover .letter:nth-child(40):hover, .scatterMsg:focus:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 22;
  --y: -246;
  --r: -602;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(41), .scatterMsg:hover:focus .letter:nth-child(41), .scatterMsg:focus:hover .letter:nth-child(41), .scatterMsg:focus:focus .letter:nth-child(41) {
  --x: 77;
  --y: -1063;
  --r: 242;
}
.scatterMsg:hover:hover .letter:nth-child(41):hover, .scatterMsg:hover:focus .letter:nth-child(41):hover, .scatterMsg:focus:hover .letter:nth-child(41):hover, .scatterMsg:focus:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -28;
  --y: -6;
  --r: -461;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(42), .scatterMsg:hover:focus .letter:nth-child(42), .scatterMsg:focus:hover .letter:nth-child(42), .scatterMsg:focus:focus .letter:nth-child(42) {
  --x: 10;
  --y: -1207;
  --r: 352;
}
.scatterMsg:hover:hover .letter:nth-child(42):hover, .scatterMsg:hover:focus .letter:nth-child(42):hover, .scatterMsg:focus:hover .letter:nth-child(42):hover, .scatterMsg:focus:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -670;
  --y: -115;
  --r: -86;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(43), .scatterMsg:hover:focus .letter:nth-child(43), .scatterMsg:focus:hover .letter:nth-child(43), .scatterMsg:focus:focus .letter:nth-child(43) {
  --x: 3;
  --y: -216;
  --r: 189;
}
.scatterMsg:hover:hover .letter:nth-child(43):hover, .scatterMsg:hover:focus .letter:nth-child(43):hover, .scatterMsg:focus:hover .letter:nth-child(43):hover, .scatterMsg:focus:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -507;
  --y: -614;
  --r: -315;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(44), .scatterMsg:hover:focus .letter:nth-child(44), .scatterMsg:focus:hover .letter:nth-child(44), .scatterMsg:focus:focus .letter:nth-child(44) {
  --x: 36;
  --y: -408;
  --r: 106;
}
.scatterMsg:hover:hover .letter:nth-child(44):hover, .scatterMsg:hover:focus .letter:nth-child(44):hover, .scatterMsg:focus:hover .letter:nth-child(44):hover, .scatterMsg:focus:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 94;
  --y: -660;
  --r: -158;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(45), .scatterMsg:hover:focus .letter:nth-child(45), .scatterMsg:focus:hover .letter:nth-child(45), .scatterMsg:focus:focus .letter:nth-child(45) {
  --x: 86;
  --y: -207;
  --r: 208;
}
.scatterMsg:hover:hover .letter:nth-child(45):hover, .scatterMsg:hover:focus .letter:nth-child(45):hover, .scatterMsg:focus:hover .letter:nth-child(45):hover, .scatterMsg:focus:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -405;
  --y: -15;
  --r: 64;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(46), .scatterMsg:hover:focus .letter:nth-child(46), .scatterMsg:focus:hover .letter:nth-child(46), .scatterMsg:focus:focus .letter:nth-child(46) {
  --x: -13;
  --y: -710;
  --r: 87;
}
.scatterMsg:hover:hover .letter:nth-child(46):hover, .scatterMsg:hover:focus .letter:nth-child(46):hover, .scatterMsg:focus:hover .letter:nth-child(46):hover, .scatterMsg:focus:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -516;
  --y: -697;
  --r: -551;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(47), .scatterMsg:hover:focus .letter:nth-child(47), .scatterMsg:focus:hover .letter:nth-child(47), .scatterMsg:focus:focus .letter:nth-child(47) {
  --x: 97;
  --y: -13;
  --r: 342;
}
.scatterMsg:hover:hover .letter:nth-child(47):hover, .scatterMsg:hover:focus .letter:nth-child(47):hover, .scatterMsg:focus:hover .letter:nth-child(47):hover, .scatterMsg:focus:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -478;
  --y: -581;
  --r: -538;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(48), .scatterMsg:hover:focus .letter:nth-child(48), .scatterMsg:focus:hover .letter:nth-child(48), .scatterMsg:focus:focus .letter:nth-child(48) {
  --x: -16;
  --y: -422;
  --r: 120;
}
.scatterMsg:hover:hover .letter:nth-child(48):hover, .scatterMsg:hover:focus .letter:nth-child(48):hover, .scatterMsg:focus:hover .letter:nth-child(48):hover, .scatterMsg:focus:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -428;
  --y: -16;
  --r: -682;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(49), .scatterMsg:hover:focus .letter:nth-child(49), .scatterMsg:focus:hover .letter:nth-child(49), .scatterMsg:focus:focus .letter:nth-child(49) {
  --x: 84;
  --y: -783;
  --r: 105;
}
.scatterMsg:hover:hover .letter:nth-child(49):hover, .scatterMsg:hover:focus .letter:nth-child(49):hover, .scatterMsg:focus:hover .letter:nth-child(49):hover, .scatterMsg:focus:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -595;
  --y: -593;
  --r: -381;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(50), .scatterMsg:hover:focus .letter:nth-child(50), .scatterMsg:focus:hover .letter:nth-child(50), .scatterMsg:focus:focus .letter:nth-child(50) {
  --x: -14;
  --y: -1325;
  --r: 111;
}
.scatterMsg:hover:hover .letter:nth-child(50):hover, .scatterMsg:hover:focus .letter:nth-child(50):hover, .scatterMsg:focus:hover .letter:nth-child(50):hover, .scatterMsg:focus:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -531;
  --y: -211;
  --r: 62;
  --s: 1.8;
}

.testHome {
  padding: 24px;
}

.texts a.project {
  margin: 16px;
  padding: 0;
}
.texts .projectsContainer {
  display: flex;
  flex-direction: column;
}
.texts .projectInfo {
  display: flex;
  flex-direction: column;
}
.texts .number {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: none;
  font-size: 96px;
}
.texts a.project:hover .number {
  display: block;
}

.about h1 {
  margin: 24px;
  margin-left: 144px;
}
.about p {
  max-width: 500px;
  margin: 24px;
  margin-left: 144px;
}
.about .scatterIntro {
  margin-left: 144px;
  font-size: 24px;
}

@media only screen and (max-width: 700px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
  }
  .scatterMsg {
    font-size: 1.5rem;
  }
  nav {
    position: static;
    min-height: 56px;
    z-index: 5;
    flex-direction: column;
  }
  .burgerMenu {
    width: 100%;
    min-height: 56px;
    background-color: transparent;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: auto;
    background-color: #222222;
  }
  .menu a {
    margin-right: 16px;
  }
  .intro {
    overflow-x: hidden;
  }
  .intro h1 {
    font-size: 64px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    margin: 0;
    max-width: 360px;
  }
}/*# sourceMappingURL=introStyle.css.map */