@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8705882353);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: #121212;
  height: 64px;
  z-index: 10;
}

.menu {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 0.8705882353);
  text-decoration: none;
}

nav a,
nav .menu a {
  margin: 8px;
  font-size: 1.2rem;
  font-weight: 700;
}

.burgerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
}

.intro {
  overflow-x: hidden;
}
.intro .introContainer {
  width: 100vw;
  height: 96vh;
}
.intro h1 {
  font-size: 96px;
  position: absolute;
  bottom: 24px;
  left: 32px;
  margin: 0;
}
.intro .scatterIntro {
  display: flex;
  flex-wrap: wrap;
}
.intro .scatterIntro .word {
  margin-right: 24px;
}

.guide {
  border-right: 3px solid rgba(255, 255, 255, 0.8705882353);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 16px;
  right: 16px;
  height: auto;
}
.guide .guideControl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}
.guide .guideControl .icon {
  height: 16px;
  margin: 0 4px;
}
.guide .guideControl p {
  margin: 0 4px;
  text-align: right;
}

.projectView {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.projectView h1 {
  font-size: 96px;
}
.projectView .projectDescription {
  max-width: 600px;
  padding: 0 24px;
  box-sizing: border-box;
}
.projectView .leftCol,
.projectView .rightCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectView .leftCol {
  flex: 2;
}
.projectView .rightCol {
  align-items: flex-end;
  flex: 1;
}
.projectView .projectLinks {
  margin: 24px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.projectView .projectCredits {
  width: 300px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  border-left: 3px solid rgba(255, 255, 255, 0.8705882353);
  margin: 16px 0;
}
.projectView .productionInfo {
  width: 300px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  border-left: 3px solid rgba(255, 255, 255, 0.8705882353);
  margin: 24px 0;
}
.projectView h3 {
  margin: 0 0 8px;
}
.projectView .projectImgs {
  padding: 32px 0;
  width: 96vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 144px;
}
.projectView .projectImgs .scatterIntro {
  font-size: 64px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.projectView .projectImgs .imgLines {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.projectView .projectImgs .imgLines:nth-child(1) {
  left: 30vw;
  width: 60vw;
}
.projectView .projectImgs .imgLines:nth-child(1) .scatterIntro {
  top: -48px;
  left: -64px;
}
.projectView .projectImgs .imgLines:nth-child(2) {
  left: 8px;
  width: 30vw;
}
.projectView .projectImgs .imgLines:nth-child(2) .scatterIntro {
  top: -96px;
  left: 25vw;
}
.projectView .projectImgs .imgLines:nth-child(3) {
  left: 30vw;
  width: 60vw;
}
.projectView .projectImgs .imgLines:nth-child(3) .scatterIntro {
  top: -56px;
  left: 10vw;
}
.projectView .projectImgs .imgLines:nth-child(4) {
  left: 0;
  width: 45vw;
}
.projectView .projectImgs .imgLines:nth-child(4) .scatterIntro {
  top: -200px;
  right: 30vw;
}
.projectView .projectImgs .imgLines:nth-child(5) {
  left: 25vw;
  width: 65vw;
}
.projectView .projectImgs .imgLines:nth-child(5) .scatterIntro {
  top: -100px;
  right: 35vw;
}

.scatterIntro .letter {
  transition: all 0.1s ease-in-out 0.1s;
}

.about main {
  margin-top: 96px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.texts .project .letter,
.menu .letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.menu .scatterMsg,
.texts .project .scatterMsg {
  z-index: 2;
}
.menu .scatterMsg:hover, .menu .scatterMsg:focus,
.texts .project .scatterMsg:hover,
.texts .project .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.menu .scatterMsg:hover:hover, .menu .scatterMsg:hover:focus, .menu .scatterMsg:focus:hover, .menu .scatterMsg:focus:focus,
.texts .project .scatterMsg:hover:hover,
.texts .project .scatterMsg:hover:focus,
.texts .project .scatterMsg:focus:hover,
.texts .project .scatterMsg:focus:focus {
  opacity: 1;
}
.menu .scatterMsg:hover:hover .letter::before, .menu .scatterMsg:hover:focus .letter::before, .menu .scatterMsg:focus:hover .letter::before, .menu .scatterMsg:focus:focus .letter::before,
.texts .project .scatterMsg:hover:hover .letter::before,
.texts .project .scatterMsg:hover:focus .letter::before,
.texts .project .scatterMsg:focus:hover .letter::before,
.texts .project .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1), .menu .scatterMsg:hover:focus .letter:nth-child(1), .menu .scatterMsg:focus:hover .letter:nth-child(1), .menu .scatterMsg:focus:focus .letter:nth-child(1),
.texts .project .scatterMsg:hover:hover .letter:nth-child(1),
.texts .project .scatterMsg:hover:focus .letter:nth-child(1),
.texts .project .scatterMsg:focus:hover .letter:nth-child(1),
.texts .project .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: -13;
  --y: -8;
  --r: 18;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1):hover, .menu .scatterMsg:hover:hover .letter:nth-child(1):focus, .menu .scatterMsg:hover:focus .letter:nth-child(1):hover, .menu .scatterMsg:hover:focus .letter:nth-child(1):focus, .menu .scatterMsg:focus:hover .letter:nth-child(1):hover, .menu .scatterMsg:focus:hover .letter:nth-child(1):focus, .menu .scatterMsg:focus:focus .letter:nth-child(1):hover, .menu .scatterMsg:focus:focus .letter:nth-child(1):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(1):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(1):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(1):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(1):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(1):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(1):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(1):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -8;
  --y: -8;
  --r: -4;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2), .menu .scatterMsg:hover:focus .letter:nth-child(2), .menu .scatterMsg:focus:hover .letter:nth-child(2), .menu .scatterMsg:focus:focus .letter:nth-child(2),
.texts .project .scatterMsg:hover:hover .letter:nth-child(2),
.texts .project .scatterMsg:hover:focus .letter:nth-child(2),
.texts .project .scatterMsg:focus:hover .letter:nth-child(2),
.texts .project .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: -17;
  --y: -18;
  --r: 4;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2):hover, .menu .scatterMsg:hover:hover .letter:nth-child(2):focus, .menu .scatterMsg:hover:focus .letter:nth-child(2):hover, .menu .scatterMsg:hover:focus .letter:nth-child(2):focus, .menu .scatterMsg:focus:hover .letter:nth-child(2):hover, .menu .scatterMsg:focus:hover .letter:nth-child(2):focus, .menu .scatterMsg:focus:focus .letter:nth-child(2):hover, .menu .scatterMsg:focus:focus .letter:nth-child(2):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(2):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(2):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(2):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(2):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(2):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(2):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(2):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: 9;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3), .menu .scatterMsg:hover:focus .letter:nth-child(3), .menu .scatterMsg:focus:hover .letter:nth-child(3), .menu .scatterMsg:focus:focus .letter:nth-child(3),
.texts .project .scatterMsg:hover:hover .letter:nth-child(3),
.texts .project .scatterMsg:hover:focus .letter:nth-child(3),
.texts .project .scatterMsg:focus:hover .letter:nth-child(3),
.texts .project .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: -5;
  --y: 19;
  --r: -17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3):hover, .menu .scatterMsg:hover:hover .letter:nth-child(3):focus, .menu .scatterMsg:hover:focus .letter:nth-child(3):hover, .menu .scatterMsg:hover:focus .letter:nth-child(3):focus, .menu .scatterMsg:focus:hover .letter:nth-child(3):hover, .menu .scatterMsg:focus:hover .letter:nth-child(3):focus, .menu .scatterMsg:focus:focus .letter:nth-child(3):hover, .menu .scatterMsg:focus:focus .letter:nth-child(3):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(3):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(3):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(3):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(3):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(3):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(3):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(3):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -7;
  --y: -6;
  --r: 0;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4), .menu .scatterMsg:hover:focus .letter:nth-child(4), .menu .scatterMsg:focus:hover .letter:nth-child(4), .menu .scatterMsg:focus:focus .letter:nth-child(4),
.texts .project .scatterMsg:hover:hover .letter:nth-child(4),
.texts .project .scatterMsg:hover:focus .letter:nth-child(4),
.texts .project .scatterMsg:focus:hover .letter:nth-child(4),
.texts .project .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: -2;
  --y: 0;
  --r: 19;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4):hover, .menu .scatterMsg:hover:hover .letter:nth-child(4):focus, .menu .scatterMsg:hover:focus .letter:nth-child(4):hover, .menu .scatterMsg:hover:focus .letter:nth-child(4):focus, .menu .scatterMsg:focus:hover .letter:nth-child(4):hover, .menu .scatterMsg:focus:hover .letter:nth-child(4):focus, .menu .scatterMsg:focus:focus .letter:nth-child(4):hover, .menu .scatterMsg:focus:focus .letter:nth-child(4):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(4):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(4):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(4):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(4):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(4):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(4):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(4):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 10;
  --y: -2;
  --r: -8;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5), .menu .scatterMsg:hover:focus .letter:nth-child(5), .menu .scatterMsg:focus:hover .letter:nth-child(5), .menu .scatterMsg:focus:focus .letter:nth-child(5),
.texts .project .scatterMsg:hover:hover .letter:nth-child(5),
.texts .project .scatterMsg:hover:focus .letter:nth-child(5),
.texts .project .scatterMsg:focus:hover .letter:nth-child(5),
.texts .project .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: -13;
  --y: -6;
  --r: 11;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5):hover, .menu .scatterMsg:hover:hover .letter:nth-child(5):focus, .menu .scatterMsg:hover:focus .letter:nth-child(5):hover, .menu .scatterMsg:hover:focus .letter:nth-child(5):focus, .menu .scatterMsg:focus:hover .letter:nth-child(5):hover, .menu .scatterMsg:focus:hover .letter:nth-child(5):focus, .menu .scatterMsg:focus:focus .letter:nth-child(5):hover, .menu .scatterMsg:focus:focus .letter:nth-child(5):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(5):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(5):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(5):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(5):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(5):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(5):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(5):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 7;
  --y: -7;
  --r: 8;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6), .menu .scatterMsg:hover:focus .letter:nth-child(6), .menu .scatterMsg:focus:hover .letter:nth-child(6), .menu .scatterMsg:focus:focus .letter:nth-child(6),
.texts .project .scatterMsg:hover:hover .letter:nth-child(6),
.texts .project .scatterMsg:hover:focus .letter:nth-child(6),
.texts .project .scatterMsg:focus:hover .letter:nth-child(6),
.texts .project .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 1;
  --y: -4;
  --r: -3;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6):hover, .menu .scatterMsg:hover:hover .letter:nth-child(6):focus, .menu .scatterMsg:hover:focus .letter:nth-child(6):hover, .menu .scatterMsg:hover:focus .letter:nth-child(6):focus, .menu .scatterMsg:focus:hover .letter:nth-child(6):hover, .menu .scatterMsg:focus:hover .letter:nth-child(6):focus, .menu .scatterMsg:focus:focus .letter:nth-child(6):hover, .menu .scatterMsg:focus:focus .letter:nth-child(6):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(6):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(6):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(6):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(6):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(6):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(6):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(6):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 5;
  --y: 10;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7), .menu .scatterMsg:hover:focus .letter:nth-child(7), .menu .scatterMsg:focus:hover .letter:nth-child(7), .menu .scatterMsg:focus:focus .letter:nth-child(7),
.texts .project .scatterMsg:hover:hover .letter:nth-child(7),
.texts .project .scatterMsg:hover:focus .letter:nth-child(7),
.texts .project .scatterMsg:focus:hover .letter:nth-child(7),
.texts .project .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: -17;
  --y: -3;
  --r: 17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7):hover, .menu .scatterMsg:hover:hover .letter:nth-child(7):focus, .menu .scatterMsg:hover:focus .letter:nth-child(7):hover, .menu .scatterMsg:hover:focus .letter:nth-child(7):focus, .menu .scatterMsg:focus:hover .letter:nth-child(7):hover, .menu .scatterMsg:focus:hover .letter:nth-child(7):focus, .menu .scatterMsg:focus:focus .letter:nth-child(7):hover, .menu .scatterMsg:focus:focus .letter:nth-child(7):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(7):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(7):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(7):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(7):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(7):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(7):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(7):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 5;
  --y: 1;
  --r: 9;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8), .menu .scatterMsg:hover:focus .letter:nth-child(8), .menu .scatterMsg:focus:hover .letter:nth-child(8), .menu .scatterMsg:focus:focus .letter:nth-child(8),
.texts .project .scatterMsg:hover:hover .letter:nth-child(8),
.texts .project .scatterMsg:hover:focus .letter:nth-child(8),
.texts .project .scatterMsg:focus:hover .letter:nth-child(8),
.texts .project .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 13;
  --y: 5;
  --r: -13;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8):hover, .menu .scatterMsg:hover:hover .letter:nth-child(8):focus, .menu .scatterMsg:hover:focus .letter:nth-child(8):hover, .menu .scatterMsg:hover:focus .letter:nth-child(8):focus, .menu .scatterMsg:focus:hover .letter:nth-child(8):hover, .menu .scatterMsg:focus:hover .letter:nth-child(8):focus, .menu .scatterMsg:focus:focus .letter:nth-child(8):hover, .menu .scatterMsg:focus:focus .letter:nth-child(8):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(8):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(8):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(8):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(8):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(8):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(8):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(8):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 2;
  --y: -2;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9), .menu .scatterMsg:hover:focus .letter:nth-child(9), .menu .scatterMsg:focus:hover .letter:nth-child(9), .menu .scatterMsg:focus:focus .letter:nth-child(9),
.texts .project .scatterMsg:hover:hover .letter:nth-child(9),
.texts .project .scatterMsg:hover:focus .letter:nth-child(9),
.texts .project .scatterMsg:focus:hover .letter:nth-child(9),
.texts .project .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: -14;
  --y: 4;
  --r: 17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9):hover, .menu .scatterMsg:hover:hover .letter:nth-child(9):focus, .menu .scatterMsg:hover:focus .letter:nth-child(9):hover, .menu .scatterMsg:hover:focus .letter:nth-child(9):focus, .menu .scatterMsg:focus:hover .letter:nth-child(9):hover, .menu .scatterMsg:focus:hover .letter:nth-child(9):focus, .menu .scatterMsg:focus:focus .letter:nth-child(9):hover, .menu .scatterMsg:focus:focus .letter:nth-child(9):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(9):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(9):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(9):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(9):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(9):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(9):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(9):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 6;
  --y: 7;
  --r: 5;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10), .menu .scatterMsg:hover:focus .letter:nth-child(10), .menu .scatterMsg:focus:hover .letter:nth-child(10), .menu .scatterMsg:focus:focus .letter:nth-child(10),
.texts .project .scatterMsg:hover:hover .letter:nth-child(10),
.texts .project .scatterMsg:hover:focus .letter:nth-child(10),
.texts .project .scatterMsg:focus:hover .letter:nth-child(10),
.texts .project .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: 15;
  --y: 11;
  --r: -13;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10):hover, .menu .scatterMsg:hover:hover .letter:nth-child(10):focus, .menu .scatterMsg:hover:focus .letter:nth-child(10):hover, .menu .scatterMsg:hover:focus .letter:nth-child(10):focus, .menu .scatterMsg:focus:hover .letter:nth-child(10):hover, .menu .scatterMsg:focus:hover .letter:nth-child(10):focus, .menu .scatterMsg:focus:focus .letter:nth-child(10):hover, .menu .scatterMsg:focus:focus .letter:nth-child(10):focus,
.texts .project .scatterMsg:hover:hover .letter:nth-child(10):hover,
.texts .project .scatterMsg:hover:hover .letter:nth-child(10):focus,
.texts .project .scatterMsg:hover:focus .letter:nth-child(10):hover,
.texts .project .scatterMsg:hover:focus .letter:nth-child(10):focus,
.texts .project .scatterMsg:focus:hover .letter:nth-child(10):hover,
.texts .project .scatterMsg:focus:hover .letter:nth-child(10):focus,
.texts .project .scatterMsg:focus:focus .letter:nth-child(10):hover,
.texts .project .scatterMsg:focus:focus .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -7;
  --y: -8;
  --r: -4;
  --s: 1.25;
}

.projectsContainer {
  margin-top: 72px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}
.projectsContainer h1 {
  font-size: 64px;
  margin: 24px;
}

a.project:nth-child(odd) {
  padding: 48px 0;
}

a.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 16px;
}

.projectTitle {
  display: flex;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.number {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}

.year {
  margin: 8px;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.projectImg {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img.verticalImg {
  width: auto;
  height: 100%;
}

.projectImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brightImg {
  opacity: 0.7;
}

.texts .projectsContainer {
  padding-left: 64px;
}

.projectsGrid h1 {
  margin: 96px 32px 24px;
  font-size: 64px;
}
.projectsGrid .projectsContainer {
  margin-top: 0;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 8px;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
  margin-right: 24px;
  display: flex;
  flex-wrap: wrap;
}
.scatterMsg:hover, .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.scatterMsg:hover:hover, .scatterMsg:hover:focus, .scatterMsg:focus:hover, .scatterMsg:focus:focus {
  opacity: 1;
}
.scatterMsg:hover:hover .letter::before, .scatterMsg:hover:focus .letter::before, .scatterMsg:focus:hover .letter::before, .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.scatterMsg:hover:hover .letter:nth-child(1), .scatterMsg:hover:focus .letter:nth-child(1), .scatterMsg:focus:hover .letter:nth-child(1), .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: 63;
  --y: 0;
  --r: 78;
}
.scatterMsg:hover:hover .letter:nth-child(1):hover, .scatterMsg:hover:focus .letter:nth-child(1):hover, .scatterMsg:focus:hover .letter:nth-child(1):hover, .scatterMsg:focus:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -599;
  --y: -379;
  --r: -586;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(2), .scatterMsg:hover:focus .letter:nth-child(2), .scatterMsg:focus:hover .letter:nth-child(2), .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 55;
  --y: -1080;
  --r: 148;
}
.scatterMsg:hover:hover .letter:nth-child(2):hover, .scatterMsg:hover:focus .letter:nth-child(2):hover, .scatterMsg:focus:hover .letter:nth-child(2):hover, .scatterMsg:focus:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -259;
  --y: -162;
  --r: -479;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(3), .scatterMsg:hover:focus .letter:nth-child(3), .scatterMsg:focus:hover .letter:nth-child(3), .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: -13;
  --y: -1089;
  --r: 165;
}
.scatterMsg:hover:hover .letter:nth-child(3):hover, .scatterMsg:hover:focus .letter:nth-child(3):hover, .scatterMsg:focus:hover .letter:nth-child(3):hover, .scatterMsg:focus:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -503;
  --y: 95;
  --r: -552;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(4), .scatterMsg:hover:focus .letter:nth-child(4), .scatterMsg:focus:hover .letter:nth-child(4), .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: -48;
  --y: -1060;
  --r: 309;
}
.scatterMsg:hover:hover .letter:nth-child(4):hover, .scatterMsg:hover:focus .letter:nth-child(4):hover, .scatterMsg:focus:hover .letter:nth-child(4):hover, .scatterMsg:focus:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 11;
  --y: -490;
  --r: -629;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(5), .scatterMsg:hover:focus .letter:nth-child(5), .scatterMsg:focus:hover .letter:nth-child(5), .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: -23;
  --y: -758;
  --r: 126;
}
.scatterMsg:hover:hover .letter:nth-child(5):hover, .scatterMsg:hover:focus .letter:nth-child(5):hover, .scatterMsg:focus:hover .letter:nth-child(5):hover, .scatterMsg:focus:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -40;
  --y: -514;
  --r: 76;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(6), .scatterMsg:hover:focus .letter:nth-child(6), .scatterMsg:focus:hover .letter:nth-child(6), .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 5;
  --y: -103;
  --r: 246;
}
.scatterMsg:hover:hover .letter:nth-child(6):hover, .scatterMsg:hover:focus .letter:nth-child(6):hover, .scatterMsg:focus:hover .letter:nth-child(6):hover, .scatterMsg:focus:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -353;
  --y: -246;
  --r: -366;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(7), .scatterMsg:hover:focus .letter:nth-child(7), .scatterMsg:focus:hover .letter:nth-child(7), .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 95;
  --y: 71;
  --r: 116;
}
.scatterMsg:hover:hover .letter:nth-child(7):hover, .scatterMsg:hover:focus .letter:nth-child(7):hover, .scatterMsg:focus:hover .letter:nth-child(7):hover, .scatterMsg:focus:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -550;
  --y: -394;
  --r: -386;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(8), .scatterMsg:hover:focus .letter:nth-child(8), .scatterMsg:focus:hover .letter:nth-child(8), .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: -16;
  --y: -51;
  --r: 54;
}
.scatterMsg:hover:hover .letter:nth-child(8):hover, .scatterMsg:hover:focus .letter:nth-child(8):hover, .scatterMsg:focus:hover .letter:nth-child(8):hover, .scatterMsg:focus:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -45;
  --y: -306;
  --r: 3;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(9), .scatterMsg:hover:focus .letter:nth-child(9), .scatterMsg:focus:hover .letter:nth-child(9), .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: -11;
  --y: -915;
  --r: 160;
}
.scatterMsg:hover:hover .letter:nth-child(9):hover, .scatterMsg:hover:focus .letter:nth-child(9):hover, .scatterMsg:focus:hover .letter:nth-child(9):hover, .scatterMsg:focus:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -606;
  --y: 19;
  --r: -609;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(10), .scatterMsg:hover:focus .letter:nth-child(10), .scatterMsg:focus:hover .letter:nth-child(10), .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: 70;
  --y: -786;
  --r: 5;
}
.scatterMsg:hover:hover .letter:nth-child(10):hover, .scatterMsg:hover:focus .letter:nth-child(10):hover, .scatterMsg:focus:hover .letter:nth-child(10):hover, .scatterMsg:focus:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -279;
  --y: -185;
  --r: -89;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(11), .scatterMsg:hover:focus .letter:nth-child(11), .scatterMsg:focus:hover .letter:nth-child(11), .scatterMsg:focus:focus .letter:nth-child(11) {
  --x: 60;
  --y: -1354;
  --r: 12;
}
.scatterMsg:hover:hover .letter:nth-child(11):hover, .scatterMsg:hover:focus .letter:nth-child(11):hover, .scatterMsg:focus:hover .letter:nth-child(11):hover, .scatterMsg:focus:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -111;
  --y: -186;
  --r: -145;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(12), .scatterMsg:hover:focus .letter:nth-child(12), .scatterMsg:focus:hover .letter:nth-child(12), .scatterMsg:focus:focus .letter:nth-child(12) {
  --x: 11;
  --y: -1059;
  --r: 348;
}
.scatterMsg:hover:hover .letter:nth-child(12):hover, .scatterMsg:hover:focus .letter:nth-child(12):hover, .scatterMsg:focus:hover .letter:nth-child(12):hover, .scatterMsg:focus:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -546;
  --y: -37;
  --r: -359;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(13), .scatterMsg:hover:focus .letter:nth-child(13), .scatterMsg:focus:hover .letter:nth-child(13), .scatterMsg:focus:focus .letter:nth-child(13) {
  --x: -43;
  --y: -373;
  --r: 223;
}
.scatterMsg:hover:hover .letter:nth-child(13):hover, .scatterMsg:hover:focus .letter:nth-child(13):hover, .scatterMsg:focus:hover .letter:nth-child(13):hover, .scatterMsg:focus:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -651;
  --y: 64;
  --r: -167;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(14), .scatterMsg:hover:focus .letter:nth-child(14), .scatterMsg:focus:hover .letter:nth-child(14), .scatterMsg:focus:focus .letter:nth-child(14) {
  --x: 76;
  --y: -108;
  --r: 33;
}
.scatterMsg:hover:hover .letter:nth-child(14):hover, .scatterMsg:hover:focus .letter:nth-child(14):hover, .scatterMsg:focus:hover .letter:nth-child(14):hover, .scatterMsg:focus:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -141;
  --y: -283;
  --r: -4;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(15), .scatterMsg:hover:focus .letter:nth-child(15), .scatterMsg:focus:hover .letter:nth-child(15), .scatterMsg:focus:focus .letter:nth-child(15) {
  --x: -9;
  --y: -1183;
  --r: 82;
}
.scatterMsg:hover:hover .letter:nth-child(15):hover, .scatterMsg:hover:focus .letter:nth-child(15):hover, .scatterMsg:focus:hover .letter:nth-child(15):hover, .scatterMsg:focus:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -224;
  --y: -572;
  --r: -22;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(16), .scatterMsg:hover:focus .letter:nth-child(16), .scatterMsg:focus:hover .letter:nth-child(16), .scatterMsg:focus:focus .letter:nth-child(16) {
  --x: 93;
  --y: 83;
  --r: 166;
}
.scatterMsg:hover:hover .letter:nth-child(16):hover, .scatterMsg:hover:focus .letter:nth-child(16):hover, .scatterMsg:focus:hover .letter:nth-child(16):hover, .scatterMsg:focus:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -148;
  --y: 22;
  --r: 56;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(17), .scatterMsg:hover:focus .letter:nth-child(17), .scatterMsg:focus:hover .letter:nth-child(17), .scatterMsg:focus:focus .letter:nth-child(17) {
  --x: 65;
  --y: -364;
  --r: 80;
}
.scatterMsg:hover:hover .letter:nth-child(17):hover, .scatterMsg:hover:focus .letter:nth-child(17):hover, .scatterMsg:focus:hover .letter:nth-child(17):hover, .scatterMsg:focus:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -468;
  --y: 9;
  --r: -275;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(18), .scatterMsg:hover:focus .letter:nth-child(18), .scatterMsg:focus:hover .letter:nth-child(18), .scatterMsg:focus:focus .letter:nth-child(18) {
  --x: 52;
  --y: -520;
  --r: 336;
}
.scatterMsg:hover:hover .letter:nth-child(18):hover, .scatterMsg:hover:focus .letter:nth-child(18):hover, .scatterMsg:focus:hover .letter:nth-child(18):hover, .scatterMsg:focus:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -694;
  --y: -39;
  --r: -494;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(19), .scatterMsg:hover:focus .letter:nth-child(19), .scatterMsg:focus:hover .letter:nth-child(19), .scatterMsg:focus:focus .letter:nth-child(19) {
  --x: -23;
  --y: -671;
  --r: 90;
}
.scatterMsg:hover:hover .letter:nth-child(19):hover, .scatterMsg:hover:focus .letter:nth-child(19):hover, .scatterMsg:focus:hover .letter:nth-child(19):hover, .scatterMsg:focus:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 82;
  --y: -10;
  --r: -187;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(20), .scatterMsg:hover:focus .letter:nth-child(20), .scatterMsg:focus:hover .letter:nth-child(20), .scatterMsg:focus:focus .letter:nth-child(20) {
  --x: 83;
  --y: -668;
  --r: 187;
}
.scatterMsg:hover:hover .letter:nth-child(20):hover, .scatterMsg:hover:focus .letter:nth-child(20):hover, .scatterMsg:focus:hover .letter:nth-child(20):hover, .scatterMsg:focus:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -64;
  --y: -567;
  --r: -261;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(21), .scatterMsg:hover:focus .letter:nth-child(21), .scatterMsg:focus:hover .letter:nth-child(21), .scatterMsg:focus:focus .letter:nth-child(21) {
  --x: 53;
  --y: -264;
  --r: 122;
}
.scatterMsg:hover:hover .letter:nth-child(21):hover, .scatterMsg:hover:focus .letter:nth-child(21):hover, .scatterMsg:focus:hover .letter:nth-child(21):hover, .scatterMsg:focus:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -28;
  --y: 80;
  --r: -678;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(22), .scatterMsg:hover:focus .letter:nth-child(22), .scatterMsg:focus:hover .letter:nth-child(22), .scatterMsg:focus:focus .letter:nth-child(22) {
  --x: 45;
  --y: -594;
  --r: 167;
}
.scatterMsg:hover:hover .letter:nth-child(22):hover, .scatterMsg:hover:focus .letter:nth-child(22):hover, .scatterMsg:focus:hover .letter:nth-child(22):hover, .scatterMsg:focus:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -66;
  --y: -358;
  --r: 78;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(23), .scatterMsg:hover:focus .letter:nth-child(23), .scatterMsg:focus:hover .letter:nth-child(23), .scatterMsg:focus:focus .letter:nth-child(23) {
  --x: -4;
  --y: -1138;
  --r: 182;
}
.scatterMsg:hover:hover .letter:nth-child(23):hover, .scatterMsg:hover:focus .letter:nth-child(23):hover, .scatterMsg:focus:hover .letter:nth-child(23):hover, .scatterMsg:focus:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -535;
  --y: -241;
  --r: -611;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(24), .scatterMsg:hover:focus .letter:nth-child(24), .scatterMsg:focus:hover .letter:nth-child(24), .scatterMsg:focus:focus .letter:nth-child(24) {
  --x: -10;
  --y: -721;
  --r: 286;
}
.scatterMsg:hover:hover .letter:nth-child(24):hover, .scatterMsg:hover:focus .letter:nth-child(24):hover, .scatterMsg:focus:hover .letter:nth-child(24):hover, .scatterMsg:focus:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -268;
  --y: -227;
  --r: -431;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(25), .scatterMsg:hover:focus .letter:nth-child(25), .scatterMsg:focus:hover .letter:nth-child(25), .scatterMsg:focus:focus .letter:nth-child(25) {
  --x: 37;
  --y: -806;
  --r: 331;
}
.scatterMsg:hover:hover .letter:nth-child(25):hover, .scatterMsg:hover:focus .letter:nth-child(25):hover, .scatterMsg:focus:hover .letter:nth-child(25):hover, .scatterMsg:focus:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -267;
  --y: 3;
  --r: -363;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(26), .scatterMsg:hover:focus .letter:nth-child(26), .scatterMsg:focus:hover .letter:nth-child(26), .scatterMsg:focus:focus .letter:nth-child(26) {
  --x: -14;
  --y: -611;
  --r: 243;
}
.scatterMsg:hover:hover .letter:nth-child(26):hover, .scatterMsg:hover:focus .letter:nth-child(26):hover, .scatterMsg:focus:hover .letter:nth-child(26):hover, .scatterMsg:focus:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -338;
  --y: -125;
  --r: -655;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(27), .scatterMsg:hover:focus .letter:nth-child(27), .scatterMsg:focus:hover .letter:nth-child(27), .scatterMsg:focus:focus .letter:nth-child(27) {
  --x: 37;
  --y: -1169;
  --r: 10;
}
.scatterMsg:hover:hover .letter:nth-child(27):hover, .scatterMsg:hover:focus .letter:nth-child(27):hover, .scatterMsg:focus:hover .letter:nth-child(27):hover, .scatterMsg:focus:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -396;
  --y: -181;
  --r: -475;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(28), .scatterMsg:hover:focus .letter:nth-child(28), .scatterMsg:focus:hover .letter:nth-child(28), .scatterMsg:focus:focus .letter:nth-child(28) {
  --x: -20;
  --y: -900;
  --r: 207;
}
.scatterMsg:hover:hover .letter:nth-child(28):hover, .scatterMsg:hover:focus .letter:nth-child(28):hover, .scatterMsg:focus:hover .letter:nth-child(28):hover, .scatterMsg:focus:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 65;
  --y: -270;
  --r: -447;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(29), .scatterMsg:hover:focus .letter:nth-child(29), .scatterMsg:focus:hover .letter:nth-child(29), .scatterMsg:focus:focus .letter:nth-child(29) {
  --x: -9;
  --y: -794;
  --r: 208;
}
.scatterMsg:hover:hover .letter:nth-child(29):hover, .scatterMsg:hover:focus .letter:nth-child(29):hover, .scatterMsg:focus:hover .letter:nth-child(29):hover, .scatterMsg:focus:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -90;
  --y: -196;
  --r: -48;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(30), .scatterMsg:hover:focus .letter:nth-child(30), .scatterMsg:focus:hover .letter:nth-child(30), .scatterMsg:focus:focus .letter:nth-child(30) {
  --x: 79;
  --y: -355;
  --r: 224;
}
.scatterMsg:hover:hover .letter:nth-child(30):hover, .scatterMsg:hover:focus .letter:nth-child(30):hover, .scatterMsg:focus:hover .letter:nth-child(30):hover, .scatterMsg:focus:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -465;
  --y: -339;
  --r: -550;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(31), .scatterMsg:hover:focus .letter:nth-child(31), .scatterMsg:focus:hover .letter:nth-child(31), .scatterMsg:focus:focus .letter:nth-child(31) {
  --x: 83;
  --y: -42;
  --r: 270;
}
.scatterMsg:hover:hover .letter:nth-child(31):hover, .scatterMsg:hover:focus .letter:nth-child(31):hover, .scatterMsg:focus:hover .letter:nth-child(31):hover, .scatterMsg:focus:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -27;
  --y: -98;
  --r: -534;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(32), .scatterMsg:hover:focus .letter:nth-child(32), .scatterMsg:focus:hover .letter:nth-child(32), .scatterMsg:focus:focus .letter:nth-child(32) {
  --x: -29;
  --y: -421;
  --r: 298;
}
.scatterMsg:hover:hover .letter:nth-child(32):hover, .scatterMsg:hover:focus .letter:nth-child(32):hover, .scatterMsg:focus:hover .letter:nth-child(32):hover, .scatterMsg:focus:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 95;
  --y: 78;
  --r: 42;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(33), .scatterMsg:hover:focus .letter:nth-child(33), .scatterMsg:focus:hover .letter:nth-child(33), .scatterMsg:focus:focus .letter:nth-child(33) {
  --x: 37;
  --y: -1384;
  --r: 88;
}
.scatterMsg:hover:hover .letter:nth-child(33):hover, .scatterMsg:hover:focus .letter:nth-child(33):hover, .scatterMsg:focus:hover .letter:nth-child(33):hover, .scatterMsg:focus:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -478;
  --y: -395;
  --r: -186;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(34), .scatterMsg:hover:focus .letter:nth-child(34), .scatterMsg:focus:hover .letter:nth-child(34), .scatterMsg:focus:focus .letter:nth-child(34) {
  --x: 83;
  --y: -476;
  --r: 291;
}
.scatterMsg:hover:hover .letter:nth-child(34):hover, .scatterMsg:hover:focus .letter:nth-child(34):hover, .scatterMsg:focus:hover .letter:nth-child(34):hover, .scatterMsg:focus:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -417;
  --y: -247;
  --r: -543;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(35), .scatterMsg:hover:focus .letter:nth-child(35), .scatterMsg:focus:hover .letter:nth-child(35), .scatterMsg:focus:focus .letter:nth-child(35) {
  --x: -25;
  --y: -1034;
  --r: 295;
}
.scatterMsg:hover:hover .letter:nth-child(35):hover, .scatterMsg:hover:focus .letter:nth-child(35):hover, .scatterMsg:focus:hover .letter:nth-child(35):hover, .scatterMsg:focus:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -94;
  --y: -490;
  --r: -460;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(36), .scatterMsg:hover:focus .letter:nth-child(36), .scatterMsg:focus:hover .letter:nth-child(36), .scatterMsg:focus:focus .letter:nth-child(36) {
  --x: 36;
  --y: -503;
  --r: 134;
}
.scatterMsg:hover:hover .letter:nth-child(36):hover, .scatterMsg:hover:focus .letter:nth-child(36):hover, .scatterMsg:focus:hover .letter:nth-child(36):hover, .scatterMsg:focus:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -153;
  --y: -259;
  --r: -199;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(37), .scatterMsg:hover:focus .letter:nth-child(37), .scatterMsg:focus:hover .letter:nth-child(37), .scatterMsg:focus:focus .letter:nth-child(37) {
  --x: 64;
  --y: -116;
  --r: 139;
}
.scatterMsg:hover:hover .letter:nth-child(37):hover, .scatterMsg:hover:focus .letter:nth-child(37):hover, .scatterMsg:focus:hover .letter:nth-child(37):hover, .scatterMsg:focus:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 51;
  --y: -662;
  --r: -115;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(38), .scatterMsg:hover:focus .letter:nth-child(38), .scatterMsg:focus:hover .letter:nth-child(38), .scatterMsg:focus:focus .letter:nth-child(38) {
  --x: -24;
  --y: -250;
  --r: 330;
}
.scatterMsg:hover:hover .letter:nth-child(38):hover, .scatterMsg:hover:focus .letter:nth-child(38):hover, .scatterMsg:focus:hover .letter:nth-child(38):hover, .scatterMsg:focus:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 20;
  --y: -683;
  --r: -125;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(39), .scatterMsg:hover:focus .letter:nth-child(39), .scatterMsg:focus:hover .letter:nth-child(39), .scatterMsg:focus:focus .letter:nth-child(39) {
  --x: -30;
  --y: -149;
  --r: 324;
}
.scatterMsg:hover:hover .letter:nth-child(39):hover, .scatterMsg:hover:focus .letter:nth-child(39):hover, .scatterMsg:focus:hover .letter:nth-child(39):hover, .scatterMsg:focus:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -591;
  --y: 5;
  --r: -28;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(40), .scatterMsg:hover:focus .letter:nth-child(40), .scatterMsg:focus:hover .letter:nth-child(40), .scatterMsg:focus:focus .letter:nth-child(40) {
  --x: 91;
  --y: -1314;
  --r: 79;
}
.scatterMsg:hover:hover .letter:nth-child(40):hover, .scatterMsg:hover:focus .letter:nth-child(40):hover, .scatterMsg:focus:hover .letter:nth-child(40):hover, .scatterMsg:focus:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -68;
  --y: -627;
  --r: -309;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(41), .scatterMsg:hover:focus .letter:nth-child(41), .scatterMsg:focus:hover .letter:nth-child(41), .scatterMsg:focus:focus .letter:nth-child(41) {
  --x: 92;
  --y: -405;
  --r: 323;
}
.scatterMsg:hover:hover .letter:nth-child(41):hover, .scatterMsg:hover:focus .letter:nth-child(41):hover, .scatterMsg:focus:hover .letter:nth-child(41):hover, .scatterMsg:focus:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -511;
  --y: 69;
  --r: -252;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(42), .scatterMsg:hover:focus .letter:nth-child(42), .scatterMsg:focus:hover .letter:nth-child(42), .scatterMsg:focus:focus .letter:nth-child(42) {
  --x: 79;
  --y: -1078;
  --r: 239;
}
.scatterMsg:hover:hover .letter:nth-child(42):hover, .scatterMsg:hover:focus .letter:nth-child(42):hover, .scatterMsg:focus:hover .letter:nth-child(42):hover, .scatterMsg:focus:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -405;
  --y: 90;
  --r: -431;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(43), .scatterMsg:hover:focus .letter:nth-child(43), .scatterMsg:focus:hover .letter:nth-child(43), .scatterMsg:focus:focus .letter:nth-child(43) {
  --x: 17;
  --y: -513;
  --r: 205;
}
.scatterMsg:hover:hover .letter:nth-child(43):hover, .scatterMsg:hover:focus .letter:nth-child(43):hover, .scatterMsg:focus:hover .letter:nth-child(43):hover, .scatterMsg:focus:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 73;
  --y: -38;
  --r: -148;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(44), .scatterMsg:hover:focus .letter:nth-child(44), .scatterMsg:focus:hover .letter:nth-child(44), .scatterMsg:focus:focus .letter:nth-child(44) {
  --x: 38;
  --y: -336;
  --r: 148;
}
.scatterMsg:hover:hover .letter:nth-child(44):hover, .scatterMsg:hover:focus .letter:nth-child(44):hover, .scatterMsg:focus:hover .letter:nth-child(44):hover, .scatterMsg:focus:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -46;
  --y: -193;
  --r: 35;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(45), .scatterMsg:hover:focus .letter:nth-child(45), .scatterMsg:focus:hover .letter:nth-child(45), .scatterMsg:focus:focus .letter:nth-child(45) {
  --x: 99;
  --y: -747;
  --r: 156;
}
.scatterMsg:hover:hover .letter:nth-child(45):hover, .scatterMsg:hover:focus .letter:nth-child(45):hover, .scatterMsg:focus:hover .letter:nth-child(45):hover, .scatterMsg:focus:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -339;
  --y: 18;
  --r: 78;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(46), .scatterMsg:hover:focus .letter:nth-child(46), .scatterMsg:focus:hover .letter:nth-child(46), .scatterMsg:focus:focus .letter:nth-child(46) {
  --x: -16;
  --y: -1119;
  --r: 23;
}
.scatterMsg:hover:hover .letter:nth-child(46):hover, .scatterMsg:hover:focus .letter:nth-child(46):hover, .scatterMsg:focus:hover .letter:nth-child(46):hover, .scatterMsg:focus:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -74;
  --y: -488;
  --r: 13;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(47), .scatterMsg:hover:focus .letter:nth-child(47), .scatterMsg:focus:hover .letter:nth-child(47), .scatterMsg:focus:focus .letter:nth-child(47) {
  --x: 12;
  --y: -120;
  --r: 42;
}
.scatterMsg:hover:hover .letter:nth-child(47):hover, .scatterMsg:hover:focus .letter:nth-child(47):hover, .scatterMsg:focus:hover .letter:nth-child(47):hover, .scatterMsg:focus:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -104;
  --y: -490;
  --r: -689;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(48), .scatterMsg:hover:focus .letter:nth-child(48), .scatterMsg:focus:hover .letter:nth-child(48), .scatterMsg:focus:focus .letter:nth-child(48) {
  --x: 1;
  --y: -463;
  --r: 161;
}
.scatterMsg:hover:hover .letter:nth-child(48):hover, .scatterMsg:hover:focus .letter:nth-child(48):hover, .scatterMsg:focus:hover .letter:nth-child(48):hover, .scatterMsg:focus:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -60;
  --y: 9;
  --r: 24;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(49), .scatterMsg:hover:focus .letter:nth-child(49), .scatterMsg:focus:hover .letter:nth-child(49), .scatterMsg:focus:focus .letter:nth-child(49) {
  --x: 32;
  --y: -511;
  --r: 81;
}
.scatterMsg:hover:hover .letter:nth-child(49):hover, .scatterMsg:hover:focus .letter:nth-child(49):hover, .scatterMsg:focus:hover .letter:nth-child(49):hover, .scatterMsg:focus:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -480;
  --y: 4;
  --r: -659;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(50), .scatterMsg:hover:focus .letter:nth-child(50), .scatterMsg:focus:hover .letter:nth-child(50), .scatterMsg:focus:focus .letter:nth-child(50) {
  --x: -21;
  --y: -1132;
  --r: 344;
}
.scatterMsg:hover:hover .letter:nth-child(50):hover, .scatterMsg:hover:focus .letter:nth-child(50):hover, .scatterMsg:focus:hover .letter:nth-child(50):hover, .scatterMsg:focus:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -497;
  --y: -243;
  --r: -129;
  --s: 1.8;
}

.testHome {
  padding: 24px;
}

.texts a.project {
  margin: 16px;
  padding: 0;
}
.texts .projectsContainer {
  display: flex;
  flex-direction: column;
}
.texts .projectInfo {
  display: flex;
  flex-direction: column;
}
.texts .number {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: none;
  font-size: 96px;
}
.texts a.project:hover .number {
  display: block;
}

.about h1 {
  margin: 24px;
  margin-left: 144px;
}
.about p {
  max-width: 500px;
  margin: 24px;
  margin-left: 144px;
}
.about .scatterIntro {
  margin-left: 144px;
  font-size: 24px;
}

@media only screen and (max-width: 700px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .scatterMsg {
    font-size: 1.5rem;
  }
  nav {
    position: static;
    min-height: 56px;
    z-index: 5;
    flex-direction: column;
  }
  .burgerMenu {
    width: 100%;
    min-height: 56px;
    background-color: transparent;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: auto;
    background-color: #222222;
  }
  .menu a {
    margin-right: 16px;
  }
  .intro {
    overflow-x: hidden;
  }
  .intro h1 {
    font-size: 64px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    margin: 0;
    max-width: 360px;
  }
  .intro .guide {
    top: 16px;
    right: 16px;
  }
  .about h1 {
    margin: 24px;
    margin-left: 24px;
  }
  .about p {
    max-width: 500px;
    margin: 24px;
    margin-left: 24px;
  }
  .about .scatterIntro {
    margin-left: 24px;
    font-size: 24px;
  }
  .projectView .leftCol {
    width: 100%;
  }
  .projectView .projectDescription {
    margin: 0;
    width: 100%;
  }
  .projectView .projectImgs {
    width: 100%;
  }
  .projectView .projectImgs .imgLines {
    position: static !important;
    width: 100% !important;
  }
  .projectView .projectImgs .scatterIntro {
    font-size: 48px;
  }
  .projectView .projectImgs .imgLines:nth-child(1) .scatterIntro {
    left: 44px !important;
    top: -41px !important;
  }
  .projectView .projectImgs .imgLines:nth-child(2) .scatterIntro {
    left: 43px !important;
    top: -25px !important;
  }
  .projectView .projectImgs .imgLines:nth-child(3) .scatterIntro {
    left: 53px !important;
    top: -47px !important;
  }
  .projectView .projectImgs .imgLines:nth-child(4) .scatterIntro {
    left: 15px !important;
    top: -28px !important;
  }
  .projectView .projectImgs .imgLines:nth-child(5) .scatterIntro {
    left: 40px !important;
    top: -4px !important;
  }
}/*# sourceMappingURL=introStyle.css.map */