.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
  margin-right: 24px;
}

.project:hover .scatterMsg,
.project:focus .scatterMsg {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.project:hover .scatterMsg:hover, .project:hover .scatterMsg:focus,
.project:focus .scatterMsg:hover,
.project:focus .scatterMsg:focus {
  opacity: 1;
}
.project:hover .scatterMsg:hover .letter::before, .project:hover .scatterMsg:focus .letter::before,
.project:focus .scatterMsg:hover .letter::before,
.project:focus .scatterMsg:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.project:hover .scatterMsg:hover .letter:nth-child(1), .project:hover .scatterMsg:focus .letter:nth-child(1),
.project:focus .scatterMsg:hover .letter:nth-child(1),
.project:focus .scatterMsg:focus .letter:nth-child(1) {
  --x: 58;
  --y: -551;
  --r: 230;
}
.project:hover .scatterMsg:hover .letter:nth-child(1):hover, .project:hover .scatterMsg:focus .letter:nth-child(1):hover,
.project:focus .scatterMsg:hover .letter:nth-child(1):hover,
.project:focus .scatterMsg:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -303;
  --y: -225;
  --r: -32;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(2), .project:hover .scatterMsg:focus .letter:nth-child(2),
.project:focus .scatterMsg:hover .letter:nth-child(2),
.project:focus .scatterMsg:focus .letter:nth-child(2) {
  --x: -32;
  --y: -920;
  --r: 42;
}
.project:hover .scatterMsg:hover .letter:nth-child(2):hover, .project:hover .scatterMsg:focus .letter:nth-child(2):hover,
.project:focus .scatterMsg:hover .letter:nth-child(2):hover,
.project:focus .scatterMsg:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -175;
  --y: 18;
  --r: 38;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(3), .project:hover .scatterMsg:focus .letter:nth-child(3),
.project:focus .scatterMsg:hover .letter:nth-child(3),
.project:focus .scatterMsg:focus .letter:nth-child(3) {
  --x: 51;
  --y: -322;
  --r: 240;
}
.project:hover .scatterMsg:hover .letter:nth-child(3):hover, .project:hover .scatterMsg:focus .letter:nth-child(3):hover,
.project:focus .scatterMsg:hover .letter:nth-child(3):hover,
.project:focus .scatterMsg:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 58;
  --y: -301;
  --r: -684;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(4), .project:hover .scatterMsg:focus .letter:nth-child(4),
.project:focus .scatterMsg:hover .letter:nth-child(4),
.project:focus .scatterMsg:focus .letter:nth-child(4) {
  --x: 27;
  --y: 92;
  --r: 281;
}
.project:hover .scatterMsg:hover .letter:nth-child(4):hover, .project:hover .scatterMsg:focus .letter:nth-child(4):hover,
.project:focus .scatterMsg:hover .letter:nth-child(4):hover,
.project:focus .scatterMsg:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -139;
  --y: -63;
  --r: -143;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(5), .project:hover .scatterMsg:focus .letter:nth-child(5),
.project:focus .scatterMsg:hover .letter:nth-child(5),
.project:focus .scatterMsg:focus .letter:nth-child(5) {
  --x: 67;
  --y: -1302;
  --r: 131;
}
.project:hover .scatterMsg:hover .letter:nth-child(5):hover, .project:hover .scatterMsg:focus .letter:nth-child(5):hover,
.project:focus .scatterMsg:hover .letter:nth-child(5):hover,
.project:focus .scatterMsg:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -2;
  --y: -191;
  --r: 75;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(6), .project:hover .scatterMsg:focus .letter:nth-child(6),
.project:focus .scatterMsg:hover .letter:nth-child(6),
.project:focus .scatterMsg:focus .letter:nth-child(6) {
  --x: 99;
  --y: -1008;
  --r: 259;
}
.project:hover .scatterMsg:hover .letter:nth-child(6):hover, .project:hover .scatterMsg:focus .letter:nth-child(6):hover,
.project:focus .scatterMsg:hover .letter:nth-child(6):hover,
.project:focus .scatterMsg:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -472;
  --y: -2;
  --r: -227;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(7), .project:hover .scatterMsg:focus .letter:nth-child(7),
.project:focus .scatterMsg:hover .letter:nth-child(7),
.project:focus .scatterMsg:focus .letter:nth-child(7) {
  --x: 58;
  --y: -447;
  --r: 223;
}
.project:hover .scatterMsg:hover .letter:nth-child(7):hover, .project:hover .scatterMsg:focus .letter:nth-child(7):hover,
.project:focus .scatterMsg:hover .letter:nth-child(7):hover,
.project:focus .scatterMsg:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -608;
  --y: -88;
  --r: -458;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(8), .project:hover .scatterMsg:focus .letter:nth-child(8),
.project:focus .scatterMsg:hover .letter:nth-child(8),
.project:focus .scatterMsg:focus .letter:nth-child(8) {
  --x: -24;
  --y: -1144;
  --r: 15;
}
.project:hover .scatterMsg:hover .letter:nth-child(8):hover, .project:hover .scatterMsg:focus .letter:nth-child(8):hover,
.project:focus .scatterMsg:hover .letter:nth-child(8):hover,
.project:focus .scatterMsg:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -127;
  --y: 69;
  --r: -172;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(9), .project:hover .scatterMsg:focus .letter:nth-child(9),
.project:focus .scatterMsg:hover .letter:nth-child(9),
.project:focus .scatterMsg:focus .letter:nth-child(9) {
  --x: 29;
  --y: -176;
  --r: 241;
}
.project:hover .scatterMsg:hover .letter:nth-child(9):hover, .project:hover .scatterMsg:focus .letter:nth-child(9):hover,
.project:focus .scatterMsg:hover .letter:nth-child(9):hover,
.project:focus .scatterMsg:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -37;
  --y: -183;
  --r: 93;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(10), .project:hover .scatterMsg:focus .letter:nth-child(10),
.project:focus .scatterMsg:hover .letter:nth-child(10),
.project:focus .scatterMsg:focus .letter:nth-child(10) {
  --x: 9;
  --y: -1313;
  --r: 195;
}
.project:hover .scatterMsg:hover .letter:nth-child(10):hover, .project:hover .scatterMsg:focus .letter:nth-child(10):hover,
.project:focus .scatterMsg:hover .letter:nth-child(10):hover,
.project:focus .scatterMsg:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -215;
  --y: -300;
  --r: -447;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(11), .project:hover .scatterMsg:focus .letter:nth-child(11),
.project:focus .scatterMsg:hover .letter:nth-child(11),
.project:focus .scatterMsg:focus .letter:nth-child(11) {
  --x: 1;
  --y: -751;
  --r: 86;
}
.project:hover .scatterMsg:hover .letter:nth-child(11):hover, .project:hover .scatterMsg:focus .letter:nth-child(11):hover,
.project:focus .scatterMsg:hover .letter:nth-child(11):hover,
.project:focus .scatterMsg:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -639;
  --y: -518;
  --r: -670;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(12), .project:hover .scatterMsg:focus .letter:nth-child(12),
.project:focus .scatterMsg:hover .letter:nth-child(12),
.project:focus .scatterMsg:focus .letter:nth-child(12) {
  --x: 86;
  --y: 1;
  --r: 175;
}
.project:hover .scatterMsg:hover .letter:nth-child(12):hover, .project:hover .scatterMsg:focus .letter:nth-child(12):hover,
.project:focus .scatterMsg:hover .letter:nth-child(12):hover,
.project:focus .scatterMsg:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -472;
  --y: -637;
  --r: -541;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(13), .project:hover .scatterMsg:focus .letter:nth-child(13),
.project:focus .scatterMsg:hover .letter:nth-child(13),
.project:focus .scatterMsg:focus .letter:nth-child(13) {
  --x: 73;
  --y: -261;
  --r: 305;
}
.project:hover .scatterMsg:hover .letter:nth-child(13):hover, .project:hover .scatterMsg:focus .letter:nth-child(13):hover,
.project:focus .scatterMsg:hover .letter:nth-child(13):hover,
.project:focus .scatterMsg:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -667;
  --y: 6;
  --r: -298;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(14), .project:hover .scatterMsg:focus .letter:nth-child(14),
.project:focus .scatterMsg:hover .letter:nth-child(14),
.project:focus .scatterMsg:focus .letter:nth-child(14) {
  --x: 39;
  --y: -853;
  --r: 207;
}
.project:hover .scatterMsg:hover .letter:nth-child(14):hover, .project:hover .scatterMsg:focus .letter:nth-child(14):hover,
.project:focus .scatterMsg:hover .letter:nth-child(14):hover,
.project:focus .scatterMsg:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -507;
  --y: -465;
  --r: -600;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(15), .project:hover .scatterMsg:focus .letter:nth-child(15),
.project:focus .scatterMsg:hover .letter:nth-child(15),
.project:focus .scatterMsg:focus .letter:nth-child(15) {
  --x: -5;
  --y: -840;
  --r: 158;
}
.project:hover .scatterMsg:hover .letter:nth-child(15):hover, .project:hover .scatterMsg:focus .letter:nth-child(15):hover,
.project:focus .scatterMsg:hover .letter:nth-child(15):hover,
.project:focus .scatterMsg:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -546;
  --y: -259;
  --r: -148;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(16), .project:hover .scatterMsg:focus .letter:nth-child(16),
.project:focus .scatterMsg:hover .letter:nth-child(16),
.project:focus .scatterMsg:focus .letter:nth-child(16) {
  --x: 95;
  --y: -10;
  --r: 143;
}
.project:hover .scatterMsg:hover .letter:nth-child(16):hover, .project:hover .scatterMsg:focus .letter:nth-child(16):hover,
.project:focus .scatterMsg:hover .letter:nth-child(16):hover,
.project:focus .scatterMsg:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -190;
  --y: -604;
  --r: -445;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(17), .project:hover .scatterMsg:focus .letter:nth-child(17),
.project:focus .scatterMsg:hover .letter:nth-child(17),
.project:focus .scatterMsg:focus .letter:nth-child(17) {
  --x: -10;
  --y: -729;
  --r: 209;
}
.project:hover .scatterMsg:hover .letter:nth-child(17):hover, .project:hover .scatterMsg:focus .letter:nth-child(17):hover,
.project:focus .scatterMsg:hover .letter:nth-child(17):hover,
.project:focus .scatterMsg:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -395;
  --y: -344;
  --r: 81;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(18), .project:hover .scatterMsg:focus .letter:nth-child(18),
.project:focus .scatterMsg:hover .letter:nth-child(18),
.project:focus .scatterMsg:focus .letter:nth-child(18) {
  --x: -50;
  --y: -986;
  --r: 214;
}
.project:hover .scatterMsg:hover .letter:nth-child(18):hover, .project:hover .scatterMsg:focus .letter:nth-child(18):hover,
.project:focus .scatterMsg:hover .letter:nth-child(18):hover,
.project:focus .scatterMsg:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -73;
  --y: -601;
  --r: -279;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(19), .project:hover .scatterMsg:focus .letter:nth-child(19),
.project:focus .scatterMsg:hover .letter:nth-child(19),
.project:focus .scatterMsg:focus .letter:nth-child(19) {
  --x: -49;
  --y: -1020;
  --r: 61;
}
.project:hover .scatterMsg:hover .letter:nth-child(19):hover, .project:hover .scatterMsg:focus .letter:nth-child(19):hover,
.project:focus .scatterMsg:hover .letter:nth-child(19):hover,
.project:focus .scatterMsg:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -696;
  --y: -543;
  --r: -340;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(20), .project:hover .scatterMsg:focus .letter:nth-child(20),
.project:focus .scatterMsg:hover .letter:nth-child(20),
.project:focus .scatterMsg:focus .letter:nth-child(20) {
  --x: -30;
  --y: -1143;
  --r: 331;
}
.project:hover .scatterMsg:hover .letter:nth-child(20):hover, .project:hover .scatterMsg:focus .letter:nth-child(20):hover,
.project:focus .scatterMsg:hover .letter:nth-child(20):hover,
.project:focus .scatterMsg:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -113;
  --y: -614;
  --r: 51;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(21), .project:hover .scatterMsg:focus .letter:nth-child(21),
.project:focus .scatterMsg:hover .letter:nth-child(21),
.project:focus .scatterMsg:focus .letter:nth-child(21) {
  --x: -5;
  --y: -1224;
  --r: 284;
}
.project:hover .scatterMsg:hover .letter:nth-child(21):hover, .project:hover .scatterMsg:focus .letter:nth-child(21):hover,
.project:focus .scatterMsg:hover .letter:nth-child(21):hover,
.project:focus .scatterMsg:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -348;
  --y: -376;
  --r: -664;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(22), .project:hover .scatterMsg:focus .letter:nth-child(22),
.project:focus .scatterMsg:hover .letter:nth-child(22),
.project:focus .scatterMsg:focus .letter:nth-child(22) {
  --x: 48;
  --y: -704;
  --r: 149;
}
.project:hover .scatterMsg:hover .letter:nth-child(22):hover, .project:hover .scatterMsg:focus .letter:nth-child(22):hover,
.project:focus .scatterMsg:hover .letter:nth-child(22):hover,
.project:focus .scatterMsg:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -329;
  --y: -13;
  --r: -298;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(23), .project:hover .scatterMsg:focus .letter:nth-child(23),
.project:focus .scatterMsg:hover .letter:nth-child(23),
.project:focus .scatterMsg:focus .letter:nth-child(23) {
  --x: 77;
  --y: -268;
  --r: 259;
}
.project:hover .scatterMsg:hover .letter:nth-child(23):hover, .project:hover .scatterMsg:focus .letter:nth-child(23):hover,
.project:focus .scatterMsg:hover .letter:nth-child(23):hover,
.project:focus .scatterMsg:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -550;
  --y: -281;
  --r: -177;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(24), .project:hover .scatterMsg:focus .letter:nth-child(24),
.project:focus .scatterMsg:hover .letter:nth-child(24),
.project:focus .scatterMsg:focus .letter:nth-child(24) {
  --x: 21;
  --y: -76;
  --r: 306;
}
.project:hover .scatterMsg:hover .letter:nth-child(24):hover, .project:hover .scatterMsg:focus .letter:nth-child(24):hover,
.project:focus .scatterMsg:hover .letter:nth-child(24):hover,
.project:focus .scatterMsg:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -30;
  --y: -650;
  --r: 77;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(25), .project:hover .scatterMsg:focus .letter:nth-child(25),
.project:focus .scatterMsg:hover .letter:nth-child(25),
.project:focus .scatterMsg:focus .letter:nth-child(25) {
  --x: -21;
  --y: -1359;
  --r: 73;
}
.project:hover .scatterMsg:hover .letter:nth-child(25):hover, .project:hover .scatterMsg:focus .letter:nth-child(25):hover,
.project:focus .scatterMsg:hover .letter:nth-child(25):hover,
.project:focus .scatterMsg:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -158;
  --y: -293;
  --r: -392;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(26), .project:hover .scatterMsg:focus .letter:nth-child(26),
.project:focus .scatterMsg:hover .letter:nth-child(26),
.project:focus .scatterMsg:focus .letter:nth-child(26) {
  --x: 66;
  --y: -970;
  --r: 213;
}
.project:hover .scatterMsg:hover .letter:nth-child(26):hover, .project:hover .scatterMsg:focus .letter:nth-child(26):hover,
.project:focus .scatterMsg:hover .letter:nth-child(26):hover,
.project:focus .scatterMsg:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 73;
  --y: -288;
  --r: -229;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(27), .project:hover .scatterMsg:focus .letter:nth-child(27),
.project:focus .scatterMsg:hover .letter:nth-child(27),
.project:focus .scatterMsg:focus .letter:nth-child(27) {
  --x: -13;
  --y: -16;
  --r: 77;
}
.project:hover .scatterMsg:hover .letter:nth-child(27):hover, .project:hover .scatterMsg:focus .letter:nth-child(27):hover,
.project:focus .scatterMsg:hover .letter:nth-child(27):hover,
.project:focus .scatterMsg:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -336;
  --y: -569;
  --r: -68;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(28), .project:hover .scatterMsg:focus .letter:nth-child(28),
.project:focus .scatterMsg:hover .letter:nth-child(28),
.project:focus .scatterMsg:focus .letter:nth-child(28) {
  --x: 67;
  --y: -853;
  --r: 141;
}
.project:hover .scatterMsg:hover .letter:nth-child(28):hover, .project:hover .scatterMsg:focus .letter:nth-child(28):hover,
.project:focus .scatterMsg:hover .letter:nth-child(28):hover,
.project:focus .scatterMsg:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -263;
  --y: -680;
  --r: -275;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(29), .project:hover .scatterMsg:focus .letter:nth-child(29),
.project:focus .scatterMsg:hover .letter:nth-child(29),
.project:focus .scatterMsg:focus .letter:nth-child(29) {
  --x: -49;
  --y: -1154;
  --r: 93;
}
.project:hover .scatterMsg:hover .letter:nth-child(29):hover, .project:hover .scatterMsg:focus .letter:nth-child(29):hover,
.project:focus .scatterMsg:hover .letter:nth-child(29):hover,
.project:focus .scatterMsg:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -277;
  --y: -344;
  --r: -163;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(30), .project:hover .scatterMsg:focus .letter:nth-child(30),
.project:focus .scatterMsg:hover .letter:nth-child(30),
.project:focus .scatterMsg:focus .letter:nth-child(30) {
  --x: 75;
  --y: -488;
  --r: 253;
}
.project:hover .scatterMsg:hover .letter:nth-child(30):hover, .project:hover .scatterMsg:focus .letter:nth-child(30):hover,
.project:focus .scatterMsg:hover .letter:nth-child(30):hover,
.project:focus .scatterMsg:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -416;
  --y: -381;
  --r: -517;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(31), .project:hover .scatterMsg:focus .letter:nth-child(31),
.project:focus .scatterMsg:hover .letter:nth-child(31),
.project:focus .scatterMsg:focus .letter:nth-child(31) {
  --x: 14;
  --y: -1353;
  --r: 255;
}
.project:hover .scatterMsg:hover .letter:nth-child(31):hover, .project:hover .scatterMsg:focus .letter:nth-child(31):hover,
.project:focus .scatterMsg:hover .letter:nth-child(31):hover,
.project:focus .scatterMsg:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -357;
  --y: -109;
  --r: -657;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(32), .project:hover .scatterMsg:focus .letter:nth-child(32),
.project:focus .scatterMsg:hover .letter:nth-child(32),
.project:focus .scatterMsg:focus .letter:nth-child(32) {
  --x: 7;
  --y: -1258;
  --r: 61;
}
.project:hover .scatterMsg:hover .letter:nth-child(32):hover, .project:hover .scatterMsg:focus .letter:nth-child(32):hover,
.project:focus .scatterMsg:hover .letter:nth-child(32):hover,
.project:focus .scatterMsg:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -349;
  --y: -408;
  --r: -605;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(33), .project:hover .scatterMsg:focus .letter:nth-child(33),
.project:focus .scatterMsg:hover .letter:nth-child(33),
.project:focus .scatterMsg:focus .letter:nth-child(33) {
  --x: 81;
  --y: -971;
  --r: 4;
}
.project:hover .scatterMsg:hover .letter:nth-child(33):hover, .project:hover .scatterMsg:focus .letter:nth-child(33):hover,
.project:focus .scatterMsg:hover .letter:nth-child(33):hover,
.project:focus .scatterMsg:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -140;
  --y: -123;
  --r: -307;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(34), .project:hover .scatterMsg:focus .letter:nth-child(34),
.project:focus .scatterMsg:hover .letter:nth-child(34),
.project:focus .scatterMsg:focus .letter:nth-child(34) {
  --x: 51;
  --y: -544;
  --r: 81;
}
.project:hover .scatterMsg:hover .letter:nth-child(34):hover, .project:hover .scatterMsg:focus .letter:nth-child(34):hover,
.project:focus .scatterMsg:hover .letter:nth-child(34):hover,
.project:focus .scatterMsg:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 69;
  --y: -396;
  --r: -385;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(35), .project:hover .scatterMsg:focus .letter:nth-child(35),
.project:focus .scatterMsg:hover .letter:nth-child(35),
.project:focus .scatterMsg:focus .letter:nth-child(35) {
  --x: 71;
  --y: -195;
  --r: 351;
}
.project:hover .scatterMsg:hover .letter:nth-child(35):hover, .project:hover .scatterMsg:focus .letter:nth-child(35):hover,
.project:focus .scatterMsg:hover .letter:nth-child(35):hover,
.project:focus .scatterMsg:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -4;
  --y: -194;
  --r: -568;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(36), .project:hover .scatterMsg:focus .letter:nth-child(36),
.project:focus .scatterMsg:hover .letter:nth-child(36),
.project:focus .scatterMsg:focus .letter:nth-child(36) {
  --x: 20;
  --y: -1182;
  --r: 335;
}
.project:hover .scatterMsg:hover .letter:nth-child(36):hover, .project:hover .scatterMsg:focus .letter:nth-child(36):hover,
.project:focus .scatterMsg:hover .letter:nth-child(36):hover,
.project:focus .scatterMsg:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 30;
  --y: 7;
  --r: -253;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(37), .project:hover .scatterMsg:focus .letter:nth-child(37),
.project:focus .scatterMsg:hover .letter:nth-child(37),
.project:focus .scatterMsg:focus .letter:nth-child(37) {
  --x: 91;
  --y: -1219;
  --r: 133;
}
.project:hover .scatterMsg:hover .letter:nth-child(37):hover, .project:hover .scatterMsg:focus .letter:nth-child(37):hover,
.project:focus .scatterMsg:hover .letter:nth-child(37):hover,
.project:focus .scatterMsg:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -638;
  --y: -700;
  --r: 31;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(38), .project:hover .scatterMsg:focus .letter:nth-child(38),
.project:focus .scatterMsg:hover .letter:nth-child(38),
.project:focus .scatterMsg:focus .letter:nth-child(38) {
  --x: -13;
  --y: -750;
  --r: 285;
}
.project:hover .scatterMsg:hover .letter:nth-child(38):hover, .project:hover .scatterMsg:focus .letter:nth-child(38):hover,
.project:focus .scatterMsg:hover .letter:nth-child(38):hover,
.project:focus .scatterMsg:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -653;
  --y: -216;
  --r: -20;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(39), .project:hover .scatterMsg:focus .letter:nth-child(39),
.project:focus .scatterMsg:hover .letter:nth-child(39),
.project:focus .scatterMsg:focus .letter:nth-child(39) {
  --x: -17;
  --y: -53;
  --r: 281;
}
.project:hover .scatterMsg:hover .letter:nth-child(39):hover, .project:hover .scatterMsg:focus .letter:nth-child(39):hover,
.project:focus .scatterMsg:hover .letter:nth-child(39):hover,
.project:focus .scatterMsg:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -397;
  --y: -638;
  --r: -411;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(40), .project:hover .scatterMsg:focus .letter:nth-child(40),
.project:focus .scatterMsg:hover .letter:nth-child(40),
.project:focus .scatterMsg:focus .letter:nth-child(40) {
  --x: 30;
  --y: -375;
  --r: 114;
}
.project:hover .scatterMsg:hover .letter:nth-child(40):hover, .project:hover .scatterMsg:focus .letter:nth-child(40):hover,
.project:focus .scatterMsg:hover .letter:nth-child(40):hover,
.project:focus .scatterMsg:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -291;
  --y: -691;
  --r: 87;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(41), .project:hover .scatterMsg:focus .letter:nth-child(41),
.project:focus .scatterMsg:hover .letter:nth-child(41),
.project:focus .scatterMsg:focus .letter:nth-child(41) {
  --x: 63;
  --y: -638;
  --r: 271;
}
.project:hover .scatterMsg:hover .letter:nth-child(41):hover, .project:hover .scatterMsg:focus .letter:nth-child(41):hover,
.project:focus .scatterMsg:hover .letter:nth-child(41):hover,
.project:focus .scatterMsg:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -248;
  --y: -557;
  --r: -401;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(42), .project:hover .scatterMsg:focus .letter:nth-child(42),
.project:focus .scatterMsg:hover .letter:nth-child(42),
.project:focus .scatterMsg:focus .letter:nth-child(42) {
  --x: 74;
  --y: -317;
  --r: 305;
}
.project:hover .scatterMsg:hover .letter:nth-child(42):hover, .project:hover .scatterMsg:focus .letter:nth-child(42):hover,
.project:focus .scatterMsg:hover .letter:nth-child(42):hover,
.project:focus .scatterMsg:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -439;
  --y: 19;
  --r: -503;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(43), .project:hover .scatterMsg:focus .letter:nth-child(43),
.project:focus .scatterMsg:hover .letter:nth-child(43),
.project:focus .scatterMsg:focus .letter:nth-child(43) {
  --x: 26;
  --y: -299;
  --r: 159;
}
.project:hover .scatterMsg:hover .letter:nth-child(43):hover, .project:hover .scatterMsg:focus .letter:nth-child(43):hover,
.project:focus .scatterMsg:hover .letter:nth-child(43):hover,
.project:focus .scatterMsg:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -594;
  --y: -536;
  --r: -237;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(44), .project:hover .scatterMsg:focus .letter:nth-child(44),
.project:focus .scatterMsg:hover .letter:nth-child(44),
.project:focus .scatterMsg:focus .letter:nth-child(44) {
  --x: 26;
  --y: -947;
  --r: 303;
}
.project:hover .scatterMsg:hover .letter:nth-child(44):hover, .project:hover .scatterMsg:focus .letter:nth-child(44):hover,
.project:focus .scatterMsg:hover .letter:nth-child(44):hover,
.project:focus .scatterMsg:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 5;
  --y: -414;
  --r: -563;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(45), .project:hover .scatterMsg:focus .letter:nth-child(45),
.project:focus .scatterMsg:hover .letter:nth-child(45),
.project:focus .scatterMsg:focus .letter:nth-child(45) {
  --x: 19;
  --y: -1075;
  --r: 260;
}
.project:hover .scatterMsg:hover .letter:nth-child(45):hover, .project:hover .scatterMsg:focus .letter:nth-child(45):hover,
.project:focus .scatterMsg:hover .letter:nth-child(45):hover,
.project:focus .scatterMsg:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -694;
  --y: -278;
  --r: -147;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(46), .project:hover .scatterMsg:focus .letter:nth-child(46),
.project:focus .scatterMsg:hover .letter:nth-child(46),
.project:focus .scatterMsg:focus .letter:nth-child(46) {
  --x: 80;
  --y: -262;
  --r: 313;
}
.project:hover .scatterMsg:hover .letter:nth-child(46):hover, .project:hover .scatterMsg:focus .letter:nth-child(46):hover,
.project:focus .scatterMsg:hover .letter:nth-child(46):hover,
.project:focus .scatterMsg:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -587;
  --y: 94;
  --r: -273;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(47), .project:hover .scatterMsg:focus .letter:nth-child(47),
.project:focus .scatterMsg:hover .letter:nth-child(47),
.project:focus .scatterMsg:focus .letter:nth-child(47) {
  --x: 80;
  --y: -74;
  --r: 257;
}
.project:hover .scatterMsg:hover .letter:nth-child(47):hover, .project:hover .scatterMsg:focus .letter:nth-child(47):hover,
.project:focus .scatterMsg:hover .letter:nth-child(47):hover,
.project:focus .scatterMsg:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 51;
  --y: -564;
  --r: -551;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(48), .project:hover .scatterMsg:focus .letter:nth-child(48),
.project:focus .scatterMsg:hover .letter:nth-child(48),
.project:focus .scatterMsg:focus .letter:nth-child(48) {
  --x: 88;
  --y: -1096;
  --r: 215;
}
.project:hover .scatterMsg:hover .letter:nth-child(48):hover, .project:hover .scatterMsg:focus .letter:nth-child(48):hover,
.project:focus .scatterMsg:hover .letter:nth-child(48):hover,
.project:focus .scatterMsg:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -3;
  --y: -563;
  --r: -111;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(49), .project:hover .scatterMsg:focus .letter:nth-child(49),
.project:focus .scatterMsg:hover .letter:nth-child(49),
.project:focus .scatterMsg:focus .letter:nth-child(49) {
  --x: 59;
  --y: -41;
  --r: 212;
}
.project:hover .scatterMsg:hover .letter:nth-child(49):hover, .project:hover .scatterMsg:focus .letter:nth-child(49):hover,
.project:focus .scatterMsg:hover .letter:nth-child(49):hover,
.project:focus .scatterMsg:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -527;
  --y: -644;
  --r: -417;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(50), .project:hover .scatterMsg:focus .letter:nth-child(50),
.project:focus .scatterMsg:hover .letter:nth-child(50),
.project:focus .scatterMsg:focus .letter:nth-child(50) {
  --x: -28;
  --y: -734;
  --r: 121;
}
.project:hover .scatterMsg:hover .letter:nth-child(50):hover, .project:hover .scatterMsg:focus .letter:nth-child(50):hover,
.project:focus .scatterMsg:hover .letter:nth-child(50):hover,
.project:focus .scatterMsg:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -218;
  --y: -80;
  --r: -83;
  --s: 1.8;
}/*# sourceMappingURL=projectsPageStyle.css.map */