.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
  margin-right: 24px;
}

.project:hover .scatterMsg,
.project:focus .scatterMsg {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.project:hover .scatterMsg:hover, .project:hover .scatterMsg:focus,
.project:focus .scatterMsg:hover,
.project:focus .scatterMsg:focus {
  opacity: 1;
}
.project:hover .scatterMsg:hover .letter::before, .project:hover .scatterMsg:focus .letter::before,
.project:focus .scatterMsg:hover .letter::before,
.project:focus .scatterMsg:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.project:hover .scatterMsg:hover .letter:nth-child(1), .project:hover .scatterMsg:focus .letter:nth-child(1),
.project:focus .scatterMsg:hover .letter:nth-child(1),
.project:focus .scatterMsg:focus .letter:nth-child(1) {
  --x: 42;
  --y: -581;
  --r: 227;
}
.project:hover .scatterMsg:hover .letter:nth-child(1):hover, .project:hover .scatterMsg:focus .letter:nth-child(1):hover,
.project:focus .scatterMsg:hover .letter:nth-child(1):hover,
.project:focus .scatterMsg:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -270;
  --y: -695;
  --r: -239;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(2), .project:hover .scatterMsg:focus .letter:nth-child(2),
.project:focus .scatterMsg:hover .letter:nth-child(2),
.project:focus .scatterMsg:focus .letter:nth-child(2) {
  --x: -13;
  --y: -1074;
  --r: 166;
}
.project:hover .scatterMsg:hover .letter:nth-child(2):hover, .project:hover .scatterMsg:focus .letter:nth-child(2):hover,
.project:focus .scatterMsg:hover .letter:nth-child(2):hover,
.project:focus .scatterMsg:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -675;
  --y: -281;
  --r: -661;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(3), .project:hover .scatterMsg:focus .letter:nth-child(3),
.project:focus .scatterMsg:hover .letter:nth-child(3),
.project:focus .scatterMsg:focus .letter:nth-child(3) {
  --x: -4;
  --y: -956;
  --r: 244;
}
.project:hover .scatterMsg:hover .letter:nth-child(3):hover, .project:hover .scatterMsg:focus .letter:nth-child(3):hover,
.project:focus .scatterMsg:hover .letter:nth-child(3):hover,
.project:focus .scatterMsg:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -579;
  --y: 57;
  --r: -181;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(4), .project:hover .scatterMsg:focus .letter:nth-child(4),
.project:focus .scatterMsg:hover .letter:nth-child(4),
.project:focus .scatterMsg:focus .letter:nth-child(4) {
  --x: 30;
  --y: -837;
  --r: 144;
}
.project:hover .scatterMsg:hover .letter:nth-child(4):hover, .project:hover .scatterMsg:focus .letter:nth-child(4):hover,
.project:focus .scatterMsg:hover .letter:nth-child(4):hover,
.project:focus .scatterMsg:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -48;
  --y: -40;
  --r: -3;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(5), .project:hover .scatterMsg:focus .letter:nth-child(5),
.project:focus .scatterMsg:hover .letter:nth-child(5),
.project:focus .scatterMsg:focus .letter:nth-child(5) {
  --x: 64;
  --y: -13;
  --r: 297;
}
.project:hover .scatterMsg:hover .letter:nth-child(5):hover, .project:hover .scatterMsg:focus .letter:nth-child(5):hover,
.project:focus .scatterMsg:hover .letter:nth-child(5):hover,
.project:focus .scatterMsg:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -92;
  --y: -675;
  --r: -342;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(6), .project:hover .scatterMsg:focus .letter:nth-child(6),
.project:focus .scatterMsg:hover .letter:nth-child(6),
.project:focus .scatterMsg:focus .letter:nth-child(6) {
  --x: 40;
  --y: -142;
  --r: 8;
}
.project:hover .scatterMsg:hover .letter:nth-child(6):hover, .project:hover .scatterMsg:focus .letter:nth-child(6):hover,
.project:focus .scatterMsg:hover .letter:nth-child(6):hover,
.project:focus .scatterMsg:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -214;
  --y: -30;
  --r: -693;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(7), .project:hover .scatterMsg:focus .letter:nth-child(7),
.project:focus .scatterMsg:hover .letter:nth-child(7),
.project:focus .scatterMsg:focus .letter:nth-child(7) {
  --x: -43;
  --y: -403;
  --r: 336;
}
.project:hover .scatterMsg:hover .letter:nth-child(7):hover, .project:hover .scatterMsg:focus .letter:nth-child(7):hover,
.project:focus .scatterMsg:hover .letter:nth-child(7):hover,
.project:focus .scatterMsg:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -278;
  --y: -338;
  --r: -454;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(8), .project:hover .scatterMsg:focus .letter:nth-child(8),
.project:focus .scatterMsg:hover .letter:nth-child(8),
.project:focus .scatterMsg:focus .letter:nth-child(8) {
  --x: 34;
  --y: -15;
  --r: 164;
}
.project:hover .scatterMsg:hover .letter:nth-child(8):hover, .project:hover .scatterMsg:focus .letter:nth-child(8):hover,
.project:focus .scatterMsg:hover .letter:nth-child(8):hover,
.project:focus .scatterMsg:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -305;
  --y: -93;
  --r: -476;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(9), .project:hover .scatterMsg:focus .letter:nth-child(9),
.project:focus .scatterMsg:hover .letter:nth-child(9),
.project:focus .scatterMsg:focus .letter:nth-child(9) {
  --x: -4;
  --y: -1;
  --r: 279;
}
.project:hover .scatterMsg:hover .letter:nth-child(9):hover, .project:hover .scatterMsg:focus .letter:nth-child(9):hover,
.project:focus .scatterMsg:hover .letter:nth-child(9):hover,
.project:focus .scatterMsg:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -162;
  --y: -28;
  --r: -12;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(10), .project:hover .scatterMsg:focus .letter:nth-child(10),
.project:focus .scatterMsg:hover .letter:nth-child(10),
.project:focus .scatterMsg:focus .letter:nth-child(10) {
  --x: 28;
  --y: -585;
  --r: 273;
}
.project:hover .scatterMsg:hover .letter:nth-child(10):hover, .project:hover .scatterMsg:focus .letter:nth-child(10):hover,
.project:focus .scatterMsg:hover .letter:nth-child(10):hover,
.project:focus .scatterMsg:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -579;
  --y: -591;
  --r: -589;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(11), .project:hover .scatterMsg:focus .letter:nth-child(11),
.project:focus .scatterMsg:hover .letter:nth-child(11),
.project:focus .scatterMsg:focus .letter:nth-child(11) {
  --x: -36;
  --y: -608;
  --r: 351;
}
.project:hover .scatterMsg:hover .letter:nth-child(11):hover, .project:hover .scatterMsg:focus .letter:nth-child(11):hover,
.project:focus .scatterMsg:hover .letter:nth-child(11):hover,
.project:focus .scatterMsg:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -560;
  --y: -169;
  --r: -629;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(12), .project:hover .scatterMsg:focus .letter:nth-child(12),
.project:focus .scatterMsg:hover .letter:nth-child(12),
.project:focus .scatterMsg:focus .letter:nth-child(12) {
  --x: 88;
  --y: -1055;
  --r: 323;
}
.project:hover .scatterMsg:hover .letter:nth-child(12):hover, .project:hover .scatterMsg:focus .letter:nth-child(12):hover,
.project:focus .scatterMsg:hover .letter:nth-child(12):hover,
.project:focus .scatterMsg:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -671;
  --y: -251;
  --r: -24;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(13), .project:hover .scatterMsg:focus .letter:nth-child(13),
.project:focus .scatterMsg:hover .letter:nth-child(13),
.project:focus .scatterMsg:focus .letter:nth-child(13) {
  --x: 42;
  --y: -145;
  --r: 293;
}
.project:hover .scatterMsg:hover .letter:nth-child(13):hover, .project:hover .scatterMsg:focus .letter:nth-child(13):hover,
.project:focus .scatterMsg:hover .letter:nth-child(13):hover,
.project:focus .scatterMsg:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -1;
  --y: -19;
  --r: -286;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(14), .project:hover .scatterMsg:focus .letter:nth-child(14),
.project:focus .scatterMsg:hover .letter:nth-child(14),
.project:focus .scatterMsg:focus .letter:nth-child(14) {
  --x: 44;
  --y: -226;
  --r: 319;
}
.project:hover .scatterMsg:hover .letter:nth-child(14):hover, .project:hover .scatterMsg:focus .letter:nth-child(14):hover,
.project:focus .scatterMsg:hover .letter:nth-child(14):hover,
.project:focus .scatterMsg:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -362;
  --y: -492;
  --r: -536;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(15), .project:hover .scatterMsg:focus .letter:nth-child(15),
.project:focus .scatterMsg:hover .letter:nth-child(15),
.project:focus .scatterMsg:focus .letter:nth-child(15) {
  --x: 86;
  --y: 20;
  --r: 258;
}
.project:hover .scatterMsg:hover .letter:nth-child(15):hover, .project:hover .scatterMsg:focus .letter:nth-child(15):hover,
.project:focus .scatterMsg:hover .letter:nth-child(15):hover,
.project:focus .scatterMsg:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -403;
  --y: -18;
  --r: -566;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(16), .project:hover .scatterMsg:focus .letter:nth-child(16),
.project:focus .scatterMsg:hover .letter:nth-child(16),
.project:focus .scatterMsg:focus .letter:nth-child(16) {
  --x: 56;
  --y: -541;
  --r: 211;
}
.project:hover .scatterMsg:hover .letter:nth-child(16):hover, .project:hover .scatterMsg:focus .letter:nth-child(16):hover,
.project:focus .scatterMsg:hover .letter:nth-child(16):hover,
.project:focus .scatterMsg:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -558;
  --y: -576;
  --r: -410;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(17), .project:hover .scatterMsg:focus .letter:nth-child(17),
.project:focus .scatterMsg:hover .letter:nth-child(17),
.project:focus .scatterMsg:focus .letter:nth-child(17) {
  --x: 72;
  --y: -1243;
  --r: 27;
}
.project:hover .scatterMsg:hover .letter:nth-child(17):hover, .project:hover .scatterMsg:focus .letter:nth-child(17):hover,
.project:focus .scatterMsg:hover .letter:nth-child(17):hover,
.project:focus .scatterMsg:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -417;
  --y: -59;
  --r: -441;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(18), .project:hover .scatterMsg:focus .letter:nth-child(18),
.project:focus .scatterMsg:hover .letter:nth-child(18),
.project:focus .scatterMsg:focus .letter:nth-child(18) {
  --x: 64;
  --y: -1298;
  --r: 95;
}
.project:hover .scatterMsg:hover .letter:nth-child(18):hover, .project:hover .scatterMsg:focus .letter:nth-child(18):hover,
.project:focus .scatterMsg:hover .letter:nth-child(18):hover,
.project:focus .scatterMsg:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -213;
  --y: -664;
  --r: -57;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(19), .project:hover .scatterMsg:focus .letter:nth-child(19),
.project:focus .scatterMsg:hover .letter:nth-child(19),
.project:focus .scatterMsg:focus .letter:nth-child(19) {
  --x: 4;
  --y: -1183;
  --r: 214;
}
.project:hover .scatterMsg:hover .letter:nth-child(19):hover, .project:hover .scatterMsg:focus .letter:nth-child(19):hover,
.project:focus .scatterMsg:hover .letter:nth-child(19):hover,
.project:focus .scatterMsg:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -337;
  --y: 30;
  --r: -296;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(20), .project:hover .scatterMsg:focus .letter:nth-child(20),
.project:focus .scatterMsg:hover .letter:nth-child(20),
.project:focus .scatterMsg:focus .letter:nth-child(20) {
  --x: 54;
  --y: -723;
  --r: 128;
}
.project:hover .scatterMsg:hover .letter:nth-child(20):hover, .project:hover .scatterMsg:focus .letter:nth-child(20):hover,
.project:focus .scatterMsg:hover .letter:nth-child(20):hover,
.project:focus .scatterMsg:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -671;
  --y: -52;
  --r: -445;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(21), .project:hover .scatterMsg:focus .letter:nth-child(21),
.project:focus .scatterMsg:hover .letter:nth-child(21),
.project:focus .scatterMsg:focus .letter:nth-child(21) {
  --x: 16;
  --y: -762;
  --r: 329;
}
.project:hover .scatterMsg:hover .letter:nth-child(21):hover, .project:hover .scatterMsg:focus .letter:nth-child(21):hover,
.project:focus .scatterMsg:hover .letter:nth-child(21):hover,
.project:focus .scatterMsg:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -417;
  --y: -252;
  --r: -694;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(22), .project:hover .scatterMsg:focus .letter:nth-child(22),
.project:focus .scatterMsg:hover .letter:nth-child(22),
.project:focus .scatterMsg:focus .letter:nth-child(22) {
  --x: 47;
  --y: -796;
  --r: 339;
}
.project:hover .scatterMsg:hover .letter:nth-child(22):hover, .project:hover .scatterMsg:focus .letter:nth-child(22):hover,
.project:focus .scatterMsg:hover .letter:nth-child(22):hover,
.project:focus .scatterMsg:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -504;
  --y: -678;
  --r: -326;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(23), .project:hover .scatterMsg:focus .letter:nth-child(23),
.project:focus .scatterMsg:hover .letter:nth-child(23),
.project:focus .scatterMsg:focus .letter:nth-child(23) {
  --x: 68;
  --y: -703;
  --r: 28;
}
.project:hover .scatterMsg:hover .letter:nth-child(23):hover, .project:hover .scatterMsg:focus .letter:nth-child(23):hover,
.project:focus .scatterMsg:hover .letter:nth-child(23):hover,
.project:focus .scatterMsg:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -396;
  --y: 14;
  --r: -249;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(24), .project:hover .scatterMsg:focus .letter:nth-child(24),
.project:focus .scatterMsg:hover .letter:nth-child(24),
.project:focus .scatterMsg:focus .letter:nth-child(24) {
  --x: -25;
  --y: -17;
  --r: 50;
}
.project:hover .scatterMsg:hover .letter:nth-child(24):hover, .project:hover .scatterMsg:focus .letter:nth-child(24):hover,
.project:focus .scatterMsg:hover .letter:nth-child(24):hover,
.project:focus .scatterMsg:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -355;
  --y: -675;
  --r: -536;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(25), .project:hover .scatterMsg:focus .letter:nth-child(25),
.project:focus .scatterMsg:hover .letter:nth-child(25),
.project:focus .scatterMsg:focus .letter:nth-child(25) {
  --x: -46;
  --y: -324;
  --r: 52;
}
.project:hover .scatterMsg:hover .letter:nth-child(25):hover, .project:hover .scatterMsg:focus .letter:nth-child(25):hover,
.project:focus .scatterMsg:hover .letter:nth-child(25):hover,
.project:focus .scatterMsg:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -92;
  --y: 89;
  --r: -76;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(26), .project:hover .scatterMsg:focus .letter:nth-child(26),
.project:focus .scatterMsg:hover .letter:nth-child(26),
.project:focus .scatterMsg:focus .letter:nth-child(26) {
  --x: -2;
  --y: -762;
  --r: 301;
}
.project:hover .scatterMsg:hover .letter:nth-child(26):hover, .project:hover .scatterMsg:focus .letter:nth-child(26):hover,
.project:focus .scatterMsg:hover .letter:nth-child(26):hover,
.project:focus .scatterMsg:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -436;
  --y: -640;
  --r: -186;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(27), .project:hover .scatterMsg:focus .letter:nth-child(27),
.project:focus .scatterMsg:hover .letter:nth-child(27),
.project:focus .scatterMsg:focus .letter:nth-child(27) {
  --x: -36;
  --y: 47;
  --r: 207;
}
.project:hover .scatterMsg:hover .letter:nth-child(27):hover, .project:hover .scatterMsg:focus .letter:nth-child(27):hover,
.project:focus .scatterMsg:hover .letter:nth-child(27):hover,
.project:focus .scatterMsg:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -146;
  --y: -34;
  --r: -75;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(28), .project:hover .scatterMsg:focus .letter:nth-child(28),
.project:focus .scatterMsg:hover .letter:nth-child(28),
.project:focus .scatterMsg:focus .letter:nth-child(28) {
  --x: 48;
  --y: -413;
  --r: 254;
}
.project:hover .scatterMsg:hover .letter:nth-child(28):hover, .project:hover .scatterMsg:focus .letter:nth-child(28):hover,
.project:focus .scatterMsg:hover .letter:nth-child(28):hover,
.project:focus .scatterMsg:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -450;
  --y: -664;
  --r: -195;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(29), .project:hover .scatterMsg:focus .letter:nth-child(29),
.project:focus .scatterMsg:hover .letter:nth-child(29),
.project:focus .scatterMsg:focus .letter:nth-child(29) {
  --x: 90;
  --y: -337;
  --r: 242;
}
.project:hover .scatterMsg:hover .letter:nth-child(29):hover, .project:hover .scatterMsg:focus .letter:nth-child(29):hover,
.project:focus .scatterMsg:hover .letter:nth-child(29):hover,
.project:focus .scatterMsg:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -341;
  --y: -179;
  --r: -543;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(30), .project:hover .scatterMsg:focus .letter:nth-child(30),
.project:focus .scatterMsg:hover .letter:nth-child(30),
.project:focus .scatterMsg:focus .letter:nth-child(30) {
  --x: -28;
  --y: -403;
  --r: 348;
}
.project:hover .scatterMsg:hover .letter:nth-child(30):hover, .project:hover .scatterMsg:focus .letter:nth-child(30):hover,
.project:focus .scatterMsg:hover .letter:nth-child(30):hover,
.project:focus .scatterMsg:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -370;
  --y: -327;
  --r: -409;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(31), .project:hover .scatterMsg:focus .letter:nth-child(31),
.project:focus .scatterMsg:hover .letter:nth-child(31),
.project:focus .scatterMsg:focus .letter:nth-child(31) {
  --x: -30;
  --y: -543;
  --r: 174;
}
.project:hover .scatterMsg:hover .letter:nth-child(31):hover, .project:hover .scatterMsg:focus .letter:nth-child(31):hover,
.project:focus .scatterMsg:hover .letter:nth-child(31):hover,
.project:focus .scatterMsg:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -437;
  --y: -56;
  --r: -36;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(32), .project:hover .scatterMsg:focus .letter:nth-child(32),
.project:focus .scatterMsg:hover .letter:nth-child(32),
.project:focus .scatterMsg:focus .letter:nth-child(32) {
  --x: 10;
  --y: -1239;
  --r: 60;
}
.project:hover .scatterMsg:hover .letter:nth-child(32):hover, .project:hover .scatterMsg:focus .letter:nth-child(32):hover,
.project:focus .scatterMsg:hover .letter:nth-child(32):hover,
.project:focus .scatterMsg:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -197;
  --y: -153;
  --r: -102;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(33), .project:hover .scatterMsg:focus .letter:nth-child(33),
.project:focus .scatterMsg:hover .letter:nth-child(33),
.project:focus .scatterMsg:focus .letter:nth-child(33) {
  --x: -30;
  --y: -530;
  --r: 332;
}
.project:hover .scatterMsg:hover .letter:nth-child(33):hover, .project:hover .scatterMsg:focus .letter:nth-child(33):hover,
.project:focus .scatterMsg:hover .letter:nth-child(33):hover,
.project:focus .scatterMsg:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 58;
  --y: -539;
  --r: -459;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(34), .project:hover .scatterMsg:focus .letter:nth-child(34),
.project:focus .scatterMsg:hover .letter:nth-child(34),
.project:focus .scatterMsg:focus .letter:nth-child(34) {
  --x: 74;
  --y: -958;
  --r: 229;
}
.project:hover .scatterMsg:hover .letter:nth-child(34):hover, .project:hover .scatterMsg:focus .letter:nth-child(34):hover,
.project:focus .scatterMsg:hover .letter:nth-child(34):hover,
.project:focus .scatterMsg:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -292;
  --y: -655;
  --r: -542;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(35), .project:hover .scatterMsg:focus .letter:nth-child(35),
.project:focus .scatterMsg:hover .letter:nth-child(35),
.project:focus .scatterMsg:focus .letter:nth-child(35) {
  --x: -6;
  --y: -958;
  --r: 288;
}
.project:hover .scatterMsg:hover .letter:nth-child(35):hover, .project:hover .scatterMsg:focus .letter:nth-child(35):hover,
.project:focus .scatterMsg:hover .letter:nth-child(35):hover,
.project:focus .scatterMsg:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -224;
  --y: -392;
  --r: -151;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(36), .project:hover .scatterMsg:focus .letter:nth-child(36),
.project:focus .scatterMsg:hover .letter:nth-child(36),
.project:focus .scatterMsg:focus .letter:nth-child(36) {
  --x: 74;
  --y: -661;
  --r: 357;
}
.project:hover .scatterMsg:hover .letter:nth-child(36):hover, .project:hover .scatterMsg:focus .letter:nth-child(36):hover,
.project:focus .scatterMsg:hover .letter:nth-child(36):hover,
.project:focus .scatterMsg:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -91;
  --y: -48;
  --r: -297;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(37), .project:hover .scatterMsg:focus .letter:nth-child(37),
.project:focus .scatterMsg:hover .letter:nth-child(37),
.project:focus .scatterMsg:focus .letter:nth-child(37) {
  --x: 11;
  --y: 53;
  --r: 131;
}
.project:hover .scatterMsg:hover .letter:nth-child(37):hover, .project:hover .scatterMsg:focus .letter:nth-child(37):hover,
.project:focus .scatterMsg:hover .letter:nth-child(37):hover,
.project:focus .scatterMsg:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -446;
  --y: -175;
  --r: -103;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(38), .project:hover .scatterMsg:focus .letter:nth-child(38),
.project:focus .scatterMsg:hover .letter:nth-child(38),
.project:focus .scatterMsg:focus .letter:nth-child(38) {
  --x: -11;
  --y: -1333;
  --r: 127;
}
.project:hover .scatterMsg:hover .letter:nth-child(38):hover, .project:hover .scatterMsg:focus .letter:nth-child(38):hover,
.project:focus .scatterMsg:hover .letter:nth-child(38):hover,
.project:focus .scatterMsg:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 53;
  --y: -102;
  --r: -674;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(39), .project:hover .scatterMsg:focus .letter:nth-child(39),
.project:focus .scatterMsg:hover .letter:nth-child(39),
.project:focus .scatterMsg:focus .letter:nth-child(39) {
  --x: -24;
  --y: -1034;
  --r: 255;
}
.project:hover .scatterMsg:hover .letter:nth-child(39):hover, .project:hover .scatterMsg:focus .letter:nth-child(39):hover,
.project:focus .scatterMsg:hover .letter:nth-child(39):hover,
.project:focus .scatterMsg:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -601;
  --y: -450;
  --r: -295;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(40), .project:hover .scatterMsg:focus .letter:nth-child(40),
.project:focus .scatterMsg:hover .letter:nth-child(40),
.project:focus .scatterMsg:focus .letter:nth-child(40) {
  --x: 20;
  --y: -780;
  --r: 170;
}
.project:hover .scatterMsg:hover .letter:nth-child(40):hover, .project:hover .scatterMsg:focus .letter:nth-child(40):hover,
.project:focus .scatterMsg:hover .letter:nth-child(40):hover,
.project:focus .scatterMsg:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -477;
  --y: -278;
  --r: -255;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(41), .project:hover .scatterMsg:focus .letter:nth-child(41),
.project:focus .scatterMsg:hover .letter:nth-child(41),
.project:focus .scatterMsg:focus .letter:nth-child(41) {
  --x: -1;
  --y: -784;
  --r: 162;
}
.project:hover .scatterMsg:hover .letter:nth-child(41):hover, .project:hover .scatterMsg:focus .letter:nth-child(41):hover,
.project:focus .scatterMsg:hover .letter:nth-child(41):hover,
.project:focus .scatterMsg:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -456;
  --y: -352;
  --r: -118;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(42), .project:hover .scatterMsg:focus .letter:nth-child(42),
.project:focus .scatterMsg:hover .letter:nth-child(42),
.project:focus .scatterMsg:focus .letter:nth-child(42) {
  --x: -27;
  --y: -271;
  --r: 235;
}
.project:hover .scatterMsg:hover .letter:nth-child(42):hover, .project:hover .scatterMsg:focus .letter:nth-child(42):hover,
.project:focus .scatterMsg:hover .letter:nth-child(42):hover,
.project:focus .scatterMsg:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -335;
  --y: -254;
  --r: -510;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(43), .project:hover .scatterMsg:focus .letter:nth-child(43),
.project:focus .scatterMsg:hover .letter:nth-child(43),
.project:focus .scatterMsg:focus .letter:nth-child(43) {
  --x: 55;
  --y: -509;
  --r: 298;
}
.project:hover .scatterMsg:hover .letter:nth-child(43):hover, .project:hover .scatterMsg:focus .letter:nth-child(43):hover,
.project:focus .scatterMsg:hover .letter:nth-child(43):hover,
.project:focus .scatterMsg:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -44;
  --y: -97;
  --r: -368;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(44), .project:hover .scatterMsg:focus .letter:nth-child(44),
.project:focus .scatterMsg:hover .letter:nth-child(44),
.project:focus .scatterMsg:focus .letter:nth-child(44) {
  --x: 40;
  --y: -570;
  --r: 342;
}
.project:hover .scatterMsg:hover .letter:nth-child(44):hover, .project:hover .scatterMsg:focus .letter:nth-child(44):hover,
.project:focus .scatterMsg:hover .letter:nth-child(44):hover,
.project:focus .scatterMsg:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -206;
  --y: -122;
  --r: -266;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(45), .project:hover .scatterMsg:focus .letter:nth-child(45),
.project:focus .scatterMsg:hover .letter:nth-child(45),
.project:focus .scatterMsg:focus .letter:nth-child(45) {
  --x: 74;
  --y: -245;
  --r: 301;
}
.project:hover .scatterMsg:hover .letter:nth-child(45):hover, .project:hover .scatterMsg:focus .letter:nth-child(45):hover,
.project:focus .scatterMsg:hover .letter:nth-child(45):hover,
.project:focus .scatterMsg:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -303;
  --y: -642;
  --r: -116;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(46), .project:hover .scatterMsg:focus .letter:nth-child(46),
.project:focus .scatterMsg:hover .letter:nth-child(46),
.project:focus .scatterMsg:focus .letter:nth-child(46) {
  --x: -6;
  --y: -711;
  --r: 60;
}
.project:hover .scatterMsg:hover .letter:nth-child(46):hover, .project:hover .scatterMsg:focus .letter:nth-child(46):hover,
.project:focus .scatterMsg:hover .letter:nth-child(46):hover,
.project:focus .scatterMsg:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -466;
  --y: -66;
  --r: -359;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(47), .project:hover .scatterMsg:focus .letter:nth-child(47),
.project:focus .scatterMsg:hover .letter:nth-child(47),
.project:focus .scatterMsg:focus .letter:nth-child(47) {
  --x: 13;
  --y: -420;
  --r: 238;
}
.project:hover .scatterMsg:hover .letter:nth-child(47):hover, .project:hover .scatterMsg:focus .letter:nth-child(47):hover,
.project:focus .scatterMsg:hover .letter:nth-child(47):hover,
.project:focus .scatterMsg:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -422;
  --y: -558;
  --r: 90;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(48), .project:hover .scatterMsg:focus .letter:nth-child(48),
.project:focus .scatterMsg:hover .letter:nth-child(48),
.project:focus .scatterMsg:focus .letter:nth-child(48) {
  --x: 27;
  --y: 84;
  --r: 312;
}
.project:hover .scatterMsg:hover .letter:nth-child(48):hover, .project:hover .scatterMsg:focus .letter:nth-child(48):hover,
.project:focus .scatterMsg:hover .letter:nth-child(48):hover,
.project:focus .scatterMsg:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -469;
  --y: -518;
  --r: -124;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(49), .project:hover .scatterMsg:focus .letter:nth-child(49),
.project:focus .scatterMsg:hover .letter:nth-child(49),
.project:focus .scatterMsg:focus .letter:nth-child(49) {
  --x: 79;
  --y: -507;
  --r: 113;
}
.project:hover .scatterMsg:hover .letter:nth-child(49):hover, .project:hover .scatterMsg:focus .letter:nth-child(49):hover,
.project:focus .scatterMsg:hover .letter:nth-child(49):hover,
.project:focus .scatterMsg:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -271;
  --y: -673;
  --r: -208;
  --s: 1.8;
}
.project:hover .scatterMsg:hover .letter:nth-child(50), .project:hover .scatterMsg:focus .letter:nth-child(50),
.project:focus .scatterMsg:hover .letter:nth-child(50),
.project:focus .scatterMsg:focus .letter:nth-child(50) {
  --x: 55;
  --y: -895;
  --r: 347;
}
.project:hover .scatterMsg:hover .letter:nth-child(50):hover, .project:hover .scatterMsg:focus .letter:nth-child(50):hover,
.project:focus .scatterMsg:hover .letter:nth-child(50):hover,
.project:focus .scatterMsg:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -1;
  --y: -547;
  --r: -175;
  --s: 1.8;
}/*# sourceMappingURL=projectsPageStyle.css.map */