@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
body {
  display: flex;
  place-items: center;
  min-height: 100dvh;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8705882353);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

.projectsContainer {
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
}

a.project {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8705882353);
  text-decoration: none;
}

.projectTitle {
  display: flex;
  align-items: center;
}

.number {
  margin: 24px;
}

.projectImg {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  z-index: -1;
}

.projectImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.project:hover .projectImg,
.project:focus .projectImg {
  display: block;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: relative;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  max-width: 320px;
}
.scatterMsg:hover .word, .scatterMsg:focus .word {
  opacity: 0.8;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-5px) rotate(5deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.scatterMsg:hover .word:hover, .scatterMsg:hover .word:focus, .scatterMsg:focus .word:hover, .scatterMsg:focus .word:focus {
  opacity: 1;
}
.scatterMsg:hover .word:hover .letter::before, .scatterMsg:hover .word:focus .letter::before, .scatterMsg:focus .word:hover .letter::before, .scatterMsg:focus .word:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.scatterMsg:hover .word:hover .letter:nth-child(1), .scatterMsg:hover .word:focus .letter:nth-child(1), .scatterMsg:focus .word:hover .letter:nth-child(1), .scatterMsg:focus .word:focus .letter:nth-child(1) {
  --x: -3;
  --y: 15;
  --r: -17;
}
.scatterMsg:hover .word:hover .letter:nth-child(1):hover, .scatterMsg:hover .word:hover .letter:nth-child(1):focus, .scatterMsg:hover .word:focus .letter:nth-child(1):hover, .scatterMsg:hover .word:focus .letter:nth-child(1):focus, .scatterMsg:focus .word:hover .letter:nth-child(1):hover, .scatterMsg:focus .word:hover .letter:nth-child(1):focus, .scatterMsg:focus .word:focus .letter:nth-child(1):hover, .scatterMsg:focus .word:focus .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 9;
  --y: -1;
  --r: 0;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(2), .scatterMsg:hover .word:focus .letter:nth-child(2), .scatterMsg:focus .word:hover .letter:nth-child(2), .scatterMsg:focus .word:focus .letter:nth-child(2) {
  --x: 23;
  --y: 10;
  --r: 2;
}
.scatterMsg:hover .word:hover .letter:nth-child(2):hover, .scatterMsg:hover .word:hover .letter:nth-child(2):focus, .scatterMsg:hover .word:focus .letter:nth-child(2):hover, .scatterMsg:hover .word:focus .letter:nth-child(2):focus, .scatterMsg:focus .word:hover .letter:nth-child(2):hover, .scatterMsg:focus .word:hover .letter:nth-child(2):focus, .scatterMsg:focus .word:focus .letter:nth-child(2):hover, .scatterMsg:focus .word:focus .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 7;
  --y: 2;
  --r: 1;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(3), .scatterMsg:hover .word:focus .letter:nth-child(3), .scatterMsg:focus .word:hover .letter:nth-child(3), .scatterMsg:focus .word:focus .letter:nth-child(3) {
  --x: -4;
  --y: -20;
  --r: 0;
}
.scatterMsg:hover .word:hover .letter:nth-child(3):hover, .scatterMsg:hover .word:hover .letter:nth-child(3):focus, .scatterMsg:hover .word:focus .letter:nth-child(3):hover, .scatterMsg:hover .word:focus .letter:nth-child(3):focus, .scatterMsg:focus .word:hover .letter:nth-child(3):hover, .scatterMsg:focus .word:hover .letter:nth-child(3):focus, .scatterMsg:focus .word:focus .letter:nth-child(3):hover, .scatterMsg:focus .word:focus .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 0;
  --y: -3;
  --r: -4;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(4), .scatterMsg:hover .word:focus .letter:nth-child(4), .scatterMsg:focus .word:hover .letter:nth-child(4), .scatterMsg:focus .word:focus .letter:nth-child(4) {
  --x: -1;
  --y: 14;
  --r: -23;
}
.scatterMsg:hover .word:hover .letter:nth-child(4):hover, .scatterMsg:hover .word:hover .letter:nth-child(4):focus, .scatterMsg:hover .word:focus .letter:nth-child(4):hover, .scatterMsg:hover .word:focus .letter:nth-child(4):focus, .scatterMsg:focus .word:hover .letter:nth-child(4):hover, .scatterMsg:focus .word:hover .letter:nth-child(4):focus, .scatterMsg:focus .word:focus .letter:nth-child(4):hover, .scatterMsg:focus .word:focus .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -5;
  --y: -3;
  --r: 6;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(5), .scatterMsg:hover .word:focus .letter:nth-child(5), .scatterMsg:focus .word:hover .letter:nth-child(5), .scatterMsg:focus .word:focus .letter:nth-child(5) {
  --x: 9;
  --y: -7;
  --r: -8;
}
.scatterMsg:hover .word:hover .letter:nth-child(5):hover, .scatterMsg:hover .word:hover .letter:nth-child(5):focus, .scatterMsg:hover .word:focus .letter:nth-child(5):hover, .scatterMsg:hover .word:focus .letter:nth-child(5):focus, .scatterMsg:focus .word:hover .letter:nth-child(5):hover, .scatterMsg:focus .word:hover .letter:nth-child(5):focus, .scatterMsg:focus .word:focus .letter:nth-child(5):hover, .scatterMsg:focus .word:focus .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 9;
  --y: 7;
  --r: -3;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(6), .scatterMsg:hover .word:focus .letter:nth-child(6), .scatterMsg:focus .word:hover .letter:nth-child(6), .scatterMsg:focus .word:focus .letter:nth-child(6) {
  --x: 6;
  --y: -5;
  --r: 18;
}
.scatterMsg:hover .word:hover .letter:nth-child(6):hover, .scatterMsg:hover .word:hover .letter:nth-child(6):focus, .scatterMsg:hover .word:focus .letter:nth-child(6):hover, .scatterMsg:hover .word:focus .letter:nth-child(6):focus, .scatterMsg:focus .word:hover .letter:nth-child(6):hover, .scatterMsg:focus .word:hover .letter:nth-child(6):focus, .scatterMsg:focus .word:focus .letter:nth-child(6):hover, .scatterMsg:focus .word:focus .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -7;
  --y: -1;
  --r: 0;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(7), .scatterMsg:hover .word:focus .letter:nth-child(7), .scatterMsg:focus .word:hover .letter:nth-child(7), .scatterMsg:focus .word:focus .letter:nth-child(7) {
  --x: 20;
  --y: -8;
  --r: 7;
}
.scatterMsg:hover .word:hover .letter:nth-child(7):hover, .scatterMsg:hover .word:hover .letter:nth-child(7):focus, .scatterMsg:hover .word:focus .letter:nth-child(7):hover, .scatterMsg:hover .word:focus .letter:nth-child(7):focus, .scatterMsg:focus .word:hover .letter:nth-child(7):hover, .scatterMsg:focus .word:hover .letter:nth-child(7):focus, .scatterMsg:focus .word:focus .letter:nth-child(7):hover, .scatterMsg:focus .word:focus .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 8;
  --y: -3;
  --r: 5;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(8), .scatterMsg:hover .word:focus .letter:nth-child(8), .scatterMsg:focus .word:hover .letter:nth-child(8), .scatterMsg:focus .word:focus .letter:nth-child(8) {
  --x: 12;
  --y: -12;
  --r: 8;
}
.scatterMsg:hover .word:hover .letter:nth-child(8):hover, .scatterMsg:hover .word:hover .letter:nth-child(8):focus, .scatterMsg:hover .word:focus .letter:nth-child(8):hover, .scatterMsg:hover .word:focus .letter:nth-child(8):focus, .scatterMsg:focus .word:hover .letter:nth-child(8):hover, .scatterMsg:focus .word:hover .letter:nth-child(8):focus, .scatterMsg:focus .word:focus .letter:nth-child(8):hover, .scatterMsg:focus .word:focus .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -4;
  --y: 5;
  --r: -6;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(9), .scatterMsg:hover .word:focus .letter:nth-child(9), .scatterMsg:focus .word:hover .letter:nth-child(9), .scatterMsg:focus .word:focus .letter:nth-child(9) {
  --x: 20;
  --y: 4;
  --r: 16;
}
.scatterMsg:hover .word:hover .letter:nth-child(9):hover, .scatterMsg:hover .word:hover .letter:nth-child(9):focus, .scatterMsg:hover .word:focus .letter:nth-child(9):hover, .scatterMsg:hover .word:focus .letter:nth-child(9):focus, .scatterMsg:focus .word:hover .letter:nth-child(9):hover, .scatterMsg:focus .word:hover .letter:nth-child(9):focus, .scatterMsg:focus .word:focus .letter:nth-child(9):hover, .scatterMsg:focus .word:focus .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 5;
  --y: -8;
  --r: -8;
  --s: 1.25;
}
.scatterMsg:hover .word:hover .letter:nth-child(10), .scatterMsg:hover .word:focus .letter:nth-child(10), .scatterMsg:focus .word:hover .letter:nth-child(10), .scatterMsg:focus .word:focus .letter:nth-child(10) {
  --x: -16;
  --y: 4;
  --r: -11;
}
.scatterMsg:hover .word:hover .letter:nth-child(10):hover, .scatterMsg:hover .word:hover .letter:nth-child(10):focus, .scatterMsg:hover .word:focus .letter:nth-child(10):hover, .scatterMsg:hover .word:focus .letter:nth-child(10):focus, .scatterMsg:focus .word:hover .letter:nth-child(10):hover, .scatterMsg:focus .word:hover .letter:nth-child(10):focus, .scatterMsg:focus .word:focus .letter:nth-child(10):hover, .scatterMsg:focus .word:focus .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -1;
  --y: 4;
  --r: 0;
  --s: 1.25;
}/*# sourceMappingURL=style.css.map */