@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100dvh;
  overflow-y: auto;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8705882353);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #121212;
  height: 64px;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: rgba(255, 255, 255, 0.8705882353);
  text-decoration: none;
}

nav a,
nav .menu a {
  margin: 8px;
  font-size: 1.2rem;
}

.projectsContainer {
  margin-top: 72px;
  width: 100%;
  max-width: 100%;
  height: 90dvh;
  overflow-y: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}

a.project:nth-child(odd) {
  padding: 48px 16px;
}

a.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 16px;
}

.projectTitle {
  display: flex;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
}

.number {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}

.year {
  margin: 8px;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.projectImg {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img.verticalImg {
  width: auto;
  height: 100%;
}

.projectImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brightImg {
  opacity: 0.7;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
}
.scatterMsg:hover, .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.scatterMsg:hover:hover, .scatterMsg:hover:focus, .scatterMsg:focus:hover, .scatterMsg:focus:focus {
  opacity: 1;
}
.scatterMsg:hover:hover .letter::before, .scatterMsg:hover:focus .letter::before, .scatterMsg:focus:hover .letter::before, .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.scatterMsg:hover:hover .letter:nth-child(1), .scatterMsg:hover:focus .letter:nth-child(1), .scatterMsg:focus:hover .letter:nth-child(1), .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: -29;
  --y: -698;
  --r: 48;
}
.scatterMsg:hover:hover .letter:nth-child(1):hover, .scatterMsg:hover:focus .letter:nth-child(1):hover, .scatterMsg:focus:hover .letter:nth-child(1):hover, .scatterMsg:focus:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -144;
  --y: 12;
  --r: -593;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(2), .scatterMsg:hover:focus .letter:nth-child(2), .scatterMsg:focus:hover .letter:nth-child(2), .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 43;
  --y: -680;
  --r: 51;
}
.scatterMsg:hover:hover .letter:nth-child(2):hover, .scatterMsg:hover:focus .letter:nth-child(2):hover, .scatterMsg:focus:hover .letter:nth-child(2):hover, .scatterMsg:focus:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -85;
  --y: -78;
  --r: -422;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(3), .scatterMsg:hover:focus .letter:nth-child(3), .scatterMsg:focus:hover .letter:nth-child(3), .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: -44;
  --y: -521;
  --r: 262;
}
.scatterMsg:hover:hover .letter:nth-child(3):hover, .scatterMsg:hover:focus .letter:nth-child(3):hover, .scatterMsg:focus:hover .letter:nth-child(3):hover, .scatterMsg:focus:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -571;
  --y: -212;
  --r: -195;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(4), .scatterMsg:hover:focus .letter:nth-child(4), .scatterMsg:focus:hover .letter:nth-child(4), .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 15;
  --y: -780;
  --r: 156;
}
.scatterMsg:hover:hover .letter:nth-child(4):hover, .scatterMsg:hover:focus .letter:nth-child(4):hover, .scatterMsg:focus:hover .letter:nth-child(4):hover, .scatterMsg:focus:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -75;
  --y: -526;
  --r: -269;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(5), .scatterMsg:hover:focus .letter:nth-child(5), .scatterMsg:focus:hover .letter:nth-child(5), .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: 67;
  --y: -1062;
  --r: 29;
}
.scatterMsg:hover:hover .letter:nth-child(5):hover, .scatterMsg:hover:focus .letter:nth-child(5):hover, .scatterMsg:focus:hover .letter:nth-child(5):hover, .scatterMsg:focus:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 55;
  --y: -547;
  --r: -209;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(6), .scatterMsg:hover:focus .letter:nth-child(6), .scatterMsg:focus:hover .letter:nth-child(6), .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 17;
  --y: -152;
  --r: 216;
}
.scatterMsg:hover:hover .letter:nth-child(6):hover, .scatterMsg:hover:focus .letter:nth-child(6):hover, .scatterMsg:focus:hover .letter:nth-child(6):hover, .scatterMsg:focus:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -677;
  --y: -618;
  --r: -83;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(7), .scatterMsg:hover:focus .letter:nth-child(7), .scatterMsg:focus:hover .letter:nth-child(7), .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 70;
  --y: -29;
  --r: 344;
}
.scatterMsg:hover:hover .letter:nth-child(7):hover, .scatterMsg:hover:focus .letter:nth-child(7):hover, .scatterMsg:focus:hover .letter:nth-child(7):hover, .scatterMsg:focus:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 13;
  --y: -286;
  --r: -111;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(8), .scatterMsg:hover:focus .letter:nth-child(8), .scatterMsg:focus:hover .letter:nth-child(8), .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: -9;
  --y: -1028;
  --r: 128;
}
.scatterMsg:hover:hover .letter:nth-child(8):hover, .scatterMsg:hover:focus .letter:nth-child(8):hover, .scatterMsg:focus:hover .letter:nth-child(8):hover, .scatterMsg:focus:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -276;
  --y: -292;
  --r: -247;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(9), .scatterMsg:hover:focus .letter:nth-child(9), .scatterMsg:focus:hover .letter:nth-child(9), .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: -3;
  --y: -146;
  --r: 271;
}
.scatterMsg:hover:hover .letter:nth-child(9):hover, .scatterMsg:hover:focus .letter:nth-child(9):hover, .scatterMsg:focus:hover .letter:nth-child(9):hover, .scatterMsg:focus:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -10;
  --y: -119;
  --r: -475;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(10), .scatterMsg:hover:focus .letter:nth-child(10), .scatterMsg:focus:hover .letter:nth-child(10), .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: -11;
  --y: -988;
  --r: 48;
}
.scatterMsg:hover:hover .letter:nth-child(10):hover, .scatterMsg:hover:focus .letter:nth-child(10):hover, .scatterMsg:focus:hover .letter:nth-child(10):hover, .scatterMsg:focus:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -114;
  --y: -128;
  --r: -247;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(11), .scatterMsg:hover:focus .letter:nth-child(11), .scatterMsg:focus:hover .letter:nth-child(11), .scatterMsg:focus:focus .letter:nth-child(11) {
  --x: -35;
  --y: -639;
  --r: 268;
}
.scatterMsg:hover:hover .letter:nth-child(11):hover, .scatterMsg:hover:focus .letter:nth-child(11):hover, .scatterMsg:focus:hover .letter:nth-child(11):hover, .scatterMsg:focus:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -448;
  --y: -433;
  --r: -490;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(12), .scatterMsg:hover:focus .letter:nth-child(12), .scatterMsg:focus:hover .letter:nth-child(12), .scatterMsg:focus:focus .letter:nth-child(12) {
  --x: 1;
  --y: -1339;
  --r: 313;
}
.scatterMsg:hover:hover .letter:nth-child(12):hover, .scatterMsg:hover:focus .letter:nth-child(12):hover, .scatterMsg:focus:hover .letter:nth-child(12):hover, .scatterMsg:focus:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -188;
  --y: -14;
  --r: -654;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(13), .scatterMsg:hover:focus .letter:nth-child(13), .scatterMsg:focus:hover .letter:nth-child(13), .scatterMsg:focus:focus .letter:nth-child(13) {
  --x: 2;
  --y: -72;
  --r: 234;
}
.scatterMsg:hover:hover .letter:nth-child(13):hover, .scatterMsg:hover:focus .letter:nth-child(13):hover, .scatterMsg:focus:hover .letter:nth-child(13):hover, .scatterMsg:focus:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -554;
  --y: -407;
  --r: -43;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(14), .scatterMsg:hover:focus .letter:nth-child(14), .scatterMsg:focus:hover .letter:nth-child(14), .scatterMsg:focus:focus .letter:nth-child(14) {
  --x: 66;
  --y: -382;
  --r: 204;
}
.scatterMsg:hover:hover .letter:nth-child(14):hover, .scatterMsg:hover:focus .letter:nth-child(14):hover, .scatterMsg:focus:hover .letter:nth-child(14):hover, .scatterMsg:focus:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -440;
  --y: -10;
  --r: -442;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(15), .scatterMsg:hover:focus .letter:nth-child(15), .scatterMsg:focus:hover .letter:nth-child(15), .scatterMsg:focus:focus .letter:nth-child(15) {
  --x: 19;
  --y: -543;
  --r: 67;
}
.scatterMsg:hover:hover .letter:nth-child(15):hover, .scatterMsg:hover:focus .letter:nth-child(15):hover, .scatterMsg:focus:hover .letter:nth-child(15):hover, .scatterMsg:focus:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 20;
  --y: -135;
  --r: -435;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(16), .scatterMsg:hover:focus .letter:nth-child(16), .scatterMsg:focus:hover .letter:nth-child(16), .scatterMsg:focus:focus .letter:nth-child(16) {
  --x: 97;
  --y: -1067;
  --r: 302;
}
.scatterMsg:hover:hover .letter:nth-child(16):hover, .scatterMsg:hover:focus .letter:nth-child(16):hover, .scatterMsg:focus:hover .letter:nth-child(16):hover, .scatterMsg:focus:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -15;
  --y: -165;
  --r: -403;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(17), .scatterMsg:hover:focus .letter:nth-child(17), .scatterMsg:focus:hover .letter:nth-child(17), .scatterMsg:focus:focus .letter:nth-child(17) {
  --x: 27;
  --y: -1168;
  --r: 174;
}
.scatterMsg:hover:hover .letter:nth-child(17):hover, .scatterMsg:hover:focus .letter:nth-child(17):hover, .scatterMsg:focus:hover .letter:nth-child(17):hover, .scatterMsg:focus:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -583;
  --y: -235;
  --r: -486;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(18), .scatterMsg:hover:focus .letter:nth-child(18), .scatterMsg:focus:hover .letter:nth-child(18), .scatterMsg:focus:focus .letter:nth-child(18) {
  --x: -29;
  --y: 35;
  --r: 336;
}
.scatterMsg:hover:hover .letter:nth-child(18):hover, .scatterMsg:hover:focus .letter:nth-child(18):hover, .scatterMsg:focus:hover .letter:nth-child(18):hover, .scatterMsg:focus:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -689;
  --y: -92;
  --r: 77;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(19), .scatterMsg:hover:focus .letter:nth-child(19), .scatterMsg:focus:hover .letter:nth-child(19), .scatterMsg:focus:focus .letter:nth-child(19) {
  --x: -48;
  --y: -782;
  --r: 155;
}
.scatterMsg:hover:hover .letter:nth-child(19):hover, .scatterMsg:hover:focus .letter:nth-child(19):hover, .scatterMsg:focus:hover .letter:nth-child(19):hover, .scatterMsg:focus:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -4;
  --y: -625;
  --r: -457;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(20), .scatterMsg:hover:focus .letter:nth-child(20), .scatterMsg:focus:hover .letter:nth-child(20), .scatterMsg:focus:focus .letter:nth-child(20) {
  --x: 95;
  --y: -1372;
  --r: 155;
}
.scatterMsg:hover:hover .letter:nth-child(20):hover, .scatterMsg:hover:focus .letter:nth-child(20):hover, .scatterMsg:focus:hover .letter:nth-child(20):hover, .scatterMsg:focus:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 46;
  --y: -102;
  --r: -577;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(21), .scatterMsg:hover:focus .letter:nth-child(21), .scatterMsg:focus:hover .letter:nth-child(21), .scatterMsg:focus:focus .letter:nth-child(21) {
  --x: -21;
  --y: -75;
  --r: 34;
}
.scatterMsg:hover:hover .letter:nth-child(21):hover, .scatterMsg:hover:focus .letter:nth-child(21):hover, .scatterMsg:focus:hover .letter:nth-child(21):hover, .scatterMsg:focus:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -5;
  --y: -46;
  --r: -578;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(22), .scatterMsg:hover:focus .letter:nth-child(22), .scatterMsg:focus:hover .letter:nth-child(22), .scatterMsg:focus:focus .letter:nth-child(22) {
  --x: -33;
  --y: -356;
  --r: 231;
}
.scatterMsg:hover:hover .letter:nth-child(22):hover, .scatterMsg:hover:focus .letter:nth-child(22):hover, .scatterMsg:focus:hover .letter:nth-child(22):hover, .scatterMsg:focus:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -122;
  --y: -133;
  --r: -283;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(23), .scatterMsg:hover:focus .letter:nth-child(23), .scatterMsg:focus:hover .letter:nth-child(23), .scatterMsg:focus:focus .letter:nth-child(23) {
  --x: 62;
  --y: 70;
  --r: 210;
}
.scatterMsg:hover:hover .letter:nth-child(23):hover, .scatterMsg:hover:focus .letter:nth-child(23):hover, .scatterMsg:focus:hover .letter:nth-child(23):hover, .scatterMsg:focus:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -480;
  --y: -131;
  --r: -596;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(24), .scatterMsg:hover:focus .letter:nth-child(24), .scatterMsg:focus:hover .letter:nth-child(24), .scatterMsg:focus:focus .letter:nth-child(24) {
  --x: 32;
  --y: -1255;
  --r: 251;
}
.scatterMsg:hover:hover .letter:nth-child(24):hover, .scatterMsg:hover:focus .letter:nth-child(24):hover, .scatterMsg:focus:hover .letter:nth-child(24):hover, .scatterMsg:focus:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -610;
  --y: -456;
  --r: -279;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(25), .scatterMsg:hover:focus .letter:nth-child(25), .scatterMsg:focus:hover .letter:nth-child(25), .scatterMsg:focus:focus .letter:nth-child(25) {
  --x: 42;
  --y: -32;
  --r: 103;
}
.scatterMsg:hover:hover .letter:nth-child(25):hover, .scatterMsg:hover:focus .letter:nth-child(25):hover, .scatterMsg:focus:hover .letter:nth-child(25):hover, .scatterMsg:focus:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 51;
  --y: -381;
  --r: -663;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(26), .scatterMsg:hover:focus .letter:nth-child(26), .scatterMsg:focus:hover .letter:nth-child(26), .scatterMsg:focus:focus .letter:nth-child(26) {
  --x: -3;
  --y: -94;
  --r: 160;
}
.scatterMsg:hover:hover .letter:nth-child(26):hover, .scatterMsg:hover:focus .letter:nth-child(26):hover, .scatterMsg:focus:hover .letter:nth-child(26):hover, .scatterMsg:focus:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -109;
  --y: -116;
  --r: -151;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(27), .scatterMsg:hover:focus .letter:nth-child(27), .scatterMsg:focus:hover .letter:nth-child(27), .scatterMsg:focus:focus .letter:nth-child(27) {
  --x: -6;
  --y: -1304;
  --r: 165;
}
.scatterMsg:hover:hover .letter:nth-child(27):hover, .scatterMsg:hover:focus .letter:nth-child(27):hover, .scatterMsg:focus:hover .letter:nth-child(27):hover, .scatterMsg:focus:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -284;
  --y: -112;
  --r: -53;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(28), .scatterMsg:hover:focus .letter:nth-child(28), .scatterMsg:focus:hover .letter:nth-child(28), .scatterMsg:focus:focus .letter:nth-child(28) {
  --x: 22;
  --y: -1088;
  --r: 200;
}
.scatterMsg:hover:hover .letter:nth-child(28):hover, .scatterMsg:hover:focus .letter:nth-child(28):hover, .scatterMsg:focus:hover .letter:nth-child(28):hover, .scatterMsg:focus:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -248;
  --y: -559;
  --r: -411;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(29), .scatterMsg:hover:focus .letter:nth-child(29), .scatterMsg:focus:hover .letter:nth-child(29), .scatterMsg:focus:focus .letter:nth-child(29) {
  --x: 65;
  --y: -812;
  --r: 5;
}
.scatterMsg:hover:hover .letter:nth-child(29):hover, .scatterMsg:hover:focus .letter:nth-child(29):hover, .scatterMsg:focus:hover .letter:nth-child(29):hover, .scatterMsg:focus:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -608;
  --y: -256;
  --r: -173;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(30), .scatterMsg:hover:focus .letter:nth-child(30), .scatterMsg:focus:hover .letter:nth-child(30), .scatterMsg:focus:focus .letter:nth-child(30) {
  --x: 9;
  --y: 55;
  --r: 34;
}
.scatterMsg:hover:hover .letter:nth-child(30):hover, .scatterMsg:hover:focus .letter:nth-child(30):hover, .scatterMsg:focus:hover .letter:nth-child(30):hover, .scatterMsg:focus:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -385;
  --y: -563;
  --r: 92;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(31), .scatterMsg:hover:focus .letter:nth-child(31), .scatterMsg:focus:hover .letter:nth-child(31), .scatterMsg:focus:focus .letter:nth-child(31) {
  --x: 18;
  --y: -107;
  --r: 150;
}
.scatterMsg:hover:hover .letter:nth-child(31):hover, .scatterMsg:hover:focus .letter:nth-child(31):hover, .scatterMsg:focus:hover .letter:nth-child(31):hover, .scatterMsg:focus:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -441;
  --y: 61;
  --r: -310;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(32), .scatterMsg:hover:focus .letter:nth-child(32), .scatterMsg:focus:hover .letter:nth-child(32), .scatterMsg:focus:focus .letter:nth-child(32) {
  --x: 53;
  --y: -910;
  --r: 141;
}
.scatterMsg:hover:hover .letter:nth-child(32):hover, .scatterMsg:hover:focus .letter:nth-child(32):hover, .scatterMsg:focus:hover .letter:nth-child(32):hover, .scatterMsg:focus:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -52;
  --y: 58;
  --r: -556;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(33), .scatterMsg:hover:focus .letter:nth-child(33), .scatterMsg:focus:hover .letter:nth-child(33), .scatterMsg:focus:focus .letter:nth-child(33) {
  --x: 74;
  --y: -377;
  --r: 63;
}
.scatterMsg:hover:hover .letter:nth-child(33):hover, .scatterMsg:hover:focus .letter:nth-child(33):hover, .scatterMsg:focus:hover .letter:nth-child(33):hover, .scatterMsg:focus:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 73;
  --y: 91;
  --r: -129;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(34), .scatterMsg:hover:focus .letter:nth-child(34), .scatterMsg:focus:hover .letter:nth-child(34), .scatterMsg:focus:focus .letter:nth-child(34) {
  --x: -43;
  --y: -921;
  --r: 350;
}
.scatterMsg:hover:hover .letter:nth-child(34):hover, .scatterMsg:hover:focus .letter:nth-child(34):hover, .scatterMsg:focus:hover .letter:nth-child(34):hover, .scatterMsg:focus:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -542;
  --y: 44;
  --r: -12;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(35), .scatterMsg:hover:focus .letter:nth-child(35), .scatterMsg:focus:hover .letter:nth-child(35), .scatterMsg:focus:focus .letter:nth-child(35) {
  --x: 31;
  --y: -689;
  --r: 179;
}
.scatterMsg:hover:hover .letter:nth-child(35):hover, .scatterMsg:hover:focus .letter:nth-child(35):hover, .scatterMsg:focus:hover .letter:nth-child(35):hover, .scatterMsg:focus:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -434;
  --y: -180;
  --r: -571;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(36), .scatterMsg:hover:focus .letter:nth-child(36), .scatterMsg:focus:hover .letter:nth-child(36), .scatterMsg:focus:focus .letter:nth-child(36) {
  --x: 12;
  --y: -662;
  --r: 124;
}
.scatterMsg:hover:hover .letter:nth-child(36):hover, .scatterMsg:hover:focus .letter:nth-child(36):hover, .scatterMsg:focus:hover .letter:nth-child(36):hover, .scatterMsg:focus:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -231;
  --y: 67;
  --r: 96;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(37), .scatterMsg:hover:focus .letter:nth-child(37), .scatterMsg:focus:hover .letter:nth-child(37), .scatterMsg:focus:focus .letter:nth-child(37) {
  --x: -28;
  --y: -416;
  --r: 192;
}
.scatterMsg:hover:hover .letter:nth-child(37):hover, .scatterMsg:hover:focus .letter:nth-child(37):hover, .scatterMsg:focus:hover .letter:nth-child(37):hover, .scatterMsg:focus:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -169;
  --y: -51;
  --r: -485;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(38), .scatterMsg:hover:focus .letter:nth-child(38), .scatterMsg:focus:hover .letter:nth-child(38), .scatterMsg:focus:focus .letter:nth-child(38) {
  --x: 48;
  --y: 63;
  --r: 28;
}
.scatterMsg:hover:hover .letter:nth-child(38):hover, .scatterMsg:hover:focus .letter:nth-child(38):hover, .scatterMsg:focus:hover .letter:nth-child(38):hover, .scatterMsg:focus:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -138;
  --y: -552;
  --r: -218;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(39), .scatterMsg:hover:focus .letter:nth-child(39), .scatterMsg:focus:hover .letter:nth-child(39), .scatterMsg:focus:focus .letter:nth-child(39) {
  --x: 59;
  --y: -521;
  --r: 120;
}
.scatterMsg:hover:hover .letter:nth-child(39):hover, .scatterMsg:hover:focus .letter:nth-child(39):hover, .scatterMsg:focus:hover .letter:nth-child(39):hover, .scatterMsg:focus:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -452;
  --y: -331;
  --r: -694;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(40), .scatterMsg:hover:focus .letter:nth-child(40), .scatterMsg:focus:hover .letter:nth-child(40), .scatterMsg:focus:focus .letter:nth-child(40) {
  --x: -38;
  --y: -1184;
  --r: 142;
}
.scatterMsg:hover:hover .letter:nth-child(40):hover, .scatterMsg:hover:focus .letter:nth-child(40):hover, .scatterMsg:focus:hover .letter:nth-child(40):hover, .scatterMsg:focus:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 12;
  --y: -272;
  --r: -276;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(41), .scatterMsg:hover:focus .letter:nth-child(41), .scatterMsg:focus:hover .letter:nth-child(41), .scatterMsg:focus:focus .letter:nth-child(41) {
  --x: -48;
  --y: 91;
  --r: 259;
}
.scatterMsg:hover:hover .letter:nth-child(41):hover, .scatterMsg:hover:focus .letter:nth-child(41):hover, .scatterMsg:focus:hover .letter:nth-child(41):hover, .scatterMsg:focus:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -202;
  --y: -591;
  --r: -382;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(42), .scatterMsg:hover:focus .letter:nth-child(42), .scatterMsg:focus:hover .letter:nth-child(42), .scatterMsg:focus:focus .letter:nth-child(42) {
  --x: 93;
  --y: -1375;
  --r: 251;
}
.scatterMsg:hover:hover .letter:nth-child(42):hover, .scatterMsg:hover:focus .letter:nth-child(42):hover, .scatterMsg:focus:hover .letter:nth-child(42):hover, .scatterMsg:focus:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -385;
  --y: -498;
  --r: -691;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(43), .scatterMsg:hover:focus .letter:nth-child(43), .scatterMsg:focus:hover .letter:nth-child(43), .scatterMsg:focus:focus .letter:nth-child(43) {
  --x: 59;
  --y: -212;
  --r: 340;
}
.scatterMsg:hover:hover .letter:nth-child(43):hover, .scatterMsg:hover:focus .letter:nth-child(43):hover, .scatterMsg:focus:hover .letter:nth-child(43):hover, .scatterMsg:focus:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -184;
  --y: -604;
  --r: -95;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(44), .scatterMsg:hover:focus .letter:nth-child(44), .scatterMsg:focus:hover .letter:nth-child(44), .scatterMsg:focus:focus .letter:nth-child(44) {
  --x: 51;
  --y: -1188;
  --r: 270;
}
.scatterMsg:hover:hover .letter:nth-child(44):hover, .scatterMsg:hover:focus .letter:nth-child(44):hover, .scatterMsg:focus:hover .letter:nth-child(44):hover, .scatterMsg:focus:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -206;
  --y: -40;
  --r: -186;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(45), .scatterMsg:hover:focus .letter:nth-child(45), .scatterMsg:focus:hover .letter:nth-child(45), .scatterMsg:focus:focus .letter:nth-child(45) {
  --x: 31;
  --y: -819;
  --r: 164;
}
.scatterMsg:hover:hover .letter:nth-child(45):hover, .scatterMsg:hover:focus .letter:nth-child(45):hover, .scatterMsg:focus:hover .letter:nth-child(45):hover, .scatterMsg:focus:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -529;
  --y: -177;
  --r: -310;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(46), .scatterMsg:hover:focus .letter:nth-child(46), .scatterMsg:focus:hover .letter:nth-child(46), .scatterMsg:focus:focus .letter:nth-child(46) {
  --x: 96;
  --y: -280;
  --r: 78;
}
.scatterMsg:hover:hover .letter:nth-child(46):hover, .scatterMsg:hover:focus .letter:nth-child(46):hover, .scatterMsg:focus:hover .letter:nth-child(46):hover, .scatterMsg:focus:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -17;
  --y: -145;
  --r: -667;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(47), .scatterMsg:hover:focus .letter:nth-child(47), .scatterMsg:focus:hover .letter:nth-child(47), .scatterMsg:focus:focus .letter:nth-child(47) {
  --x: 76;
  --y: -459;
  --r: 265;
}
.scatterMsg:hover:hover .letter:nth-child(47):hover, .scatterMsg:hover:focus .letter:nth-child(47):hover, .scatterMsg:focus:hover .letter:nth-child(47):hover, .scatterMsg:focus:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -435;
  --y: 14;
  --r: -217;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(48), .scatterMsg:hover:focus .letter:nth-child(48), .scatterMsg:focus:hover .letter:nth-child(48), .scatterMsg:focus:focus .letter:nth-child(48) {
  --x: 31;
  --y: -1127;
  --r: 238;
}
.scatterMsg:hover:hover .letter:nth-child(48):hover, .scatterMsg:hover:focus .letter:nth-child(48):hover, .scatterMsg:focus:hover .letter:nth-child(48):hover, .scatterMsg:focus:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 27;
  --y: -412;
  --r: -328;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(49), .scatterMsg:hover:focus .letter:nth-child(49), .scatterMsg:focus:hover .letter:nth-child(49), .scatterMsg:focus:focus .letter:nth-child(49) {
  --x: -15;
  --y: -1053;
  --r: 335;
}
.scatterMsg:hover:hover .letter:nth-child(49):hover, .scatterMsg:hover:focus .letter:nth-child(49):hover, .scatterMsg:focus:hover .letter:nth-child(49):hover, .scatterMsg:focus:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -547;
  --y: -161;
  --r: -265;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(50), .scatterMsg:hover:focus .letter:nth-child(50), .scatterMsg:focus:hover .letter:nth-child(50), .scatterMsg:focus:focus .letter:nth-child(50) {
  --x: -23;
  --y: 4;
  --r: 233;
}
.scatterMsg:hover:hover .letter:nth-child(50):hover, .scatterMsg:hover:focus .letter:nth-child(50):hover, .scatterMsg:focus:hover .letter:nth-child(50):hover, .scatterMsg:focus:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -473;
  --y: 9;
  --r: 0;
  --s: 1.8;
}

.menu .scatterMsg {
  z-index: 2;
}
.menu .scatterMsg:hover, .menu .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.menu .scatterMsg:hover:hover, .menu .scatterMsg:hover:focus, .menu .scatterMsg:focus:hover, .menu .scatterMsg:focus:focus {
  opacity: 1;
}
.menu .scatterMsg:hover:hover .letter::before, .menu .scatterMsg:hover:focus .letter::before, .menu .scatterMsg:focus:hover .letter::before, .menu .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1), .menu .scatterMsg:hover:focus .letter:nth-child(1), .menu .scatterMsg:focus:hover .letter:nth-child(1), .menu .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: -18;
  --y: 8;
  --r: 20;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1):hover, .menu .scatterMsg:hover:hover .letter:nth-child(1):focus, .menu .scatterMsg:hover:focus .letter:nth-child(1):hover, .menu .scatterMsg:hover:focus .letter:nth-child(1):focus, .menu .scatterMsg:focus:hover .letter:nth-child(1):hover, .menu .scatterMsg:focus:hover .letter:nth-child(1):focus, .menu .scatterMsg:focus:focus .letter:nth-child(1):hover, .menu .scatterMsg:focus:focus .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 2;
  --y: 8;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2), .menu .scatterMsg:hover:focus .letter:nth-child(2), .menu .scatterMsg:focus:hover .letter:nth-child(2), .menu .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 18;
  --y: 13;
  --r: 14;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2):hover, .menu .scatterMsg:hover:hover .letter:nth-child(2):focus, .menu .scatterMsg:hover:focus .letter:nth-child(2):hover, .menu .scatterMsg:hover:focus .letter:nth-child(2):focus, .menu .scatterMsg:focus:hover .letter:nth-child(2):hover, .menu .scatterMsg:focus:hover .letter:nth-child(2):focus, .menu .scatterMsg:focus:focus .letter:nth-child(2):hover, .menu .scatterMsg:focus:focus .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 6;
  --y: -1;
  --r: -8;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3), .menu .scatterMsg:hover:focus .letter:nth-child(3), .menu .scatterMsg:focus:hover .letter:nth-child(3), .menu .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: 20;
  --y: -13;
  --r: -1;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3):hover, .menu .scatterMsg:hover:hover .letter:nth-child(3):focus, .menu .scatterMsg:hover:focus .letter:nth-child(3):hover, .menu .scatterMsg:hover:focus .letter:nth-child(3):focus, .menu .scatterMsg:focus:hover .letter:nth-child(3):hover, .menu .scatterMsg:focus:hover .letter:nth-child(3):focus, .menu .scatterMsg:focus:focus .letter:nth-child(3):hover, .menu .scatterMsg:focus:focus .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 3;
  --y: 0;
  --r: -9;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4), .menu .scatterMsg:hover:focus .letter:nth-child(4), .menu .scatterMsg:focus:hover .letter:nth-child(4), .menu .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 16;
  --y: -8;
  --r: 5;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4):hover, .menu .scatterMsg:hover:hover .letter:nth-child(4):focus, .menu .scatterMsg:hover:focus .letter:nth-child(4):hover, .menu .scatterMsg:hover:focus .letter:nth-child(4):focus, .menu .scatterMsg:focus:hover .letter:nth-child(4):hover, .menu .scatterMsg:focus:hover .letter:nth-child(4):focus, .menu .scatterMsg:focus:focus .letter:nth-child(4):hover, .menu .scatterMsg:focus:focus .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 5;
  --y: -6;
  --r: 10;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5), .menu .scatterMsg:hover:focus .letter:nth-child(5), .menu .scatterMsg:focus:hover .letter:nth-child(5), .menu .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: 3;
  --y: -14;
  --r: 8;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5):hover, .menu .scatterMsg:hover:hover .letter:nth-child(5):focus, .menu .scatterMsg:hover:focus .letter:nth-child(5):hover, .menu .scatterMsg:hover:focus .letter:nth-child(5):focus, .menu .scatterMsg:focus:hover .letter:nth-child(5):hover, .menu .scatterMsg:focus:hover .letter:nth-child(5):focus, .menu .scatterMsg:focus:focus .letter:nth-child(5):hover, .menu .scatterMsg:focus:focus .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -9;
  --y: 10;
  --r: 8;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6), .menu .scatterMsg:hover:focus .letter:nth-child(6), .menu .scatterMsg:focus:hover .letter:nth-child(6), .menu .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: -14;
  --y: 10;
  --r: -2;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6):hover, .menu .scatterMsg:hover:hover .letter:nth-child(6):focus, .menu .scatterMsg:hover:focus .letter:nth-child(6):hover, .menu .scatterMsg:hover:focus .letter:nth-child(6):focus, .menu .scatterMsg:focus:hover .letter:nth-child(6):hover, .menu .scatterMsg:focus:hover .letter:nth-child(6):focus, .menu .scatterMsg:focus:focus .letter:nth-child(6):hover, .menu .scatterMsg:focus:focus .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -9;
  --y: 7;
  --r: 1;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7), .menu .scatterMsg:hover:focus .letter:nth-child(7), .menu .scatterMsg:focus:hover .letter:nth-child(7), .menu .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 18;
  --y: 13;
  --r: 19;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7):hover, .menu .scatterMsg:hover:hover .letter:nth-child(7):focus, .menu .scatterMsg:hover:focus .letter:nth-child(7):hover, .menu .scatterMsg:hover:focus .letter:nth-child(7):focus, .menu .scatterMsg:focus:hover .letter:nth-child(7):hover, .menu .scatterMsg:focus:hover .letter:nth-child(7):focus, .menu .scatterMsg:focus:focus .letter:nth-child(7):hover, .menu .scatterMsg:focus:focus .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: 6;
  --r: 6;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8), .menu .scatterMsg:hover:focus .letter:nth-child(8), .menu .scatterMsg:focus:hover .letter:nth-child(8), .menu .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 13;
  --y: 9;
  --r: 2;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8):hover, .menu .scatterMsg:hover:hover .letter:nth-child(8):focus, .menu .scatterMsg:hover:focus .letter:nth-child(8):hover, .menu .scatterMsg:hover:focus .letter:nth-child(8):focus, .menu .scatterMsg:focus:hover .letter:nth-child(8):hover, .menu .scatterMsg:focus:hover .letter:nth-child(8):focus, .menu .scatterMsg:focus:focus .letter:nth-child(8):hover, .menu .scatterMsg:focus:focus .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 8;
  --y: -6;
  --r: -4;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9), .menu .scatterMsg:hover:focus .letter:nth-child(9), .menu .scatterMsg:focus:hover .letter:nth-child(9), .menu .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: 3;
  --y: 14;
  --r: -5;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9):hover, .menu .scatterMsg:hover:hover .letter:nth-child(9):focus, .menu .scatterMsg:hover:focus .letter:nth-child(9):hover, .menu .scatterMsg:hover:focus .letter:nth-child(9):focus, .menu .scatterMsg:focus:hover .letter:nth-child(9):hover, .menu .scatterMsg:focus:hover .letter:nth-child(9):focus, .menu .scatterMsg:focus:focus .letter:nth-child(9):hover, .menu .scatterMsg:focus:focus .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -8;
  --y: 3;
  --r: -7;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10), .menu .scatterMsg:hover:focus .letter:nth-child(10), .menu .scatterMsg:focus:hover .letter:nth-child(10), .menu .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: 1;
  --y: 11;
  --r: -8;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10):hover, .menu .scatterMsg:hover:hover .letter:nth-child(10):focus, .menu .scatterMsg:hover:focus .letter:nth-child(10):hover, .menu .scatterMsg:hover:focus .letter:nth-child(10):focus, .menu .scatterMsg:focus:hover .letter:nth-child(10):hover, .menu .scatterMsg:focus:hover .letter:nth-child(10):focus, .menu .scatterMsg:focus:focus .letter:nth-child(10):hover, .menu .scatterMsg:focus:focus .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 5;
  --y: -8;
  --r: -5;
  --s: 1.25;
}

.menu .scatterMsg.active .letter {
  font-weight: 700;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}
.menu .scatterMsg.active .letter:nth-child(1) {
  --x: -1;
  --y: 7;
  --r: 3;
}
.menu .scatterMsg.active .letter:nth-child(1):hover, .menu .scatterMsg.active .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -4;
  --y: -2;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(2) {
  --x: 12;
  --y: 12;
  --r: 20;
}
.menu .scatterMsg.active .letter:nth-child(2):hover, .menu .scatterMsg.active .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -5;
  --y: 1;
  --r: 2;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(3) {
  --x: -9;
  --y: 6;
  --r: -19;
}
.menu .scatterMsg.active .letter:nth-child(3):hover, .menu .scatterMsg.active .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 2;
  --y: -3;
  --r: 2;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(4) {
  --x: 14;
  --y: -18;
  --r: -6;
}
.menu .scatterMsg.active .letter:nth-child(4):hover, .menu .scatterMsg.active .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 1;
  --y: -6;
  --r: -4;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(5) {
  --x: -18;
  --y: -17;
  --r: 15;
}
.menu .scatterMsg.active .letter:nth-child(5):hover, .menu .scatterMsg.active .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -6;
  --y: -4;
  --r: -7;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(6) {
  --x: 3;
  --y: -14;
  --r: -16;
}
.menu .scatterMsg.active .letter:nth-child(6):hover, .menu .scatterMsg.active .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 7;
  --y: -6;
  --r: -8;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(7) {
  --x: -9;
  --y: 12;
  --r: -5;
}
.menu .scatterMsg.active .letter:nth-child(7):hover, .menu .scatterMsg.active .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -8;
  --y: 5;
  --r: 8;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(8) {
  --x: -7;
  --y: 18;
  --r: 3;
}
.menu .scatterMsg.active .letter:nth-child(8):hover, .menu .scatterMsg.active .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: -4;
  --r: -5;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(9) {
  --x: -2;
  --y: 1;
  --r: -15;
}
.menu .scatterMsg.active .letter:nth-child(9):hover, .menu .scatterMsg.active .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: 9;
  --r: 1;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(10) {
  --x: 12;
  --y: 5;
  --r: -11;
}
.menu .scatterMsg.active .letter:nth-child(10):hover, .menu .scatterMsg.active .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 9;
  --y: -5;
  --r: -9;
  --s: 1.25;
}

@media (max-width: 700px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
  }
  .scatterMsg {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styleGrid.css.map */