@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100dvh;
  overflow-y: auto;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8705882353);
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #121212;
  height: 64px;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: rgba(255, 255, 255, 0.8705882353);
  text-decoration: none;
}

nav a,
nav .menu a {
  margin: 8px;
  font-size: 1.2rem;
}

.projectsContainer {
  margin-top: 72px;
  width: 100%;
  max-width: 100%;
  height: 90dvh;
  overflow-y: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}

a.project:nth-child(odd) {
  padding: 48px 16px;
}

a.project {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 16px;
}

.projectTitle {
  display: flex;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
}

.number {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}

.year {
  margin: 8px;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.projectImg {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img {
  width: 100%;
  box-sizing: border-box;
}

.projectImg img.verticalImg {
  width: auto;
  height: 100%;
}

.projectImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brightImg {
  opacity: 0.7;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

a.word {
  color: inherit;
}
a.word .letter {
  position: absolute;
}
a.word .letter::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: red;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}

.scatterMsg {
  font-size: 2rem;
  z-index: 2;
}
.scatterMsg:hover, .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.scatterMsg:hover:hover, .scatterMsg:hover:focus, .scatterMsg:focus:hover, .scatterMsg:focus:focus {
  opacity: 1;
}
.scatterMsg:hover:hover .letter::before, .scatterMsg:hover:focus .letter::before, .scatterMsg:focus:hover .letter::before, .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.scatterMsg:hover:hover .letter:nth-child(1), .scatterMsg:hover:focus .letter:nth-child(1), .scatterMsg:focus:hover .letter:nth-child(1), .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: 62;
  --y: -162;
  --r: 162;
}
.scatterMsg:hover:hover .letter:nth-child(1):hover, .scatterMsg:hover:focus .letter:nth-child(1):hover, .scatterMsg:focus:hover .letter:nth-child(1):hover, .scatterMsg:focus:focus .letter:nth-child(1):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -422;
  --y: -132;
  --r: -372;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(2), .scatterMsg:hover:focus .letter:nth-child(2), .scatterMsg:focus:hover .letter:nth-child(2), .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: -42;
  --y: -762;
  --r: 92;
}
.scatterMsg:hover:hover .letter:nth-child(2):hover, .scatterMsg:hover:focus .letter:nth-child(2):hover, .scatterMsg:focus:hover .letter:nth-child(2):hover, .scatterMsg:focus:focus .letter:nth-child(2):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -88;
  --y: 12;
  --r: -599;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(3), .scatterMsg:hover:focus .letter:nth-child(3), .scatterMsg:focus:hover .letter:nth-child(3), .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: -36;
  --y: -1111;
  --r: 96;
}
.scatterMsg:hover:hover .letter:nth-child(3):hover, .scatterMsg:hover:focus .letter:nth-child(3):hover, .scatterMsg:focus:hover .letter:nth-child(3):hover, .scatterMsg:focus:focus .letter:nth-child(3):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -90;
  --y: -612;
  --r: -411;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(4), .scatterMsg:hover:focus .letter:nth-child(4), .scatterMsg:focus:hover .letter:nth-child(4), .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 26;
  --y: -1317;
  --r: 195;
}
.scatterMsg:hover:hover .letter:nth-child(4):hover, .scatterMsg:hover:focus .letter:nth-child(4):hover, .scatterMsg:focus:hover .letter:nth-child(4):hover, .scatterMsg:focus:focus .letter:nth-child(4):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -468;
  --y: -87;
  --r: 75;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(5), .scatterMsg:hover:focus .letter:nth-child(5), .scatterMsg:focus:hover .letter:nth-child(5), .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: 86;
  --y: -702;
  --r: 267;
}
.scatterMsg:hover:hover .letter:nth-child(5):hover, .scatterMsg:hover:focus .letter:nth-child(5):hover, .scatterMsg:focus:hover .letter:nth-child(5):hover, .scatterMsg:focus:focus .letter:nth-child(5):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -512;
  --y: 73;
  --r: -314;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(6), .scatterMsg:hover:focus .letter:nth-child(6), .scatterMsg:focus:hover .letter:nth-child(6), .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: -35;
  --y: -166;
  --r: 248;
}
.scatterMsg:hover:hover .letter:nth-child(6):hover, .scatterMsg:hover:focus .letter:nth-child(6):hover, .scatterMsg:focus:hover .letter:nth-child(6):hover, .scatterMsg:focus:focus .letter:nth-child(6):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -526;
  --y: -550;
  --r: 20;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(7), .scatterMsg:hover:focus .letter:nth-child(7), .scatterMsg:focus:hover .letter:nth-child(7), .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 46;
  --y: -534;
  --r: 55;
}
.scatterMsg:hover:hover .letter:nth-child(7):hover, .scatterMsg:hover:focus .letter:nth-child(7):hover, .scatterMsg:focus:hover .letter:nth-child(7):hover, .scatterMsg:focus:focus .letter:nth-child(7):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -551;
  --y: -321;
  --r: -691;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(8), .scatterMsg:hover:focus .letter:nth-child(8), .scatterMsg:focus:hover .letter:nth-child(8), .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 62;
  --y: -375;
  --r: 228;
}
.scatterMsg:hover:hover .letter:nth-child(8):hover, .scatterMsg:hover:focus .letter:nth-child(8):hover, .scatterMsg:focus:hover .letter:nth-child(8):hover, .scatterMsg:focus:focus .letter:nth-child(8):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 74;
  --y: -550;
  --r: -579;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(9), .scatterMsg:hover:focus .letter:nth-child(9), .scatterMsg:focus:hover .letter:nth-child(9), .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: 79;
  --y: -650;
  --r: 197;
}
.scatterMsg:hover:hover .letter:nth-child(9):hover, .scatterMsg:hover:focus .letter:nth-child(9):hover, .scatterMsg:focus:hover .letter:nth-child(9):hover, .scatterMsg:focus:focus .letter:nth-child(9):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -261;
  --y: -655;
  --r: -42;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(10), .scatterMsg:hover:focus .letter:nth-child(10), .scatterMsg:focus:hover .letter:nth-child(10), .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: 33;
  --y: -376;
  --r: 132;
}
.scatterMsg:hover:hover .letter:nth-child(10):hover, .scatterMsg:hover:focus .letter:nth-child(10):hover, .scatterMsg:focus:hover .letter:nth-child(10):hover, .scatterMsg:focus:focus .letter:nth-child(10):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -371;
  --y: -395;
  --r: -458;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(11), .scatterMsg:hover:focus .letter:nth-child(11), .scatterMsg:focus:hover .letter:nth-child(11), .scatterMsg:focus:focus .letter:nth-child(11) {
  --x: 60;
  --y: -714;
  --r: 255;
}
.scatterMsg:hover:hover .letter:nth-child(11):hover, .scatterMsg:hover:focus .letter:nth-child(11):hover, .scatterMsg:focus:hover .letter:nth-child(11):hover, .scatterMsg:focus:focus .letter:nth-child(11):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -28;
  --y: -610;
  --r: 3;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(12), .scatterMsg:hover:focus .letter:nth-child(12), .scatterMsg:focus:hover .letter:nth-child(12), .scatterMsg:focus:focus .letter:nth-child(12) {
  --x: 89;
  --y: 85;
  --r: 26;
}
.scatterMsg:hover:hover .letter:nth-child(12):hover, .scatterMsg:hover:focus .letter:nth-child(12):hover, .scatterMsg:focus:hover .letter:nth-child(12):hover, .scatterMsg:focus:focus .letter:nth-child(12):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -342;
  --y: -581;
  --r: 1;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(13), .scatterMsg:hover:focus .letter:nth-child(13), .scatterMsg:focus:hover .letter:nth-child(13), .scatterMsg:focus:focus .letter:nth-child(13) {
  --x: -40;
  --y: -1007;
  --r: 321;
}
.scatterMsg:hover:hover .letter:nth-child(13):hover, .scatterMsg:hover:focus .letter:nth-child(13):hover, .scatterMsg:focus:hover .letter:nth-child(13):hover, .scatterMsg:focus:focus .letter:nth-child(13):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -611;
  --y: -521;
  --r: -655;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(14), .scatterMsg:hover:focus .letter:nth-child(14), .scatterMsg:focus:hover .letter:nth-child(14), .scatterMsg:focus:focus .letter:nth-child(14) {
  --x: 50;
  --y: -1090;
  --r: 252;
}
.scatterMsg:hover:hover .letter:nth-child(14):hover, .scatterMsg:hover:focus .letter:nth-child(14):hover, .scatterMsg:focus:hover .letter:nth-child(14):hover, .scatterMsg:focus:focus .letter:nth-child(14):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -223;
  --y: -350;
  --r: -248;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(15), .scatterMsg:hover:focus .letter:nth-child(15), .scatterMsg:focus:hover .letter:nth-child(15), .scatterMsg:focus:focus .letter:nth-child(15) {
  --x: 19;
  --y: -142;
  --r: 179;
}
.scatterMsg:hover:hover .letter:nth-child(15):hover, .scatterMsg:hover:focus .letter:nth-child(15):hover, .scatterMsg:focus:hover .letter:nth-child(15):hover, .scatterMsg:focus:focus .letter:nth-child(15):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -19;
  --y: -265;
  --r: -225;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(16), .scatterMsg:hover:focus .letter:nth-child(16), .scatterMsg:focus:hover .letter:nth-child(16), .scatterMsg:focus:focus .letter:nth-child(16) {
  --x: -26;
  --y: -767;
  --r: 341;
}
.scatterMsg:hover:hover .letter:nth-child(16):hover, .scatterMsg:hover:focus .letter:nth-child(16):hover, .scatterMsg:focus:hover .letter:nth-child(16):hover, .scatterMsg:focus:focus .letter:nth-child(16):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -131;
  --y: -656;
  --r: 42;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(17), .scatterMsg:hover:focus .letter:nth-child(17), .scatterMsg:focus:hover .letter:nth-child(17), .scatterMsg:focus:focus .letter:nth-child(17) {
  --x: 72;
  --y: -1363;
  --r: 300;
}
.scatterMsg:hover:hover .letter:nth-child(17):hover, .scatterMsg:hover:focus .letter:nth-child(17):hover, .scatterMsg:focus:hover .letter:nth-child(17):hover, .scatterMsg:focus:focus .letter:nth-child(17):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -582;
  --y: -588;
  --r: -81;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(18), .scatterMsg:hover:focus .letter:nth-child(18), .scatterMsg:focus:hover .letter:nth-child(18), .scatterMsg:focus:focus .letter:nth-child(18) {
  --x: -19;
  --y: -1083;
  --r: 306;
}
.scatterMsg:hover:hover .letter:nth-child(18):hover, .scatterMsg:hover:focus .letter:nth-child(18):hover, .scatterMsg:focus:hover .letter:nth-child(18):hover, .scatterMsg:focus:focus .letter:nth-child(18):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 67;
  --y: -571;
  --r: -652;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(19), .scatterMsg:hover:focus .letter:nth-child(19), .scatterMsg:focus:hover .letter:nth-child(19), .scatterMsg:focus:focus .letter:nth-child(19) {
  --x: 55;
  --y: -2;
  --r: 92;
}
.scatterMsg:hover:hover .letter:nth-child(19):hover, .scatterMsg:hover:focus .letter:nth-child(19):hover, .scatterMsg:focus:hover .letter:nth-child(19):hover, .scatterMsg:focus:focus .letter:nth-child(19):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -266;
  --y: -129;
  --r: -514;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(20), .scatterMsg:hover:focus .letter:nth-child(20), .scatterMsg:focus:hover .letter:nth-child(20), .scatterMsg:focus:focus .letter:nth-child(20) {
  --x: 61;
  --y: -539;
  --r: 223;
}
.scatterMsg:hover:hover .letter:nth-child(20):hover, .scatterMsg:hover:focus .letter:nth-child(20):hover, .scatterMsg:focus:hover .letter:nth-child(20):hover, .scatterMsg:focus:focus .letter:nth-child(20):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -496;
  --y: -532;
  --r: -403;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(21), .scatterMsg:hover:focus .letter:nth-child(21), .scatterMsg:focus:hover .letter:nth-child(21), .scatterMsg:focus:focus .letter:nth-child(21) {
  --x: -10;
  --y: -35;
  --r: 14;
}
.scatterMsg:hover:hover .letter:nth-child(21):hover, .scatterMsg:hover:focus .letter:nth-child(21):hover, .scatterMsg:focus:hover .letter:nth-child(21):hover, .scatterMsg:focus:focus .letter:nth-child(21):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -678;
  --y: -505;
  --r: -669;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(22), .scatterMsg:hover:focus .letter:nth-child(22), .scatterMsg:focus:hover .letter:nth-child(22), .scatterMsg:focus:focus .letter:nth-child(22) {
  --x: 63;
  --y: -302;
  --r: 16;
}
.scatterMsg:hover:hover .letter:nth-child(22):hover, .scatterMsg:hover:focus .letter:nth-child(22):hover, .scatterMsg:focus:hover .letter:nth-child(22):hover, .scatterMsg:focus:focus .letter:nth-child(22):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -442;
  --y: -592;
  --r: -193;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(23), .scatterMsg:hover:focus .letter:nth-child(23), .scatterMsg:focus:hover .letter:nth-child(23), .scatterMsg:focus:focus .letter:nth-child(23) {
  --x: -6;
  --y: -25;
  --r: 85;
}
.scatterMsg:hover:hover .letter:nth-child(23):hover, .scatterMsg:hover:focus .letter:nth-child(23):hover, .scatterMsg:focus:hover .letter:nth-child(23):hover, .scatterMsg:focus:focus .letter:nth-child(23):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -36;
  --y: -490;
  --r: -420;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(24), .scatterMsg:hover:focus .letter:nth-child(24), .scatterMsg:focus:hover .letter:nth-child(24), .scatterMsg:focus:focus .letter:nth-child(24) {
  --x: 79;
  --y: -84;
  --r: 17;
}
.scatterMsg:hover:hover .letter:nth-child(24):hover, .scatterMsg:hover:focus .letter:nth-child(24):hover, .scatterMsg:focus:hover .letter:nth-child(24):hover, .scatterMsg:focus:focus .letter:nth-child(24):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -99;
  --y: -610;
  --r: -55;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(25), .scatterMsg:hover:focus .letter:nth-child(25), .scatterMsg:focus:hover .letter:nth-child(25), .scatterMsg:focus:focus .letter:nth-child(25) {
  --x: 35;
  --y: -10;
  --r: 279;
}
.scatterMsg:hover:hover .letter:nth-child(25):hover, .scatterMsg:hover:focus .letter:nth-child(25):hover, .scatterMsg:focus:hover .letter:nth-child(25):hover, .scatterMsg:focus:focus .letter:nth-child(25):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -288;
  --y: -403;
  --r: -657;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(26), .scatterMsg:hover:focus .letter:nth-child(26), .scatterMsg:focus:hover .letter:nth-child(26), .scatterMsg:focus:focus .letter:nth-child(26) {
  --x: 92;
  --y: 29;
  --r: 251;
}
.scatterMsg:hover:hover .letter:nth-child(26):hover, .scatterMsg:hover:focus .letter:nth-child(26):hover, .scatterMsg:focus:hover .letter:nth-child(26):hover, .scatterMsg:focus:focus .letter:nth-child(26):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -33;
  --y: -651;
  --r: -437;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(27), .scatterMsg:hover:focus .letter:nth-child(27), .scatterMsg:focus:hover .letter:nth-child(27), .scatterMsg:focus:focus .letter:nth-child(27) {
  --x: -47;
  --y: 71;
  --r: 103;
}
.scatterMsg:hover:hover .letter:nth-child(27):hover, .scatterMsg:hover:focus .letter:nth-child(27):hover, .scatterMsg:focus:hover .letter:nth-child(27):hover, .scatterMsg:focus:focus .letter:nth-child(27):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -8;
  --y: -655;
  --r: -573;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(28), .scatterMsg:hover:focus .letter:nth-child(28), .scatterMsg:focus:hover .letter:nth-child(28), .scatterMsg:focus:focus .letter:nth-child(28) {
  --x: 74;
  --y: -118;
  --r: 242;
}
.scatterMsg:hover:hover .letter:nth-child(28):hover, .scatterMsg:hover:focus .letter:nth-child(28):hover, .scatterMsg:focus:hover .letter:nth-child(28):hover, .scatterMsg:focus:focus .letter:nth-child(28):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -493;
  --y: -95;
  --r: -336;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(29), .scatterMsg:hover:focus .letter:nth-child(29), .scatterMsg:focus:hover .letter:nth-child(29), .scatterMsg:focus:focus .letter:nth-child(29) {
  --x: 0;
  --y: -245;
  --r: 92;
}
.scatterMsg:hover:hover .letter:nth-child(29):hover, .scatterMsg:hover:focus .letter:nth-child(29):hover, .scatterMsg:focus:hover .letter:nth-child(29):hover, .scatterMsg:focus:focus .letter:nth-child(29):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -580;
  --y: -619;
  --r: -350;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(30), .scatterMsg:hover:focus .letter:nth-child(30), .scatterMsg:focus:hover .letter:nth-child(30), .scatterMsg:focus:focus .letter:nth-child(30) {
  --x: 8;
  --y: -294;
  --r: 62;
}
.scatterMsg:hover:hover .letter:nth-child(30):hover, .scatterMsg:hover:focus .letter:nth-child(30):hover, .scatterMsg:focus:hover .letter:nth-child(30):hover, .scatterMsg:focus:focus .letter:nth-child(30):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -269;
  --y: -604;
  --r: -490;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(31), .scatterMsg:hover:focus .letter:nth-child(31), .scatterMsg:focus:hover .letter:nth-child(31), .scatterMsg:focus:focus .letter:nth-child(31) {
  --x: -24;
  --y: -913;
  --r: 172;
}
.scatterMsg:hover:hover .letter:nth-child(31):hover, .scatterMsg:hover:focus .letter:nth-child(31):hover, .scatterMsg:focus:hover .letter:nth-child(31):hover, .scatterMsg:focus:focus .letter:nth-child(31):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -161;
  --y: -470;
  --r: 88;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(32), .scatterMsg:hover:focus .letter:nth-child(32), .scatterMsg:focus:hover .letter:nth-child(32), .scatterMsg:focus:focus .letter:nth-child(32) {
  --x: 44;
  --y: -794;
  --r: 93;
}
.scatterMsg:hover:hover .letter:nth-child(32):hover, .scatterMsg:hover:focus .letter:nth-child(32):hover, .scatterMsg:focus:hover .letter:nth-child(32):hover, .scatterMsg:focus:focus .letter:nth-child(32):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -680;
  --y: -133;
  --r: 22;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(33), .scatterMsg:hover:focus .letter:nth-child(33), .scatterMsg:focus:hover .letter:nth-child(33), .scatterMsg:focus:focus .letter:nth-child(33) {
  --x: 30;
  --y: -186;
  --r: 80;
}
.scatterMsg:hover:hover .letter:nth-child(33):hover, .scatterMsg:hover:focus .letter:nth-child(33):hover, .scatterMsg:focus:hover .letter:nth-child(33):hover, .scatterMsg:focus:focus .letter:nth-child(33):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -88;
  --y: -550;
  --r: -284;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(34), .scatterMsg:hover:focus .letter:nth-child(34), .scatterMsg:focus:hover .letter:nth-child(34), .scatterMsg:focus:focus .letter:nth-child(34) {
  --x: 95;
  --y: -370;
  --r: 16;
}
.scatterMsg:hover:hover .letter:nth-child(34):hover, .scatterMsg:hover:focus .letter:nth-child(34):hover, .scatterMsg:focus:hover .letter:nth-child(34):hover, .scatterMsg:focus:focus .letter:nth-child(34):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -236;
  --y: -459;
  --r: -441;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(35), .scatterMsg:hover:focus .letter:nth-child(35), .scatterMsg:focus:hover .letter:nth-child(35), .scatterMsg:focus:focus .letter:nth-child(35) {
  --x: 45;
  --y: -257;
  --r: 4;
}
.scatterMsg:hover:hover .letter:nth-child(35):hover, .scatterMsg:hover:focus .letter:nth-child(35):hover, .scatterMsg:focus:hover .letter:nth-child(35):hover, .scatterMsg:focus:focus .letter:nth-child(35):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -222;
  --y: -389;
  --r: -102;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(36), .scatterMsg:hover:focus .letter:nth-child(36), .scatterMsg:focus:hover .letter:nth-child(36), .scatterMsg:focus:focus .letter:nth-child(36) {
  --x: 7;
  --y: -567;
  --r: 258;
}
.scatterMsg:hover:hover .letter:nth-child(36):hover, .scatterMsg:hover:focus .letter:nth-child(36):hover, .scatterMsg:focus:hover .letter:nth-child(36):hover, .scatterMsg:focus:focus .letter:nth-child(36):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -566;
  --y: -346;
  --r: -275;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(37), .scatterMsg:hover:focus .letter:nth-child(37), .scatterMsg:focus:hover .letter:nth-child(37), .scatterMsg:focus:focus .letter:nth-child(37) {
  --x: -23;
  --y: -1132;
  --r: 276;
}
.scatterMsg:hover:hover .letter:nth-child(37):hover, .scatterMsg:hover:focus .letter:nth-child(37):hover, .scatterMsg:focus:hover .letter:nth-child(37):hover, .scatterMsg:focus:focus .letter:nth-child(37):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 34;
  --y: -601;
  --r: -447;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(38), .scatterMsg:hover:focus .letter:nth-child(38), .scatterMsg:focus:hover .letter:nth-child(38), .scatterMsg:focus:focus .letter:nth-child(38) {
  --x: 11;
  --y: -673;
  --r: 216;
}
.scatterMsg:hover:hover .letter:nth-child(38):hover, .scatterMsg:hover:focus .letter:nth-child(38):hover, .scatterMsg:focus:hover .letter:nth-child(38):hover, .scatterMsg:focus:focus .letter:nth-child(38):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -311;
  --y: -308;
  --r: -175;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(39), .scatterMsg:hover:focus .letter:nth-child(39), .scatterMsg:focus:hover .letter:nth-child(39), .scatterMsg:focus:focus .letter:nth-child(39) {
  --x: -35;
  --y: -698;
  --r: 7;
}
.scatterMsg:hover:hover .letter:nth-child(39):hover, .scatterMsg:hover:focus .letter:nth-child(39):hover, .scatterMsg:focus:hover .letter:nth-child(39):hover, .scatterMsg:focus:focus .letter:nth-child(39):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -128;
  --y: -43;
  --r: -216;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(40), .scatterMsg:hover:focus .letter:nth-child(40), .scatterMsg:focus:hover .letter:nth-child(40), .scatterMsg:focus:focus .letter:nth-child(40) {
  --x: 2;
  --y: 56;
  --r: 240;
}
.scatterMsg:hover:hover .letter:nth-child(40):hover, .scatterMsg:hover:focus .letter:nth-child(40):hover, .scatterMsg:focus:hover .letter:nth-child(40):hover, .scatterMsg:focus:focus .letter:nth-child(40):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -491;
  --y: 30;
  --r: -416;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(41), .scatterMsg:hover:focus .letter:nth-child(41), .scatterMsg:focus:hover .letter:nth-child(41), .scatterMsg:focus:focus .letter:nth-child(41) {
  --x: -41;
  --y: -565;
  --r: 36;
}
.scatterMsg:hover:hover .letter:nth-child(41):hover, .scatterMsg:hover:focus .letter:nth-child(41):hover, .scatterMsg:focus:hover .letter:nth-child(41):hover, .scatterMsg:focus:focus .letter:nth-child(41):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -415;
  --y: 40;
  --r: -502;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(42), .scatterMsg:hover:focus .letter:nth-child(42), .scatterMsg:focus:hover .letter:nth-child(42), .scatterMsg:focus:focus .letter:nth-child(42) {
  --x: -4;
  --y: 53;
  --r: 199;
}
.scatterMsg:hover:hover .letter:nth-child(42):hover, .scatterMsg:hover:focus .letter:nth-child(42):hover, .scatterMsg:focus:hover .letter:nth-child(42):hover, .scatterMsg:focus:focus .letter:nth-child(42):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -632;
  --y: -555;
  --r: -55;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(43), .scatterMsg:hover:focus .letter:nth-child(43), .scatterMsg:focus:hover .letter:nth-child(43), .scatterMsg:focus:focus .letter:nth-child(43) {
  --x: -47;
  --y: -1382;
  --r: 135;
}
.scatterMsg:hover:hover .letter:nth-child(43):hover, .scatterMsg:hover:focus .letter:nth-child(43):hover, .scatterMsg:focus:hover .letter:nth-child(43):hover, .scatterMsg:focus:focus .letter:nth-child(43):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -321;
  --y: -642;
  --r: 20;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(44), .scatterMsg:hover:focus .letter:nth-child(44), .scatterMsg:focus:hover .letter:nth-child(44), .scatterMsg:focus:focus .letter:nth-child(44) {
  --x: -41;
  --y: -773;
  --r: 180;
}
.scatterMsg:hover:hover .letter:nth-child(44):hover, .scatterMsg:hover:focus .letter:nth-child(44):hover, .scatterMsg:focus:hover .letter:nth-child(44):hover, .scatterMsg:focus:focus .letter:nth-child(44):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -52;
  --y: -187;
  --r: -123;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(45), .scatterMsg:hover:focus .letter:nth-child(45), .scatterMsg:focus:hover .letter:nth-child(45), .scatterMsg:focus:focus .letter:nth-child(45) {
  --x: -50;
  --y: -413;
  --r: 216;
}
.scatterMsg:hover:hover .letter:nth-child(45):hover, .scatterMsg:hover:focus .letter:nth-child(45):hover, .scatterMsg:focus:hover .letter:nth-child(45):hover, .scatterMsg:focus:focus .letter:nth-child(45):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -448;
  --y: -611;
  --r: -146;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(46), .scatterMsg:hover:focus .letter:nth-child(46), .scatterMsg:focus:hover .letter:nth-child(46), .scatterMsg:focus:focus .letter:nth-child(46) {
  --x: 18;
  --y: -93;
  --r: 348;
}
.scatterMsg:hover:hover .letter:nth-child(46):hover, .scatterMsg:hover:focus .letter:nth-child(46):hover, .scatterMsg:focus:hover .letter:nth-child(46):hover, .scatterMsg:focus:focus .letter:nth-child(46):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -564;
  --y: -135;
  --r: 61;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(47), .scatterMsg:hover:focus .letter:nth-child(47), .scatterMsg:focus:hover .letter:nth-child(47), .scatterMsg:focus:focus .letter:nth-child(47) {
  --x: -37;
  --y: -213;
  --r: 106;
}
.scatterMsg:hover:hover .letter:nth-child(47):hover, .scatterMsg:hover:focus .letter:nth-child(47):hover, .scatterMsg:focus:hover .letter:nth-child(47):hover, .scatterMsg:focus:focus .letter:nth-child(47):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: 92;
  --y: -69;
  --r: -329;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(48), .scatterMsg:hover:focus .letter:nth-child(48), .scatterMsg:focus:hover .letter:nth-child(48), .scatterMsg:focus:focus .letter:nth-child(48) {
  --x: 26;
  --y: -489;
  --r: 258;
}
.scatterMsg:hover:hover .letter:nth-child(48):hover, .scatterMsg:hover:focus .letter:nth-child(48):hover, .scatterMsg:focus:hover .letter:nth-child(48):hover, .scatterMsg:focus:focus .letter:nth-child(48):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -645;
  --y: -607;
  --r: -212;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(49), .scatterMsg:hover:focus .letter:nth-child(49), .scatterMsg:focus:hover .letter:nth-child(49), .scatterMsg:focus:focus .letter:nth-child(49) {
  --x: -45;
  --y: -408;
  --r: 129;
}
.scatterMsg:hover:hover .letter:nth-child(49):hover, .scatterMsg:hover:focus .letter:nth-child(49):hover, .scatterMsg:focus:hover .letter:nth-child(49):hover, .scatterMsg:focus:focus .letter:nth-child(49):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -698;
  --y: -190;
  --r: -490;
  --s: 1.8;
}
.scatterMsg:hover:hover .letter:nth-child(50), .scatterMsg:hover:focus .letter:nth-child(50), .scatterMsg:focus:hover .letter:nth-child(50), .scatterMsg:focus:focus .letter:nth-child(50) {
  --x: -37;
  --y: -512;
  --r: 325;
}
.scatterMsg:hover:hover .letter:nth-child(50):hover, .scatterMsg:hover:focus .letter:nth-child(50):hover, .scatterMsg:focus:hover .letter:nth-child(50):hover, .scatterMsg:focus:focus .letter:nth-child(50):hover {
  z-index: 2;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  --x: -231;
  --y: -301;
  --r: -290;
  --s: 1.8;
}

.menu .scatterMsg {
  z-index: 2;
}
.menu .scatterMsg:hover, .menu .scatterMsg:focus {
  opacity: 1;
}
@root {
  @keyframes wobble {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25%, 75% {
      transform: translateY(-10px) rotate(10deg);
    }
    50% {
      transform: translateY(5px) rotate(-5deg);
    }
  }
}
.menu .scatterMsg:hover:hover, .menu .scatterMsg:hover:focus, .menu .scatterMsg:focus:hover, .menu .scatterMsg:focus:focus {
  opacity: 1;
}
.menu .scatterMsg:hover:hover .letter::before, .menu .scatterMsg:hover:focus .letter::before, .menu .scatterMsg:focus:hover .letter::before, .menu .scatterMsg:focus:focus .letter::before {
  animation: wobble 0.3s infinite;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1), .menu .scatterMsg:hover:focus .letter:nth-child(1), .menu .scatterMsg:focus:hover .letter:nth-child(1), .menu .scatterMsg:focus:focus .letter:nth-child(1) {
  --x: -15;
  --y: -17;
  --r: 4;
}
.menu .scatterMsg:hover:hover .letter:nth-child(1):hover, .menu .scatterMsg:hover:hover .letter:nth-child(1):focus, .menu .scatterMsg:hover:focus .letter:nth-child(1):hover, .menu .scatterMsg:hover:focus .letter:nth-child(1):focus, .menu .scatterMsg:focus:hover .letter:nth-child(1):hover, .menu .scatterMsg:focus:hover .letter:nth-child(1):focus, .menu .scatterMsg:focus:focus .letter:nth-child(1):hover, .menu .scatterMsg:focus:focus .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 3;
  --y: 2;
  --r: 1;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2), .menu .scatterMsg:hover:focus .letter:nth-child(2), .menu .scatterMsg:focus:hover .letter:nth-child(2), .menu .scatterMsg:focus:focus .letter:nth-child(2) {
  --x: 10;
  --y: -8;
  --r: -7;
}
.menu .scatterMsg:hover:hover .letter:nth-child(2):hover, .menu .scatterMsg:hover:hover .letter:nth-child(2):focus, .menu .scatterMsg:hover:focus .letter:nth-child(2):hover, .menu .scatterMsg:hover:focus .letter:nth-child(2):focus, .menu .scatterMsg:focus:hover .letter:nth-child(2):hover, .menu .scatterMsg:focus:hover .letter:nth-child(2):focus, .menu .scatterMsg:focus:focus .letter:nth-child(2):hover, .menu .scatterMsg:focus:focus .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 10;
  --y: -5;
  --r: -1;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3), .menu .scatterMsg:hover:focus .letter:nth-child(3), .menu .scatterMsg:focus:hover .letter:nth-child(3), .menu .scatterMsg:focus:focus .letter:nth-child(3) {
  --x: 12;
  --y: -19;
  --r: -17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(3):hover, .menu .scatterMsg:hover:hover .letter:nth-child(3):focus, .menu .scatterMsg:hover:focus .letter:nth-child(3):hover, .menu .scatterMsg:hover:focus .letter:nth-child(3):focus, .menu .scatterMsg:focus:hover .letter:nth-child(3):hover, .menu .scatterMsg:focus:hover .letter:nth-child(3):focus, .menu .scatterMsg:focus:focus .letter:nth-child(3):hover, .menu .scatterMsg:focus:focus .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 3;
  --y: -2;
  --r: 4;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4), .menu .scatterMsg:hover:focus .letter:nth-child(4), .menu .scatterMsg:focus:hover .letter:nth-child(4), .menu .scatterMsg:focus:focus .letter:nth-child(4) {
  --x: 15;
  --y: -12;
  --r: -6;
}
.menu .scatterMsg:hover:hover .letter:nth-child(4):hover, .menu .scatterMsg:hover:hover .letter:nth-child(4):focus, .menu .scatterMsg:hover:focus .letter:nth-child(4):hover, .menu .scatterMsg:hover:focus .letter:nth-child(4):focus, .menu .scatterMsg:focus:hover .letter:nth-child(4):hover, .menu .scatterMsg:focus:hover .letter:nth-child(4):focus, .menu .scatterMsg:focus:focus .letter:nth-child(4):hover, .menu .scatterMsg:focus:focus .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 1;
  --y: 8;
  --r: -5;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5), .menu .scatterMsg:hover:focus .letter:nth-child(5), .menu .scatterMsg:focus:hover .letter:nth-child(5), .menu .scatterMsg:focus:focus .letter:nth-child(5) {
  --x: -2;
  --y: 7;
  --r: -17;
}
.menu .scatterMsg:hover:hover .letter:nth-child(5):hover, .menu .scatterMsg:hover:hover .letter:nth-child(5):focus, .menu .scatterMsg:hover:focus .letter:nth-child(5):hover, .menu .scatterMsg:hover:focus .letter:nth-child(5):focus, .menu .scatterMsg:focus:hover .letter:nth-child(5):hover, .menu .scatterMsg:focus:hover .letter:nth-child(5):focus, .menu .scatterMsg:focus:focus .letter:nth-child(5):hover, .menu .scatterMsg:focus:focus .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -7;
  --y: -4;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6), .menu .scatterMsg:hover:focus .letter:nth-child(6), .menu .scatterMsg:focus:hover .letter:nth-child(6), .menu .scatterMsg:focus:focus .letter:nth-child(6) {
  --x: 2;
  --y: -7;
  --r: 15;
}
.menu .scatterMsg:hover:hover .letter:nth-child(6):hover, .menu .scatterMsg:hover:hover .letter:nth-child(6):focus, .menu .scatterMsg:hover:focus .letter:nth-child(6):hover, .menu .scatterMsg:hover:focus .letter:nth-child(6):focus, .menu .scatterMsg:focus:hover .letter:nth-child(6):hover, .menu .scatterMsg:focus:hover .letter:nth-child(6):focus, .menu .scatterMsg:focus:focus .letter:nth-child(6):hover, .menu .scatterMsg:focus:focus .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -7;
  --y: 8;
  --r: 2;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7), .menu .scatterMsg:hover:focus .letter:nth-child(7), .menu .scatterMsg:focus:hover .letter:nth-child(7), .menu .scatterMsg:focus:focus .letter:nth-child(7) {
  --x: 5;
  --y: 4;
  --r: 7;
}
.menu .scatterMsg:hover:hover .letter:nth-child(7):hover, .menu .scatterMsg:hover:hover .letter:nth-child(7):focus, .menu .scatterMsg:hover:focus .letter:nth-child(7):hover, .menu .scatterMsg:hover:focus .letter:nth-child(7):focus, .menu .scatterMsg:focus:hover .letter:nth-child(7):hover, .menu .scatterMsg:focus:hover .letter:nth-child(7):focus, .menu .scatterMsg:focus:focus .letter:nth-child(7):hover, .menu .scatterMsg:focus:focus .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 10;
  --y: -7;
  --r: 7;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8), .menu .scatterMsg:hover:focus .letter:nth-child(8), .menu .scatterMsg:focus:hover .letter:nth-child(8), .menu .scatterMsg:focus:focus .letter:nth-child(8) {
  --x: 9;
  --y: -9;
  --r: 13;
}
.menu .scatterMsg:hover:hover .letter:nth-child(8):hover, .menu .scatterMsg:hover:hover .letter:nth-child(8):focus, .menu .scatterMsg:hover:focus .letter:nth-child(8):hover, .menu .scatterMsg:hover:focus .letter:nth-child(8):focus, .menu .scatterMsg:focus:hover .letter:nth-child(8):hover, .menu .scatterMsg:focus:hover .letter:nth-child(8):focus, .menu .scatterMsg:focus:focus .letter:nth-child(8):hover, .menu .scatterMsg:focus:focus .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 8;
  --y: 0;
  --r: -2;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9), .menu .scatterMsg:hover:focus .letter:nth-child(9), .menu .scatterMsg:focus:hover .letter:nth-child(9), .menu .scatterMsg:focus:focus .letter:nth-child(9) {
  --x: -2;
  --y: 5;
  --r: 16;
}
.menu .scatterMsg:hover:hover .letter:nth-child(9):hover, .menu .scatterMsg:hover:hover .letter:nth-child(9):focus, .menu .scatterMsg:hover:focus .letter:nth-child(9):hover, .menu .scatterMsg:hover:focus .letter:nth-child(9):focus, .menu .scatterMsg:focus:hover .letter:nth-child(9):hover, .menu .scatterMsg:focus:hover .letter:nth-child(9):focus, .menu .scatterMsg:focus:focus .letter:nth-child(9):hover, .menu .scatterMsg:focus:focus .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -1;
  --y: 6;
  --r: -1;
  --s: 1.25;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10), .menu .scatterMsg:hover:focus .letter:nth-child(10), .menu .scatterMsg:focus:hover .letter:nth-child(10), .menu .scatterMsg:focus:focus .letter:nth-child(10) {
  --x: -6;
  --y: -12;
  --r: 11;
}
.menu .scatterMsg:hover:hover .letter:nth-child(10):hover, .menu .scatterMsg:hover:hover .letter:nth-child(10):focus, .menu .scatterMsg:hover:focus .letter:nth-child(10):hover, .menu .scatterMsg:hover:focus .letter:nth-child(10):focus, .menu .scatterMsg:focus:hover .letter:nth-child(10):hover, .menu .scatterMsg:focus:hover .letter:nth-child(10):focus, .menu .scatterMsg:focus:focus .letter:nth-child(10):hover, .menu .scatterMsg:focus:focus .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -6;
  --y: -4;
  --r: 2;
  --s: 1.25;
}

.menu .scatterMsg.active .letter {
  font-weight: 700;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));
}
.menu .scatterMsg.active .letter:nth-child(1) {
  --x: -1;
  --y: 2;
  --r: -9;
}
.menu .scatterMsg.active .letter:nth-child(1):hover, .menu .scatterMsg.active .letter:nth-child(1):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 6;
  --y: 9;
  --r: -1;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(2) {
  --x: 19;
  --y: -3;
  --r: -9;
}
.menu .scatterMsg.active .letter:nth-child(2):hover, .menu .scatterMsg.active .letter:nth-child(2):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -7;
  --y: 10;
  --r: -9;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(3) {
  --x: 1;
  --y: -17;
  --r: 5;
}
.menu .scatterMsg.active .letter:nth-child(3):hover, .menu .scatterMsg.active .letter:nth-child(3):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -4;
  --y: -8;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(4) {
  --x: 12;
  --y: -19;
  --r: -18;
}
.menu .scatterMsg.active .letter:nth-child(4):hover, .menu .scatterMsg.active .letter:nth-child(4):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 4;
  --y: 10;
  --r: 3;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(5) {
  --x: -12;
  --y: 5;
  --r: 18;
}
.menu .scatterMsg.active .letter:nth-child(5):hover, .menu .scatterMsg.active .letter:nth-child(5):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -4;
  --y: -1;
  --r: -5;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(6) {
  --x: -14;
  --y: 4;
  --r: 7;
}
.menu .scatterMsg.active .letter:nth-child(6):hover, .menu .scatterMsg.active .letter:nth-child(6):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 2;
  --y: 9;
  --r: -1;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(7) {
  --x: 2;
  --y: -4;
  --r: -15;
}
.menu .scatterMsg.active .letter:nth-child(7):hover, .menu .scatterMsg.active .letter:nth-child(7):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 1;
  --y: -4;
  --r: -2;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(8) {
  --x: -7;
  --y: 20;
  --r: -8;
}
.menu .scatterMsg.active .letter:nth-child(8):hover, .menu .scatterMsg.active .letter:nth-child(8):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: 5;
  --y: 2;
  --r: -6;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(9) {
  --x: 12;
  --y: 18;
  --r: -9;
}
.menu .scatterMsg.active .letter:nth-child(9):hover, .menu .scatterMsg.active .letter:nth-child(9):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -3;
  --y: 6;
  --r: 7;
  --s: 1.25;
}
.menu .scatterMsg.active .letter:nth-child(10) {
  --x: 10;
  --y: 3;
  --r: -11;
}
.menu .scatterMsg.active .letter:nth-child(10):hover, .menu .scatterMsg.active .letter:nth-child(10):focus {
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  --x: -1;
  --y: 0;
  --r: -4;
  --s: 1.25;
}

@media (max-width: 700px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
  }
  .scatterMsg {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styleGrid.css.map */